<template>
  <q-page padding>
    <addVacancies />
  </q-page>
</template>

<script>
import addVacancies from 'src/components/admin/vacancies/add'

export default {
  name: 'vacanciesAdd',
  components: {
    addVacancies
  }
}
</script>
