<template>
  <q-page padding>
    <vacanciesIndes />
  </q-page>
</template>

<script>
import vacanciesIndes from 'src/components/admin/vacancies/index'

export default {
  name: 'vacancies',
  components: {
    vacanciesIndes
  }
}
</script>
