<template>
  <div class="row">
    <div class="col-12 mobile-height">
      <newBanner :title="$t('whatWe')" :otherTitle="$t('offertWe')" :description="$t('servicesBannerDescription')" :img="'pagos.png'" :showOtherTitle="true" :descriptionTwo="''" />
    </div>
    <div class="col-12 q-mt-lg" ref="service-detail-section" v-if="filter.id">
      <div class="row full-width">
        <div class="col-12 col-md-6">
          <div class="service-video">
            <vimeo-player ref="player" :video-id="'' + filter.video">
            </vimeo-player>
          </div>
        </div>
        <div class="col-12 col-md-6 flex flex-center q-pb-lg">
          <div class="service-detail">
            <div class="row full-width">
              <div class="col-12 text-left">
                <span v-if="locale === 'es'" class="font-14 text-uppercase text-primary title">
                  {{filter.title}}
                </span>
                <span v-if="locale === 'en'" class="font-14 text-uppercase text-primary title">
                  {{filter.title_en}}
                </span>
              </div>
              <div class="col-12 text-left shadow.2 text-secondary text-justify font-12">
                <span v-if="locale === 'es'">{{filter.description}}</span>
                <span v-if="locale === 'en'">{{filter.description_en}}</span>
              </div>
              <div class="col-12 q-mt-md">
                <q-btn to="/appoinment" rounded outline :label="$t('requestAppoiement')" color="primary" size="14px" class="title text-left" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 q-mt-lg">
      <div class="container">
        <div class="row full-width">
          <serviceList />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import serviceList from './components/serviceList'
import newBanner from 'src/components/layout/newBanner'
// import newsLetter from 'src/components/layout/newsLetter'

import { services } from 'src/utils/services.json'

export default {
  // name: 'ComponentName',
  components: {
    serviceList,
    newBanner
    // newsLetter
  },
  computed: {
    locale () {
      return this.$store.getters['auth/locale']
    }
  },
  data () {
    return {
      imgBanner: 'banner-2-services.png',
      servicesLists: services,
      filter: {}
    }
  },
  methods: {
    filterService (id) {
      this.filter = this.servicesLists.find(data => {
        return data.id === id
      })
    }
  },
  beforeMount () {
  }
}
</script>
