<template>
  <q-page padding>
    <addBlogs />
  </q-page>
</template>

<script>
import addBlogs from 'src/components/admin/blogs/add'

export default {
  name: 'PageIndex',
  components: {
    addBlogs
  }
}
</script>
