<template>
  <q-page padding>
    <indexBlogs />
  </q-page>
</template>

<script>
import indexBlogs from 'src/components/admin/blogs/index'

export default {
  name: 'PageIndex',
  components: {
    indexBlogs
  }
}
</script>
