<template>
  <q-card style="max-width: 440px" class="q-ma-md">
    <headerLogin />
    <q-card-section>
      <fieldForm />
    </q-card-section>
  </q-card>
</template>

<script>
import headerLogin from 'src/components/auth/components/header'
import fieldForm from 'src/components/auth/components/field'

export default {
  // name: 'ComponentName',
  components: {
    headerLogin,
    fieldForm
  },
  data () {
    return {}
  }
}
</script>
