<template>
  <div class="row" :class="{ 'q-mt-lg': $route.path !== '/servicios' }">
    <div class="col-12">
      <servicesList />
    </div>
  </div>
</template>

<script>
import { services } from 'src/utils/services.json'
import servicesList from 'src/components/index/services/services'

export default {
  // name: 'ComponentName',
  components: {
    servicesList
  },
  computed: {
    locale () {
      return this.$store.getters['auth/locale']
    }
  },
  data () {
    return {
      selectedService: 1,
      filter: {},
      services: services
    }
  },
  methods: {
    setService (i) {
      this.selectedService = i
    },
    filterService (id) {
      const search = this.services.find(data => {
        return data.id === id
      })
      this.$router.push(search.path)
    }
  }
}
</script>
