<template>
  <section class="blogs">
    <newBanner :title="'BLOG'" :otherTitle="''" :description="$t('discoverBlog')" :img="'pagos.png'" :showOtherTitle="false" :descriptionTwo="''" />
    <categoriesBlogs />
    <postBlog />
  </section>
</template>

<script>
import newBanner from 'src/components/layout/newBanner'
import categoriesBlogs from 'src/components/blogs/components/categories'
import postBlog from 'src/components/blogs/components/post'

export default {
  // name: 'ComponentName',
  components: {
    newBanner,
    categoriesBlogs,
    postBlog
  },
  computed: {
    post () {
      return this.$store.getters['blogs/posts']
    }
  },
  data () {
    return {
    }
  },
  methods: {
    getPost () {
      this.$store.dispatch('blogs/getFrontPost')
        .then((resp) => {
        })
        .catch((err) => {
          console.log(err)
        })
    }
  },
  beforeMount () {
    this.getPost()
  }
}
</script>
