<template>
  <section class="blog-post">
    <div class="container">
      <headerPostBlog  v-if="postFilter.id" :title="postFilter.title" :titleEn="postFilter.title_en" :created="postFilter.created_at" />
      <postHeaderImg v-if="postFilter.id" :img="postFilter.header_img" :url="url" />
      <descriptionPost v-if="postFilter.id" :descriptionEn="postFilter.description_en" :category="postFilter.category.name" :title="postFilter.title" :url="url" :description="postFilter.description" />
      <newsPost v-if="postFilter.id" />
      <commentsPost v-if="postFilter.id" />
      <div class="row q-mt-lg" v-if="!postFilter.id">
        <div class="col-12">
          <center>
            <q-spinner color="primary" size="3em" />
          </center>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import headerPostBlog from 'src/components/blogs/post/header'
import postHeaderImg from 'src/components/blogs/post/headerImg'
import descriptionPost from 'src/components/blogs/post/desccription'
import newsPost from 'src/components/blogs/post/newsPost'
import commentsPost from 'src/components/blogs/post/comments'

import { domain } from 'src/api/data'

import { filterPost, likePost } from 'src/api/post'

export default {
  // name: 'ComponentName',
  components: {
    headerPostBlog,
    postHeaderImg,
    descriptionPost,
    newsPost,
    commentsPost
  },
  computed: {
    post () {
      return this.$store.getters['blogs/posts']
    }
  },
  data () {
    return {
      url: domain,
      postFilter: {},
      visible: true
    }
  },
  methods: {
    filterPost () {
      return filterPost(this.$route.params.id, (response) => {
        this.postFilter = response.data.success
        this.visible = false
        this.$store.dispatch('blogs/filterPost', this.postFilter)
      }, (err) => {
        this.$notify('negative', err.message, 'red-9')
      })
    },
    likePost () {
      const data = {}
      data.id = this.$route.params.id
      return likePost(data, (response) => {
        this.postFilter = response.data.success
        this.$store.dispatch('blogs/filterPost', this.postFilter)
      }, (err) => {
        this.$notify('negative', err.message, 'red-9')
      })
    }
  },
  beforeMount () {
    this.filterPost()
  },
  beforeDestroy () {
    this.$store.dispatch('blogs/filterPost', {})
  }
}
</script>
