<template>
  <div class="row flex justify-start items-center items-sm-end full-width bg-blck over-banner">
    <div class="col-12 col-md-5 text-right q-mt-xl q-pr-md mobile-up" v-if="loaded | loadedGlo">
      <transition appear enter-active-class="animated fadeInLeft">
        <p class="text-white text-uppercase font-14 team-we-text desktop-only" style="animation-duration: 1s">
          {{$t('teamWe')}}
        </p>
      </transition>
      <transition appear enter-active-class="animated fadeInLeft">
        <p class="text-white text-uppercase text-h3 desktop-only title we-create-text" style="animation-duration: 1s">
          {{$t('wecreate')}}
        </p>
      </transition>
      <transition appear enter-active-class="animated fadeInLeft">
        <p class="text-white text-uppercase font-14 desktop-only title unique-smyle-text" style="animation-duration: 1s">
          {{$t('wecreateunique')}}
        </p>
      </transition>
      <transition appear enter-active-class="animated fadeInLeft">
        <p :class="textCustom" class="text-white description-text desktop-only text-uppercase" style="animation-duration: 1s">
          {{$t('allDiferent')}}<br>
          {{$t('smilecreate')}}<br>
          {{$t('asU')}}.
        </p>
      </transition>
      <transition appear enter-active-class="animated fadeInLeft">
        <p class="text-white text-uppercase font-13 team-we-text mobile-only" style="animation-duration: 1s">
          {{$t('teamWe')}}
        </p>
      </transition>
      <transition appear enter-active-class="animated fadeInLeft">
        <p class="text-white text-uppercase text-h3 mobile-only title we-create-text" style="animation-duration: 1s">
          {{$t('wecreate')}}
        </p>
      </transition>
      <transition appear enter-active-class="animated fadeInLeft">
        <p class="text-white text-uppercase font-13 mobile-only title unique-smyle-text" style="animation-duration: 1s">
          {{$t('wecreateunique')}}
        </p>
      </transition>
      <transition appear enter-active-class="animated fadeInLeft">
        <p :class="textCustom" class="text-white description-text mobile-only text-uppercase" style="animation-duration: 1s">
          {{$t('allDiferent')}}<br>
          {{$t('smilecreate')}}<br>
          {{$t('asU')}}.
        </p>
      </transition>
      <transition appear enter-active-class="animated fadeInUp">
        <q-btn to="/agendamiento" :label="$t('require')" color="white" text-color="black" class="btn-banner desktop-only rrss text-uppercase" densed style="color: black !importnt; animation-duration: 1s" />
      </transition>
      <transition appear enter-active-class="animated fadeInUp">
        <center>
          <q-btn to="/agendamiento" :label="$t('require')" color="white" text-color="black" class="btn-banner mobile-only rrss text-uppercase" densed style="color: black !importnt; animation-duration: 1s" />
        </center>
      </transition>
   </div>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  computed: {
    textH () {
      return this.$q.screen.gt.lg
        ? 'text-h1'
        : 'text-h3'
    },
    fontH () {
      return this.$q.screen.gt.lg
        ? 'font-13'
        : 'font-13'
    },
    loadedGlo () {
      return this.$store.getters['auth/global']
    },
    textCustom () {
      return this.$q.screen.gt.sm
        ? 'font-12'
        : 'font-9'
    }
  },
  data () {
    return {
      loaded: false
    }
  },
  beforeMount () {
    this.loaded = true
    window.addEventListener('load', function () {
      this.loaded = true
      this.$store.dispatch('auth/setGlobal', true)
    }.bind(this))
  }
}
</script>
