<template>
  <div class="row flex flex-center">
    <div class="col-12 col-md-12">
      <headersBlosg v-if="!filter.id" :title="'Agregar entrada al blogs'" />
      <headersBlosg v-if="filter.id" :title="'Modificar entrada al blogs'" />
    </div>
    <div class="col-12 col-md-12">
      <formBlogs />
    </div>
  </div>
</template>

<script>
import headersBlosg from 'src/components/admin/caseSuccess/components/header'
import formBlogs from './components/form'

export default {
  // name: 'ComponentName',
  components: {
    headersBlosg,
    formBlogs
  },
  computed: {
    filter () {
      return this.$store.getters['blogs/filterPost']
    }
  },
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>
