<template>
  <div class="row">
    <div class="col-12">
      <headersBlosg title="Blogs" :showButton="true" />
    </div>
    <div class="col-12">
      <listPost :data="post" />
    </div>
  </div>
</template>

<script>
import headersBlosg from 'src/components/admin/caseSuccess/components/header'
import listPost from 'src/components/admin/blogs/components/list'

export default {
  // name: 'ComponentName',
  components: {
    headersBlosg,
    listPost
  },
  computed: {
    post () {
      return this.$store.getters['blogs/posts']
    }
  },
  data () {
    return {
    }
  },
  methods: {
    getPost () {
      this.$store.dispatch('blogs/getPost')
        .then((resp) => {
        })
        .catch((err) => {
          console.log(err)
        })
    }
  },
  beforeMount () {
    if (this.post.length < 1) {
      this.getPost()
    }
  }
}
</script>
