<template>
  <section>
    <div class="row vacancy-height">
      <div class="col-12 col-md-3 grisNew relative">
        <q-img class="absolute-bottom img-diana-black" src="images/diananegro.png"></q-img>
      </div>
      <div class="col-12 col-md-9">
        <q-form @submit="submitVacancie">
          <div class="row q-mt-lg d-flex flex-center justify-center vacancy-height">
            <div class="col-12 col-md-6">
              <p style="font-weight: 800; line-height: 2.9rem" class="text-h2 text-center text-bold text-weight-bolder text-primary">
                {{$t('beA')}} <br> {{$t('ourTeam')}}
              </p>
            </div>
            <div class="col-12 col-md-7 col-lg-8 vacancy-top padding-mobile-vacancy">
              <div class="row full-width">
                <div class="col-12 col-md-6 q-pl-sm">
                  <label class="text-black text-bold text-capitalize q-pl-sm font-12 text-bold">{{$t('scheduleAppoName')}}</label>
                  <q-input dense class="q-mt-sm" rounded outlined :rules="[val => !!val || 'Ingresa este campo']" v-model="vacancie.name">
                  </q-input>
                </div>
                <div class="col-12 col-md-6 q-pl-sm q-pr-sm">
                  <label class="text-black text-bold text-capitalize q-pl-sm font-12 text-bold">{{$t('lastName')}}</label>
                  <q-input dense class="q-mt-sm" rounded outlined :rules="[val => !!val || 'Ingresa este campo']" v-model="vacancie.lastName">
                  </q-input>
                </div>
                <div class="col-12 col-md-6 q-pl-sm q-pr-sm" style="margin-top: -5px">
                  <label class="text-black text-bold text-capitalize q-pl-sm font-12 text-bold">{{$t('scheduleAppoPhone')}}</label>
                  <q-input dense class="q-mt-sm" rounded outlined :rules="[val => !!val || 'Ingresa este campo']" v-model="vacancie.phone">
                  </q-input>
                </div>
                <div class="col-12 col-md-6 q-pl-sm q-pr-sm" style="margin-top: -5px">
                  <label class="text-black text-bold text-capitalize q-pl-sm font-12 text-bold">{{$t('address')}}</label>
                  <q-input dense class="q-mt-sm" rounded outlined :rules="[val => !!val || 'Ingresa este campo']" v-model="vacancie.address">
                  </q-input>
                </div>
                <div class="col-12 col-md-12 q-pl-sm q-pr-sm" style="margin-top: -5px">
                  <label class="text-black text-bold text-capitalize q-pl-sm font-12 text-bold">{{$t('scheduleAppoEmail')}}</label>
                  <q-input dense class="q-mt-sm" rounded outlined :rules="[val => !!val || 'Ingresa este campo']" v-model="vacancie.email">
                  </q-input>
                </div>
                <div class="col-12 col-md-6 q-pa-sm">
                  <label class="text-black text-bold text-capitalize q-pl-sm font-12 text-bold">{{$t('sede')}}</label>
                  <q-select @input="loadVacancies" outlined rounded dense label="Sede" class="full-width" v-model="vacancie.sede" :options="places" :option-value="opt => Object(opt) === opt && 'id' in opt ? opt.id : null" :option-label="opt => Object(opt) === opt && 'name' in opt ? opt.name : '- Null -'" :option-disable="opt => Object(opt) === opt ? opt.inactive === true : true" emit-value map-options :rules="[val => !!val || 'Selecciona una opción']" />
                </div>
                <div class="col-12 col-md-6 q-pa-sm" style="margin-top: -10px" v-if="vacancies.length > 0">
                  <label class="text-black text-bold font-12 text-bold">{{$t('vacancy')}}</label>
                  <q-select class="q-mt-sm" outlined rounded v-model="vacancie.vacancy" :options="vacancies" :option-value="opt => Object(opt) === opt && 'id' in opt ? opt.id : null" :option-label="opt => Object(opt) === opt && 'name' in opt ? opt.name : '- Null -'" :option-disable="opt => Object(opt) === opt ? opt.inactive === true : true" emit-value map-options :rules="[val => !!val || 'Selecciona una opción']" dense>
                  </q-select>
                </div>
                <div class="col-12 col-md-6 q-pl-sm q-pr-sm" style="margin-top: -8px">
                  <label class="text-black text-bold q-pl-sm font-12 text-bold">{{$t('yearsExperience')}}</label>
                  <q-input dense class="q-mt-sm" rounded outlined :rules="[val => !!val || 'Ingresa este campo']" v-model="vacancie.timeExperience">
                  </q-input>
                </div>
                <div class="col-12 col-md-6 q-pl-sm q-pr-sm" style="margin-top: -8px">
                  <label class="text-black text-bold q-pl-sm font-12 text-bold">{{$t('cv')}}</label>
                  <q-file dense class="q-mt-sm" rounded outlined :rules="[val => !!val || 'Ingresa este campo']" v-model="file">
                  </q-file>
                </div>
                <div class="col-12  q-pr-sm text-right q-pb-lg">
                  <q-btn :disable="vacancies.length < 1" class="float-right text-capitalize" rounded :loading="loading" :label="$t('apply')" type="submit" color="secondary" icon-right="img:images/pagoa_Icono-enviar.png" />
                </div>
              </div>
            </div>
          </div>
        </q-form>
      </div>
    </div>
  </section>
</template>

<script>
import { sendVacancieData, filterBySede } from 'src/api/vacancies'

export default {
  // name: 'ComponentName',
  components: {
    // newsLetter
  },
  computed: {
    locale () {
      return this.$store.getters['auth/locale']
    }
  },
  data () {
    return {
      file: null,
      vacancie: {},
      vacancies: [],
      vacancy: null,
      loading: false,
      places: [
        {
          id: 'Medellín',
          name: 'Medellín'
        },
        {
          id: 'Bogotá',
          name: 'Bogotá'
        },
        {
          id: 'Cali',
          name: 'Cali'
        },
        {
          id: 'Guatemale',
          name: 'Guatemale'
        }
      ]
    }
  },
  methods: {
    submitVacancie () {
      const data = new FormData()
      data.append('file', this.vacancie.file)
      data.append('lastName', this.vacancie.lastName)
      data.append('name', this.vacancie.name)
      data.append('address', this.vacancie.address)
      data.append('email', this.vacancie.email)
      data.append('phone', this.vacancie.phone)
      data.append('timeExperience', this.vacancie.timeExperience)
      data.append('phone', this.vacancie.phone)
      data.append('file', this.file)
      data.append('sede', this.vacancie.sede)
      data.append('vacancy', this.getVAcancy())
      this.loading = true
      return sendVacancieData(data, resp => {
        this.$notify('positive', 'Se ha enviado tu información correctamente.', 'green-9')
        this.loading = false
        this.vacancie = {}
        this.file = null
      }, err => {
        this.loading = false
        if (err.error) {
          const message = Object.values(err.error).shift()
          const newMessage = message.shift()
          this.$notify('negative', `${newMessage}`, 'red-9')
        } else {
          this.$notify('negative', err.message, 'red-9')
        }
      })
    },
    loadVacancies (sede) {
      this.vacancies = []
      return filterBySede(sede, resp => {
        if (resp.data.length > 0) {
          this.vacancies = resp.data
        } else {
          this.$notify('negative', this.$t('donExist'), 'red-9')
        }
      }, err => {
        console.log(err)
      })
    },
    getVAcancy () {
      const vacancy = this.vacancies.find(data => data.id === this.vacancie.vacancy)
      return vacancy.name
    }
  },
  async beforeMount () {
  }
}
</script>
