<template>
  <q-page padding>
    <paymentIndex />
  </q-page>
</template>

<script>
import paymentIndex from 'src/components/admin/payments/index'

export default {
  name: 'PageIndex',
  components: {
    paymentIndex
  }
}
</script>
