<template>
  <q-table :data="data" :columns="columns" row-key="name">
    <template v-slot:body="props">
      <q-tr :props="props">
        <q-td key="id" :props="props">
          <q-chip square color="primary" size="10px" class="text-white">
            {{props.row.ref}}
          </q-chip>
        </q-td>
        <q-td key="name" :props="props">
          {{props.row.name}}
        </q-td>
        <q-td key="email" :props="props">
          {{props.row.email}}
        </q-td>
        <q-td key="phone" :props="props">
          {{props.row.phone}}
        </q-td>
        <q-td key="place" :props="props">
          {{props.row.place}}
        </q-td>
        <q-td key="status" :props="props">
          <q-chip v-if="props.row.status === 1" square color="primary" size="10px" class="text-white">
            Pago
          </q-chip>
          <q-chip v-if="props.row.status === 0" square color="red-9" size="10px" class="text-white">
            No pago
          </q-chip>
        </q-td>
        <q-td key="amount" :props="props">
          {{$price(props.row.amount)}}
        </q-td>
      </q-tr>
    </template>
    <template v-slot:top class="q-pa-none">
      <div class="row full-width">
        <div class="col-12">
          <q-select style="width: 200px" dense label="Filtrar por ciudad" @input="setPlace" class="float-right q-mt-sm" outlined rounded v-model="place" :options="places" :option-value="opt => Object(opt) === opt && 'id' in opt ? opt.id : null" :option-label="opt => Object(opt) === opt && 'name' in opt ? opt.name : '- Null -'" :option-disable="opt => Object(opt) === opt ? opt.inactive === true : true" emit-value map-options :rules="[val => !!val || 'Selecciona una opción']" />
        </div>
      </div>
    </template>
  </q-table>
</template>

<script>
import { list, listDataTuPago } from 'src/api/payment'

export default {
  // name: 'ComponentName',
  computed: {
    payments () {
      return this.$store.getters['payment/getPayData']
    }
  },
  data () {
    return {
      columns: [
        { name: 'id', required: true, label: 'Referencia', align: 'center', field: row => row.ref, sortable: true, classes: 'ellipsis', style: 'width: 100px', headerClasses: 'bg-primary text-white' },
        { name: 'name', align: 'center', label: 'CLIENTE', field: 'name', sortable: false },
        { name: 'email', align: 'center', label: 'CORREO ELECTRÓNICO', field: 'email', sortable: false },
        { name: 'phone', align: 'center', label: 'TELÉFONO CELULAR', field: 'phone', sortable: false },
        { name: 'place', align: 'center', label: 'CIUDAD', field: 'phone', sortable: false },
        { name: 'status', align: 'center', label: 'ESTADO', field: 'status', sortable: false },
        { name: 'amount', align: 'center', label: 'MONTO', field: 'amount', sortable: false }
      ],
      data: [],
      loading: false,
      places: [
        {
          id: 'Medellín',
          name: 'Medellín'
        },
        {
          id: 'Bogotá',
          name: 'Bogotá'
        },
        {
          id: 'Cali',
          name: 'Cali'
        },
        {
          id: 'Guatemale',
          name: 'Guatemale'
        }
      ],
      place: null
    }
  },
  methods: {
    getPayments () {
      return list((response) => {
        this.$store.dispatch('payment/setPayments', response.data.success)
        this.data = response.data.success
      }, (err) => {
        this.$notify('negative', err.message, 'red-9')
        console.log(err)
      })
    },
    filterPay (item) {
      console.log(item)
      return listDataTuPago(item.id, (resp) => {
        console.log(resp)
      }, (err) => {
        console.log(err)
      })
    },
    setPlace (place) {
      const search = this.payments.filter(data => {
        return data.place === place
      })
      this.data = search
    }
  },
  beforeMount () {
    this.getPayments()
  }
}
</script>
