<template>
  <q-dialog v-model="$parent.$parent.addCategory">
    <q-card style="width: 350px">
      <q-card-section class="q-pa-none">
        <q-toolbar class="bg-primary q-mb-md borders-rounded">
          <q-toolbar-title class="title text-white">
            Agregar categoría
          </q-toolbar-title>
          <q-btn icon="close" flat dense @click="$parent.$parent.addCategory = !$parent.$parent.addCategory" />
        </q-toolbar>
      </q-card-section>
      <q-card-section>
        <q-scroll-area style="height: 150px">
          <q-list>
            <q-item-label header>Categorias</q-item-label>
            <q-item clickable v-ripple v-for="(category, idx) in $parent.$parent.categories" :key="idx">
              <q-item-section avatar>
                <q-avatar color="primary" text-color="white" icon="category" />
              </q-item-section>
              <q-item-section>
                <q-item-label>
                  {{category.name}}
                </q-item-label>
              </q-item-section>
              <q-item-section avatar>
                <q-btn flat dense @click="deleteCategory(category.id)" color="red" icon="delete" />
              </q-item-section>
            </q-item>
          </q-list>
        </q-scroll-area>
      </q-card-section>
      <q-card-section>
        <q-form @submit="addCategories">
          <div class="col-12">
            <q-input :rules="[val => !!val || 'Ingresa el nombre de la categoría.']" filled label="Nombre de la categoría" v-model="category.name">
              <template v-slot:append>
                <q-icon name="category" color="primary" />
              </template>
            </q-input>
          </div>
          <div class="col-12">
            <q-input type="number" :rules="[val => !!val || 'Ingresa la posición de la categoria.']" filled label="Posición" v-model="category.position">
              <template v-slot:append>
                <q-icon name="format_list_numbered" color="primary" />
              </template>
            </q-input>
          </div>
          <div class="col-12 q-mt-sm">
            <q-btn color="primary" :loading="loading" type="submit" class="full-width" label="guardar">
            </q-btn>
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>

export default {
  // name: 'ComponentName',
  components: {
  },
  data () {
    return {
      category: {},
      loading: false
    }
  },
  methods: {
    addCategories () {
      this.loading = true
      this.$store.dispatch('blogs/addCategories', this.category)
        .then((resp) => {
          this.category = {}
          this.$notify('positive', 'Se ha guardado la categoría correctamente.', 'green-9')
          this.$parent.$parent.getCategories()
          this.loading = false
        })
        .catch((err) => {
          this.$notify('negative', err.message, 'red-9')
          this.loading = false
        })
    },
    deleteCategory (id) {
      this.$store.dispatch('blogs/destroyCategories', id)
        .then((resp) => {
          this.$notify('negative', 'Se ha eliminado la categoria correctamente.', 'red-9')
          this.$parent.$parent.getCategories()
          this.loading = false
        })
        .catch((err) => {
          this.$notify('negative', err.message, 'red-9')
          this.loading = false
        })
    }
  },
  beforeMount () {
  }
}
</script>
