<template>
  <q-card style="margin-top: -12px" v-if="render">
    <q-card-section>
      <q-form @submit="submit">
        <div class="row">
          <div class="col-12 col-md-12 q-pa-sm">
            <q-input @input="reRender" :rules="[val => !!val || 'Ingresa el titulo del post.', val => val.length < 100 || 'El titulo solo puede tener 100 caracteres.']" filled label="Titulo" v-model="post.title">
              <template v-slot:append>
                <q-icon name="edit" color="primary" />
              </template>
            </q-input>
          </div>
          <div class="col-12 col-md-12 q-pa-sm">
            <q-input @input="reRender" :rules="[val => !!val || 'Ingresa el titulo del post en ingles.', val => val.length < 100 || 'El titulo solo puede tener 100 caracteres.']" filled label="Titulo en ingles" v-model="post.title_en">
              <template v-slot:append>
                <q-icon name="edit" color="primary" />
              </template>
            </q-input>
          </div>
          <div class="col-12 q-mt-sm q-pa-sm">
            <q-input :rules="[val => !!val || 'Ingresa la descripcion del post.', val => val.length < 5000 || 'La descripción solo puede tener 5000 caracteres.']" v-model="post.description" filled label="Descripción" type="textarea" />
          </div>
          <div class="col-12 q-mt-sm q-pa-sm">
            <q-input @inpit="reRender" :rules="[val => !!val || 'Ingresa la descripcion del post en ingles.', val => val.length < 5000 || 'La descripción solo puede tener 5000 caracteres.']" v-model="post.description_en" filled label="Descripción en ingles" type="textarea" />
          </div>
          <div class="col-12 col-md-6 q-mt-sm q-pa-sm">
            <q-file v-if="!filter.id" :rules="[val => !!val || 'Ingresa la imágen de cabezera del post.']" filled label="Selecciona la imágen de cabezera del post." v-model="file">
              <template v-slot:append>
                <q-icon name="image" color="primary" />
              </template>
            </q-file>
            <q-file v-if="filter.id" filled label="Selecciona la imágen del caso de exito" v-model="file">
              <template v-slot:append>
                <q-icon name="image" color="primary" />
              </template>
            </q-file>
          </div>
          <div class="col-12 col-md-6 q-mt-sm q-pa-sm">
            <q-input type="url" @input="reRender" filled label="Video url" v-model="post.urlVideo">
              <template v-slot:append>
                <q-icon name="edit" color="primary" />
              </template>
            </q-input>
          </div>
          <div class="col-12 col-md-12 q-mt-sm q-pa-sm">
            <div class="row">
              <div class="col-10">
                <q-select :rules="[val => !!val || 'Selecciona la categoria del post.']" @input="reRender" label="Selecciona una categoría" filled v-model="post.category" :options="categories" :option-value="opt => Object(opt) === opt && 'id' in opt ? opt.id : null" :option-label="opt => Object(opt) === opt && 'name' in opt ? opt.name : '- Null -'" :option-disable="opt => Object(opt) === opt ? opt.inactive === true : true" emit-value map-options />
              </div>
              <div class="col-2">
                <center>
                  <q-btn icon="add" size="21px" color="primary" @click="addCategory = !addCategory">
                    <q-tooltip anchor="bottom middle" self="top middle" :offset="[10, 10]">
                      Agregar categoría
                    </q-tooltip>
                  </q-btn>
                </center>
              </div>
            </div>
          </div>
          <div class="col-12 q-mt-md col-md-4">
            <q-btn type="submit" :loading="loading" label="Guardar" class="full-width" color="primary"></q-btn>
          </div>
        </div>
      </q-form>
    </q-card-section>
    <addCategoryDialog />
  </q-card>
</template>

<script>
import addCategoryDialog from './categoriesAdd'

export default {
  // name: 'ComponentName',
  components: {
    addCategoryDialog
  },
  computed: {
    categories () {
      return this.$store.getters['blogs/categories']
    },
    filter () {
      return this.$store.getters['blogs/filterPost']
    }
  },
  data () {
    return {
      post: {},
      file: null,
      render: true,
      addCategory: false,
      loading: false,
      description: ''
    }
  },
  methods: {
    reRender () {
      this.render = false
      this.render = true
    },
    submit () {
      const formData = new FormData()
      formData.append('description', this.post.description)
      formData.append('title', this.post.title)
      formData.append('description_en', this.post.description_en)
      formData.append('title_en', this.post.title_en)
      formData.append('category', this.post.category)
      if (this.file) {
        formData.append('file', this.file)
      }
      if (this.post.urlVideo !== null) {
        formData.append('urlVideo', this.post.urlVideo)
      }
      this.loading = true
      if (this.filter.id) {
        formData.append('ID', this.filter.id)
        const data = {}
        data.id = this.filter.id
        data.data = formData
        this.$store.dispatch('blogs/editPost', data)
          .then((resp) => {
            console.clear()
            this.post = {}
            this.$notify('positive', 'Se ha modificado el post correctamente.', 'green-9')
            this.$push('/dashboard/blogs')
            this.loading = false
          })
          .catch((err) => {
            this.$notify('negative', err.message, 'red-9')
            this.loading = false
          })
        return false
      } else {
        this.$store.dispatch('blogs/addPost', formData)
          .then((resp) => {
            this.post = {}
            this.$notify('positive', 'Se ha guardado el post correctamente.', 'green-9')
            this.$push('/dashboard/blogs')
            this.loading = false
          })
          .catch((err) => {
            this.$notify('negative', err.message, 'red-9')
            this.loading = false
          })
      }
    },
    getCategories () {
      this.$store.dispatch('blogs/listCategories')
        .then((resp) => {
        })
        .catch((err) => {
          console.log(err)
        })
    }
  },
  beforeMount () {
    if (this.categories.length < 1) {
      this.getCategories()
    }
    if (this.filter.id) {
      this.post = this.filter
      this.post.category = this.filter.category.id
    }
  }
}
</script>
