<template>
  <q-table :data="data" :columns="columns" row-key="name">
    <template v-slot:body="props">
      <addImagesDialog />
      <q-tr :props="props">
        <q-td key="id" :props="props">
          {{props.row.id}}
        </q-td>
        <q-td key="title" :props="props">
          {{props.row.title}}
        </q-td>
        <q-td key="category" :props="props">
          <span v-if="props.row.category">{{props.row.category.name}}</span>
          <span v-if="!props.row.category">Sin categoria</span>
        </q-td>
        <q-td key="description" :props="props">
          <div class="ellipsis" style="width: 200px">
            {{props.row.description}}...
          </div>
        </q-td>
        <q-td key="image" :props="props">
          <q-img class="rounded-borders-2" :src="url + '/images/post/' + props.row.header_img" width="50px" height="50px" />
        </q-td>
        <q-td key="option" :props="props">
          <q-btn-dropdown flat dense color="black" label="">
            <q-btn flat densed @click="editCaseSuccess(props.row)" icon="edit" color="primary" class="" >
              <q-tooltip content-class="bg-green-9" :offset="[10, 10]">
                Editar post
              </q-tooltip>
            </q-btn>
            <!--<q-btn flat densed @click="addImages(props.row)" icon="style" color="blue-9" class="" >
              <q-tooltip content-class="bg-blue-9" :offset="[10, 10]">
                Agregar imágenes
              </q-tooltip>
            </q-btn>-->
            <q-btn :loading="loading" flat densed @click="deletePost(props.row.id)" icon="delete" color="secondary" class="" >
              <q-tooltip content-class="bg-red-9" :offset="[10, 10]">
                Eliminar post
              </q-tooltip>
            </q-btn>
          </q-btn-dropdown>
        </q-td>
      </q-tr>
    </template>
  </q-table>
</template>

<script>
import { domain } from 'src/api/data'
import addImagesDialog from './postImagesAdd'

export default {
  // name: 'ComponentName',
  props: {
    data: Array
  },
  components: {
    addImagesDialog
  },
  data () {
    return {
      url: domain,
      loading: false,
      columns: [
        { name: 'id', required: true, label: 'ID', align: 'center', field: row => row.id, sortable: true, classes: 'ellipsis', style: 'width: 100px', headerClasses: 'bg-primary text-white' },
        { name: 'title', align: 'center', label: 'TITULO', field: 'title', sortable: false },
        { name: 'category', align: 'center', label: 'CATEGORÍA', field: 'title', sortable: false },
        { name: 'description', align: 'center', label: 'DESCRIPCIÓN', field: 'description', sortable: false },
        { name: 'image', label: 'IMÁGEN', field: 'image', sortable: false },
        { name: 'option', label: 'VER', sortable: false }
      ],
      addImage: false
    }
  },
  methods: {
    editCaseSuccess (item) {
      this.$store.dispatch('blogs/filterPost', item)
        .then((resp) => {
          this.$push('/dashboard/blogs/add')
        })
        .catch((err) => {
          this.loading = false
          this.$notify('negative', err.message, 'red-9')
        })
    },
    deletePost (id) {
      this.loading = true
      this.$store.dispatch('blogs/deletePost', id)
        .then((resp) => {
          this.$notify('positive', 'Se ha eliminado el post correctamente.', 'red-9')
          this.loading = false
        })
        .catch((err) => {
          this.loading = false
          this.$notify('negative', err.message, 'red-9')
        })
    },
    addImages (item) {
      this.$store.dispatch('blogs/filterPost', item)
        .then((resp) => {
          this.addImage = true
        })
        .catch((err) => {
          this.loading = false
          this.$notify('negative', err.message, 'red-9')
        })
    }
  }
}
</script>
