<template>
  <q-dialog v-model="$parent.$parent.addImage">
    <q-card style="width: 350px">
      <q-card-section class="q-pa-none">
        <q-toolbar class="bg-primary q-mb-md borders-rounded">
          <q-toolbar-title class="title text-white">
            Agregar imágenes al post
          </q-toolbar-title>
          <q-btn icon="close" flat dense @click="$parent.$parent.addImage = !$parent.$parent.addImage" />
        </q-toolbar>
      </q-card-section>
      <q-card-section>
        <q-scroll-area style="height: 150px">
          <div class="row">
            <div class="col-12 col-md-6 q-pa-sm" v-for="(img, idx) in filter.images" :key="idx">
              <q-img class="rounded-borders-2" :src="url + '/images/post/' + img.path" width="100%" height="150px">
                <q-icon @click="deleteImage(img.id)" class="cursor-pointer" name="delete" color="red-9" style="position: absolute; right: 0" />
              </q-img>
            </div>
          </div>
        </q-scroll-area>
      </q-card-section>
      <q-card-section>
        <q-form @submit="addImgToPost">
          <div class="col-12 q-mt-sm">
            <q-file :rules="[val => !!val || 'Ingresa la imágen del post.']" filled label="Selecciona la imágen." v-model="file">
              <template v-slot:append>
                <q-icon name="image" color="primary" />
              </template>
            </q-file>
          </div>
          <div class="col-12 q-mt-sm">
            <q-btn color="primary" :loading="loading" type="submit" class="full-width" label="guardar">
            </q-btn>
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import { domain } from 'src/api/data'

export default {
  // name: 'ComponentName',
  components: {
  },
  computed: {
    filter () {
      return this.$store.getters['blogs/filterPost']
    }
  },
  data () {
    return {
      url: domain,
      category: {},
      loading: false,
      file: null
    }
  },
  methods: {
    addImgToPost () {
      this.loading = true
      const formData = new FormData()
      formData.append('file', this.file)
      formData.append('id', this.filter.id)

      this.$store.dispatch('blogs/setPostImages', formData)
        .then((resp) => {
          this.category = {}
          this.$notify('positive', 'Se ha agregado la imagen al post correctamente.', 'green-9')
          this.loading = false
          this.file = null
          this.$parent.$parent.addImage = false
        })
        .catch((err) => {
          this.$notify('negative', err.message, 'red-9')
          this.loading = false
        })
    },
    deleteImage (id) {
      this.$store.dispatch('blogs/destroyPostImage', id)
        .then((resp) => {
          this.$notify('negative', 'Se ha eliminado la imagen del post correctamente.', 'red-9')
          this.loading = false
          this.$parent.$parent.addImage = false
        })
        .catch((err) => {
          this.$notify('negative', err.message, 'red-9')
          this.loading = false
        })
    }
  },
  beforeMount () {
  }
}
</script>
