<template>
  <div class="col-12 q-mt-lg" v-if="realCases.length > 0">
    <VueSlickCarousel v-bind="options" class="slickReal">
      <div class="q-pa-md" v-for="(real, idx) in realCases" :key="idx">
        <q-img class="rounded-borders" :src="url + '/images/caseSuccess/' + real.path" width="100%" />
      </div>
    </VueSlickCarousel>
  </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
// optional style for arrows & dots
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

import { domain } from 'src/api/data'

export default {
  // name: 'ComponentName',
  components: {
    VueSlickCarousel
  },
  computed: {
    realCases () {
      return this.$store.getters['caseSuccess/caseSuccess']
    }
  },
  data () {
    return {
      url: domain,
      render: false,
      options: {
        dots: true,
        arrows: false,
        infinite: false,
        speed: 500,
        slidesToShow: 4,
        slidesToScroll: 4,
        draggable: true,
        touchMove: true,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 3,
              infinite: true,
              dots: true
            }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2,
              initialSlide: 2
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2
            }
          }
        ]
      },
      beforeImage: null,
      afterImage: null,
      beforeAfter: false
    }
  },
  methods: {
    getActives () {
      this.$store.dispatch('caseSuccess/getCasesActives')
        .then((resp) => {
        })
        .catch((err) => {
          console.log(err)
        })
    },
    setBeforeAfterImage (path, path2) {
      this.render = false
      this.beforeImage = path
      this.afterImage = path2
      this.render = true
    }
  },
  created () {
    this.getActives()
  }
}
</script>
