<template>
  <div class="row">
    <div class="col-12">
      <headerCaseReal :title="'Contador de casos'" />
    </div>
    <div class="col-12">
      <listCaseReal :data="counting" />
    </div>
  </div>
</template>

<script>
import listCaseReal from 'src/components/admin/counting/components/list'
import headerCaseReal from 'src/components/admin/counting/components/header'

import { getCounting } from 'src/api/counting'

export default {
  // name: 'ComponentName',
  components: {
    listCaseReal,
    headerCaseReal
  },
  computed: {
    caseReal () {
      return this.$store.getters['caseReal/caseReal']
    }
  },
  data () {
    return {
      counting: []
    }
  },
  methods: {
    getCounting () {
      return getCounting((resp) => {
        this.counting = resp.data.success
      }, (err) => {
        console.log(err)
      })
    }
  },
  beforeMount () {
    this.getCounting()
  }
}
</script>
