<template>
  <div class="container q-pt-lg">
    <div class="succes-stories">
      <div class="row d-flex flex-center">
        <div class="col-md-3 col-sm-6 col-xs-6 q-pa-sm" v-for="(success, idx) in successStories" :key="idx" @click="setBeforeAfterImage(url + '/images/caseSuccess/' + success.path, url + '/images/caseSuccess/' + success.comparative_path)">
          <img :src="url + '/images/caseSuccess/' + success.path" class="successStoriesImg">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { domain } from 'src/api/data'

export default {
  // name: 'ComponentName',
  props: {
    successStories: {
      type: Array
    }
  },
  computed: {
    locale () {
      return this.$store.getters['auth/locale']
    }
  },
  data () {
    return {
      url: domain,
      beforeImage: null,
      afterImage: null,
      beforeAfter: false
    }
  },
  methods: {
    getActives () {
      this.$store.dispatch('caseSuccess/getCasesActives')
        .then((resp) => {
        })
        .catch((err) => {
          console.log(err)
        })
    },
    setBeforeAfterImage (path, path2) {
      this.render = false
      this.beforeImage = path
      this.afterImage = path2
      this.render = true
    }
  },
  beforeMount () {
    this.getActives()
  }
}
</script>
