<template>
  <div class="row dflex full-height">
    <div class="col-12 text-center">
      <p class="text-h4 title text-primary text-uppercase">
        {{$t('realChanges')}}
      </p>
    </div>
  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  props: {
  },
  computed: {
    locale () {
      return this.$store.getters['auth/locale']
    }
  },
  data () {
    return {
    }
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
