<template>
  <div class="container">
    <div class="succes-stories">
      <div class="row d-flex flex-center">
        <div class="col-md-3 clickable col-sm-6 col-xs-6 q-pa-sm relative" v-for="(success, idx) in successStories" :key="idx">
          <VueCompareImage class="slider-example-focus" :rightImage="url + '/images/caseReal/' + success.comparative_path" :leftImage="url + '/images/caseReal/' + success.path" />
          <div class="lef text-bold">
            {{$t('after')}}
          </div>
          <div class="rig text-bold">
            {{$t('befor')}}
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>
</template>

<script>
import { domain } from 'src/api/data'

import VueCompareImage from 'vue-compare-image'

export default {
  // name: 'ComponentName',
  components: {
    VueCompareImage
  },
  props: {
    successStories: {
      type: Array
    }
  },
  computed: {
    locale () {
      return this.$store.getters['auth/locale']
    }
  },
  data () {
    return {
      url: domain,
      beforeImage: null,
      afterImage: null,
      beforeAfter: false
    }
  },
  methods: {
    getActives () {
      this.$store.dispatch('caseReal/getCasesActives')
        .then((resp) => {
        })
        .catch((err) => {
          console.log(err)
        })
    }
  },
  beforeMount () {
    this.getActives()
  }
}
</script>
