<template>
  <div class="service-card">
    <div class="row full-height">
      <div class="col-3 q-pt-sm">
        <iconSvg :id="id" />
      </div>
      <div class="col-7 q-pl-md q-pt-md">
        <p class="font-12 text-bold">
          {{title}}
        </p>
        <p @click="$parent.filterService(id)" class="clickable cursor-pointer font-12 text-grisC" style="margin-top: -15px">{{$t('show')}}</p>
      </div>
      <div class="col-2">
        <arrow @click.native="$parent.filterService(id)" />
      </div>
    </div>
  </div>
</template>

<script>
import arrow from './arrow'
import iconSvg from './iconSvg'

export default {
  // name: 'ComponentName',
  props: {
    title: {
      type: String
    },
    id: {
      type: Number
    },
    icon: {
      type: String
    }
  },
  components: {
    arrow,
    iconSvg
  },
  computed: {
    locale () {
      return this.$store.getters['auth/locale']
    }
  },
  data () {
    return {
    }
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
