<template>
  <div class="row">
    <div class="col-12 q-mb-lg">
      <div class="container text-left q-pt-lg">
        <span class="text-h4 text-primary title q-pl-md">
          {{$t('servicesOur')}}
        </span>
      </div>
    </div>
    <div class="col-12 col-md-3 q-pa-sm">
      <card :title="$t('smileDesign')" :id="1" :icon="'diseño-sonrisa'" />
    </div>
    <div class="col-12 col-md-3 q-pa-sm">
      <card :title="$t('minimalDesign')" :id="2" :icon="'mini-diseño'" />
    </div>
    <div class="col-12 col-md-3 q-pa-sm">
      <card :title="$t('HYGIENICPHASE')" :id="3" :icon="'fase-higienica'" />
    </div>
    <div class="col-12 col-md-3 q-pa-sm">
      <card :title="$t('cirugia')" :id="4" :icon="'cirugias'" />
    </div>
    <div class="col-12 col-md-3 q-pa-sm">
      <card :title="$t('ORTHODONTICS')" :id="5" :icon="'ortodoncia'" />
    </div>
    <div class="col-12 col-md-3 q-pa-sm">
      <card :title="$t('CERAMICLENSES')" :id="6" :icon="'lentes-ceramicos'" />
    </div>
    <div class="col-12 col-md-3 q-pa-sm">
      <card :title="$t('CLEARING')" :id="7" :icon="'aclaramientos'" />
    </div>
    <div class="col-12 col-md-3 q-pa-sm">
      <card :title="$t('CLEANING')" :id="8" :icon="'limpieza'" />
    </div>
  </div>
</template>

<script>
import { services } from 'src/utils/services.json'
import { getCountingAll } from 'src/api/counting'
import card from './card'

export default {
  // name: 'ComponentName',
  components: {
    card
  },
  computed: {
    locale () {
      return this.$store.getters['auth/locale']
    }
  },
  data () {
    return {
      selectedService: 1,
      filter: {},
      services: services,
      countings: []
    }
  },
  methods: {
    setService (i) {
      this.selectedService = i
    },
    filterService (id) {
      const search = this.services.find(data => {
        return data.id === id
      })
      this.$router.push(search.path)
      this.$emit('loadData', id)
    },
    getCountingServices () {
      return getCountingAll((resp) => {
        this.countings = resp.data.success
      }, (err) => {
        console.log(err)
      })
    },
    filterCountService (id) {
      const search = this.countings.filter(data => {
        return data.id === id
      })
      if (search.length > 0) {
        return search[0].total
      } else {
        return 0
      }
    }
  },
  beforeMount () {
  }
}
</script>
