<template>
  <section class="mainBanner" :style="{ 'background-image': urlImg }">
    <div class="container">
      <div class="row">
        <div class="col-md-5 full-height flex flex-center col-sm-6 col-12">
          <div class="row full-width">
            <div class="col-12 text-center-mobile">
              <h1 class="text-h4 text-uppercase text-primary title" v-html="title"></h1>
            </div>
            <div class="col-12 text-center-mobile shadow2 text-secondary font-12 title banner-description" v-html="description">
            </div>
            <div class="col-12 q-mt-lg" v-if="showButton">
              <q-btn rounded outline label="pide tu cita aquí" color="primary" size="12px" class="q-pl-md q-pr-md title" />
            </div>
          </div>
        </div>
        <div class="col-md-7 col-12 col-sm-6 gt-xs">
          <div :style="{ 'background-image': urlImg }" class="imgBanner"></div>
        </div>
      </div>
    </div>
    <div class="overflow-banner"></div>
  </section>
</template>

<script>

export default {
  // name: 'ComponentName',
  props: {
    title: {
      type: String
    },
    description: {
      type: String
    },
    img: {
      type: String
    },
    showButton: {
      type: Boolean
    }
  },
  computed: {
    urlImg () {
      return 'url(images/' + this.img + ')'
    }
  },
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>
