<template>
  <section class="footer-dian">
    <div class="container-footer">
      <div class="row diana-footer q-pt-xl">
        <div class="col-12 col-md-3">
          <center>
            <div class="row flex justify-center q-mt-md q-mb-lg">
              <div class="col-12">
                <q-img src="images/dp_Logotipo-Horizontal-Blanco.png" class="footer-img" />
              </div>
              <div class="text-center col-12 font-13 q-mt-lg text-white">
                {{$t('becauseFooter')}}
              </div>
              <div class="text-center col-12 font-13 q-mt-sm text-primary">
                <a href="mailto:info@dianapulgarin.com" class="no-decoration">info@dianapulgarin.com</a>
              </div>
              <div class="text-center col-12 font-13 q-mt-sm text-primary">
                <a href="tel:3012719450"><q-icon name="phone" size="18pt" /> (+57)3012719450</a>
              </div>
              <div class="col-12 q-mt-md">
                <q-icon @click="openUrl('https://www.youtube.com/channel/UCmFFQqYvl8akrOAe9FpYGFA')" name="img:images/youtube.png" color="primary" class="cursor-pointer q-ml-sm rrss-icon" size="25px" />
                <q-icon @click="openUrl('https://twitter.com/DraDianaPul')" name="img:images/social.png" size="25px" color="primary" class="cursor-pointer q-ml-sm rrss-icon"/>
                <q-icon @click="openUrl('https://es-la.facebook.com/pg/DraDianaPulgarin')" name="img:images/facebook.png" size="25px" class="cursor-pointer q-ml-sm rrss-icon" color="primary"/>
                <q-icon @click="openUrl('https://www.instagram.com/dradianapulgarin')" name="img:images/insta.png" size="25px" class="cursor-pointer q-ml-sm rrss-icon" color="primary"/>
              </div>
            </div>
          </center>
        </div>
        <div class="col-12 col-md-3 q-pl-xl q-pr-xl">
          <div class="row q-mb-lg q-pl-sm q-pr-sm<">
            <div class="col-12 text-center q-mt-sm text-center-mobile">
              <span class="font-14 text-white title">
                {{$t('footerServices')}}
              </span>
            </div>
            <div class="col-12 text-center q-mt-sm text-center-mobile">
              <span class="font-13 text-white">
                {{$t('smileDesign')}}
              </span>
            </div>
            <div class="col-12 text-center q-mt-sm text-center-mobile">
              <span class="font-13 text-white">
                {{$t('minimalDesign')}}
              </span>
            </div>
            <div class="col-12 text-center q-mt-sm text-center-mobile">
              <span class="font-13 text-white">
                {{$t('HYGIENICPHASE')}}
              </span>
            </div>
            <div class="col-12 text-center q-mt-sm text-center-mobile">
              <span class="font-13 text-white">
                {{$t('cirugia')}}
              </span>
            </div>
            <div class="col-12 text-center q-mt-sm text-center-mobile">
              <span class="font-13 text-white">
                {{$t('ORTHODONTICS')}}
              </span>
            </div>
            <div class="col-12 text-center q-mt-sm text-center-mobile">
              <span class="font-13 text-white">
                {{$t('CERAMICLENSES')}}
              </span>
            </div>
            <div class="col-12 text-center q-mt-sm text-center-mobile">
              <span class="font-13 text-white">
                {{$t('CLEARING')}}
              </span>
            </div>
            <div class="col-12 text-center q-mt-sm text-center-mobile">
              <span class="font-13 text-white">
                {{$t('CLEANING')}}
              </span>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="col-12 q-mt-sm text-center  text-center-mobile">
            <span class="font-14 text-white title">
              {{$t('interestEnlace')}}
            </span>
          </div>
          <div class="col-12 text-center text-center-mobile">
            <span class="text-white">
              <q-btn color="white" class="font-12 rrss-icon" dense type="a" to="/" :label="$t('home')" flat /> -
            </span>
            <span class="text-white">
              <q-btn style="" color="white" class="font-12 rrss-icon" dense type="a" to="/servicios" :label="$t('services')" flat /> -
            </span>
            <span class="text-white">
              <q-btn style="" color="white" class="font-12 rrss-icon" dense type="a" to="/pagos" :label="$t('payment')" flat /> -
            </span>
            <span class="text-white">
              <q-btn style="" color="white" class="font-12 rrss-icon" dense type="a" to="/agendamiento" :label="$t('date')" flat /> -
            </span>
            <span class="text-white">
              <q-btn style="" color="white" class="font-12 rrss-icon" dense type="a" :href="'https://www.fundacion.dianapulgarin.com/'" target="_blank" :label="$t('fundation')" flat /> -
            </span>
            <span class="text-white">
              <q-btn style="" color="white" class="font-12 rrss-icon" dense type="a" to="/vacantes" :label="$t('vacantes')" flat /> -
            </span>
            <span class="text-white">
              <q-btn color="white" class="font-12 rrss-icon" dense type="a" to="/blog" :label="$t('blog')" flat />
            </span>
          </div>
          <div class="col-12 q-mt-lg">
            <div class="row">
              <div class="col-12 footer-mt-mobile q-mt-sm text-center text-center-mobile">
                <span class="font-14 text-white title">
                  Newsletter
                </span>
              </div>
              <div class="col-12 q-mt-sm">
                <q-form @submit="suscribe">
                  <div class="row mobile-row">
                    <div class="col-md-12 col-sm-12 col-xs-12 mt-mobile-lg q-pr-md no-padding-mobile" filled round>
                      <q-input :rules="[val => !!val || 'Ingresa tu nombre']" bg-color="white" rounded outlined dense v-model="suscription.name" :placeholder="$t('newsLetterName')" />
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 q-pr-md no-padding-mobile" filled round>
                      <q-input :rules="[val => !!val || 'Ingresa el correo electrónico', val => val.includes('@') || 'El correo debe poseer @', val => val.includes('.') || 'El correo ingresado debe terminar en .com, .org, etc']" type="email" bg-color="white" rounded outlined dense v-model="suscription.email" :placeholder="$t('scheduleAppoEmail')" />
                    </div>
                    <!--<div style="margin-top: 10px" class="col-md-12 col-sm-12 col-xs-12 q-pr-md no-padding-mobile" filled round>
                      <p><q-checkbox keep-color filled v-model="conditions" color="primary">
                      </q-checkbox> <span class="text-white">Terminos y condiciones</span></p>
                    </div>-->
                    <div class="col-md-12 col-sm-12 q-pb-lg col-12 q-pr-md no-padding-mobile">
                      <q-btn size="12px" :loading="loading" outline rounded :disabled="!suscription.name || !suscription.email" :label="$t('suscribeNewsletter')" type="submit" color="primary" class="title full-width title text-capitalize" />
                    </div>
                  </div>
                </q-form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 footer-mt-mobile col-md-3 q-pt-md q-pl-md">
          <div class="row full-width">
            <div class="col-12 q-pl-sm">
              <q-img src="images/Icono_Instagram.png" width="200px" />
            </div>
            <div class="col-12">
              <q-list>
                <q-item>
                  <q-item-section top avatar>
                    <q-avatar rounded size="50px">
                      <img src="images/Icono_perfil.png">
                    </q-avatar>
                  </q-item-section>
                  <q-item-section class="q-pt-sm">
                    <q-item-label>
                      <p @click="openUrl('https://www.instagram.com/dradianapulgarin')" class="text-white clickable font-13 text-bold">Diana pulgarín | Smile</p>
                    </q-item-label>
                    <q-item-label caption class="margin-cap-fo">
                      <p class="text-white" :class="textH">Clinica Odontológica Integral</p>
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </div>
            <div class="col-12 q-pl-sm q-pr-sm">
              <div class="row full-width">
                <div class="col-4" style="padding: 5px" v-for="(feed, idx) in feeds" :key="idx">
                  <q-img class="shadow-1" :src="url + '/images/instagram/' + feed.img" width="100%" style="border-radius: 3px" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 q-mt-sm q-mb-lg">
      <div class="container">
        <div class="row full-width d-flex flex-center">
          <div class="col-12 col-md-auto text-center">
            <q-btn class="rrss-icon font-12" flat densed type="a" to="/politicas-cambio" :label="$t('cambiosDevoluciones')" color="white" />
          </div>
          <div class="col-12 col-md-auto text-center">
            <q-btn class="rrss-icon font-12" flat densed type="a" to="/tratamiento-datos" :label="$t('tratamiento')" color="white" />
          </div>
          <div class="col-12 col-md-auto text-center">
            <q-btn class="rrss-icon font-12" flat target="_blank" densed type="a" href="https://www.sic.gov.co" label="SIC" color="white" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 q-mt-lg q-pa-sm text-center bg-primary">
      <span class="font-12 text-white">
        {{$t('copyRight')}} <a target="_blank" href="https://onexmedia.co/" flat densed style="margin-left: 0px; margin-top: -2px; color: white; text-decoration: none">
          <img src="images/onexmedialogo.svg" width="90px" class="rrss-icon" alt="">
        </a>
      </span>
    </div>
  </section>
</template>

<script>
import { suscribeNewsLetter } from 'src/api/newsLetter'
import { getFeeds } from 'src/api/index'
import { domain } from 'src/api/data'

export default {
  // name: 'ComponentName',
  computed: {
    feeds () {
      return this.$store.getters['blogs/feeds']
    },
    textH () {
      return this.$q.screen.gt.sm
        ? 'font-12'
        : 'font-8'
    }
  },
  data () {
    return {
      suscription: {},
      loading: false,
      conditions: false,
      url: domain
    }
  },
  methods: {
    openUrl (key) {
      window.open(key)
    },
    suscribe () {
      if (!this.conditions) {
        // this.$notify('negative', this.$t('acceptTerms'), 'red-9')
        // return false
      }
      this.loading = true
      return suscribeNewsLetter(this.suscription, (response) => {
        this.loading = false
        this.suscription = {}
        this.$notify('positive', this.$t('suscribeNewsletters'), 'green-9')
      }, (err) => {
        this.loading = false
        this.$notify('negative', err.message, 'red-9')
      })
    },
    getFeeds () {
      return getFeeds((resp) => {
        this.$store.dispatch('blogs/filterFeeds', resp.data.success)
      }, (err) => {
        this.$notify('negative', err.message, 'red-9')
      })
    }
  },
  beforeMount () {
    this.getFeeds()
  }
}
</script>
