<template>
  <div class="row payment-Banner full-width">
    <div class="col-12 col-md-5 col-sm-12">
      <div class="container-payment full-height">
        <div class="row full-height items-center">
          <div class="col-12 text-center-mobile">
            <span class="text-h4 text-uppercase text-primary title">
              {{title}} <span v-if="showOtherTitle">{{otherTitle}}</span>
            </span>
            <span v-if="$route.path === '/blog'" class="text-h4 text-uppercase text-primary">
              DRA. DIANA PULGARÍN
            </span>
            <p style="margin-top: 0px" class="font-13 text-justify text-center-mobile">
              <span v-html="description"></span>
            </p>
            <p style="margin-top: 0px" class="font-13 text-justify text-center-mobile">
              <span v-html="descriptionTwo"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-7 col-sm-12 banner-payments" :style="{ 'background-image': urlImg }"></div>
  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  props: {
    title: {
      type: String
    },
    otherTitle: {
      type: String
    },
    description: {
      type: String
    },
    img: {
      type: String
    },
    descriptionTwo: {
      type: String
    },
    showOtherTitle: {
      type: Boolean,
      default: false
    },
    showOtherDescription: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    urlImg () {
      return 'url(images/' + this.img + ')'
    }
  },
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>
