<template>
  <section class="bg-info">
    <div class="row">
      <div class="col-md-4 col-12 bg-newsletter">
      </div>
      <div class="col-md-8 col-12 q-pt-md q-pb-md">
        <div class="container">
          <forms />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import forms from './components/newsLetterForm'

export default {
  // name: 'ComponentName',
  components: {
    forms
  },
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>
