<template>
  <div>
    <q-icon @click="openUrl('https://www.youtube.com/channel/UCmFFQqYvl8akrOAe9FpYGFA')" name="img:images/youtube-dorado.png" color="primary" class="lt-md q-ml-sm" style="width: 30px; height: 30px" />
    <q-icon @click="openUrl('https://twitter.com/DraDianaPul')" name="img:images/twitter-dorado.png" color="primary" class="lt-md q-ml-sm" style="width: 30px; height: 30px" />
    <q-icon @click="openUrl('https://es-la.facebook.com/pg/DraDianaPulgarin')" name="img:images/facebook-dorado.png" class="lt-md q-ml-sm " color="primary" style="width: 30px; height: 30px" />
    <q-icon @click="openUrl('https://www.instagram.com/dradianapulgarin')" name="img:images/instagram-dorado.png" class="lt-md q-ml-sm " color="primary" style="width: 30px; height: 30px" />
  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  components: {
  },
  data () {
    return {
    }
  },
  methods: {
    openUrl (key) {
      window.open(key, '_blank')
    }
  }
}
</script>
