<template>
  <div class="row payment-Banner">
    <div class="col-6 col-md-6">
      <div class="container-payment full-height">
        <div class="row full-height items-center">
          <div class="col-12">
            <h1 class="text-h4 text-uppercase text-primary title">
              pagos
            </h1>
            <p style="margin-top: -20px" class="font-11 text-justify">Puedes hacer tus pagos aquí de tus tratamientos de Diseño de Sonrisa, Ortodoncia y Odontología General.</p>
            <p style="margin-top: -15px" class="font-11 text-justify gt-sm">Disponemos de montos fijos, si requieres pagar un valor diferente, debes comunicarte con tu asesor comercial..</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-6 banner-payments"></div>
  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  computed: {
  },
  data () {
    return {
    }
  },
  methods: {
    setAmountPayment (amount) {
    },
    sendPaymentData () {
    }
  }
}
</script>
