<template>
  <div class="container">
    <div class="row full-width">
      <div class="col-12 col-md-5 border-primary">
        <center>
          <q-img class="q-mb-sm q-mt-sm banner-img-1-pa" src="images/Pagos-dp_Iconos-pagos-02.png" />
          <div class="border-mobile-1 lt-md"></div>
        </center>
      </div>
      <div class="col-12 col-md-4 border-primary">
        <center>
          <q-img class="q-mb-sm q-mt-sm banner-img-1-pa" src="images/Pagos-dp_Iconos-pagos-03.png" />
          <div class="border-mobile-2 lt-md"></div>
        </center>
      </div>
      <div class="col-12 col-md-3">
        <center>
          <q-img class="q-mb-sm q-mt-sm banner-img-2-pa" src="images/Pagos-dp_Iconos-pagos-04.png" width="200px" />
        </center>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  computed: {
  },
  data () {
    return {
    }
  },
  methods: {
    setAmountPayment (amount) {
    },
    sendPaymentData () {
    }
  }
}
</script>
