<template>
  <div class="container">
    <div class="row justify-center q-mt-lg">
      <div class="col-12 col-md-4 q-pl-lg q-pr-lg">
        <div class="row full-width" style="margin-top: 0px">
          <div class="col-12 col-md-5 q-pl-lg q-pr-lg">
            <p class="text-h4 text-primary text-bold">
              {{$t('value')}}
            </p>
            <p class="font-13 text-bold" style="margin-top: -5px">
              {{$t('selectValue')}}
            </p>
          </div>
          <div class="col-12 col-md-12 text-center q-pa-md">
            <q-btn @click="setAmountPayment(300000)" class="full-width" label="300 MIL" rounded outline :color="isFilled(300000)" />
          </div>
           <div class="col-12 col-md-12 text-center q-pa-md">
            <q-btn @click="setAmountPayment(500000)" class="full-width" label="500 MIL" rounded outline :color="isFilled(500000)" />
          </div>
           <div class="col-12 col-md-12 text-center q-pa-md">
            <q-btn @click="setAmountPayment(1000000)" class="full-width" label="1 MILLON" rounded outline :color="isFilled(1000000)" />
          </div>
          <div class="col-12 col-md-12 text-center q-pa-md">
            <q-btn @click="setAmountPayment(2000000)" class="full-width" label="2 MILLONES" rounded outline :color="isFilled(2000000)" />
          </div>
          <div class="col-12 col-md-12 text-center q-pa-md">
            <q-btn @click="setAmountPayment(5000000)" class="full-width" label="5 MILLONES" rounded outline :color="isFilled(5000000)" />
          </div>
        </div>
        <div class="col-12 q-pa-md" style="margin-top: 0px">
          <p class="text-h4 text-primary text-bold">{{$t('methods')}}</p>
        </div>
        <div class="col-12 q-mt-lg q-pa-md" style="margin-top: -40px">
          <q-img src="images/pagos-2.png" width="100%" class="shadow-0" />
        </div>
      </div>
      <div class="col-12 col-md-7 q-pl-lg q-pr-lg mobile-down" style="margin-top: -20px">
        <q-form @submit="sendPay">
          <div class="row full-width">
            <div class="col-12 col-md-12">
              <q-tabs inline-label v-model="tab" class="text-primary full-width">
                <q-tab @click="typePayment = 1" name="card" :label="$t('creditCard')" icon="img:images/mastercard.svg" />
                <q-tab @click="typePayment = 2" name="other" :label="$t('otherP')" icon="img:images/pse.svg" />
              </q-tabs>
            </div>
            <div class="col-12 q-pa-sm">
              <label class="text-black text-capitalize text-bold font-12 text-bold">{{$t('sede')}}</label>
              <q-select @input="setPlace" class="q-mt-sm" outlined rounded v-model="payment.place" :options="places" :option-value="opt => Object(opt) === opt && 'id' in opt ? opt.id : null" :option-label="opt => Object(opt) === opt && 'name' in opt ? opt.name : '- Null -'" :option-disable="opt => Object(opt) === opt ? opt.inactive === true : true" emit-value map-options :rules="[val => !!val || 'Selecciona una opción']" dense>
              </q-select>
            </div>
            <div class="col-12 col-md-6 q-pa-sm name" style="margin-top: -15px">
              <label class="text-black text-bold text-capitalize q-pl-sm font-12 text-bold">{{$t('scheduleAppoName')}}</label>
              <q-input dense class="q-mt-sm" rounded outlined :rules="[val => !!val || 'Ingresa tus nombres']" v-model="payment.name">
              </q-input>
            </div>
            <div class="col-12 col-md-6 q-pa-sm name" style="margin-top: -15px">
              <label class="text-black text-bold text-capitalize q-pl-sm font-12 text-bold">{{$t('lastName')}}</label>
              <q-input dense class="q-mt-sm" rounded outlined :rules="[val => !!val || 'Ingresa tus apellidos']" v-model="payment.lastName">
              </q-input>
            </div>
            <div class="col-12 col-md-6 q-pa-sm" style="margin-top: -15px">
              <label class="text-black text-capitalize text-bold q-pl-sm font-12 text-bold">doc</label>
              <q-select dense class="q-mt-sm" :rules="[val => !!val || 'Ingresa tu tipo de documento']" rounded outlined v-model="payment.docType" :options="docs" :option-value="opt => Object(opt) === opt && 'id' in opt ? opt.id : null" :option-label="opt => Object(opt) === opt && 'name' in opt ? opt.name : '- Null -'" :option-disable="opt => Object(opt) === opt ? opt.inactive === true : true" emit-value map-options>
              </q-select>
            </div>
            <div class="col-12 col-md-6 q-pa-sm doc" style="margin-top: -15px">
              <label class="text-black text-capitalize text-bold q-pl-sm font-12 text-bold">{{$t('doc')}}</label>
              <q-input dense class="q-mt-sm" :rules="[val => !!val || 'Ingresa tu documento']" rounded outlined v-model="payment.dni">
              </q-input>
            </div>
            <div class="col-12 col-md-6 q-pa-sm email" style="margin-top: -15px">
              <label class="text-capitalize text-black text-bold q-pl-sm font-12 text-bold">{{$t('scheduleAppoEmail')}}</label>
              <q-input dense class="q-mt-sm" :rules="[val => !!val || 'Ingresa el correo electrónico', val => val.includes('@') || 'El correo debe poseer @', val => val.includes('.') || 'El correo ingresado debe terminar en .com, .org, etc']" rounded outlined v-model="payment.email">
              </q-input>
            </div>
            <div class="col-12 col-md-6 q-pa-sm phone" style="margin-top: -15px">
              <label class="text-capitalize text-black text-bold q-pl-sm font-12 text-bold">{{$t('scheduleAppoPhone')}}</label>
              <q-input dense class="q-mt-sm" :rules="[val => !!val || 'Ingresa tu teléfono']" rounded outlined v-model="payment.phone" >
              </q-input>
            </div>
            <div class="col-12 col-md-6 q-pa-sm address" style="margin-top: -15px">
              <label class="text-capitalize text-black text-bold q-pl-sm font-12 text-bold">{{$t('address')}}</label>
              <q-input dense class="q-mt-sm" :rules="[val => !!val || 'Ingresa tu dirección']" rounded outlined v-model="payment.address">
              </q-input>
            </div>
            <div class="col-12 col-md-6 q-pa-sm address" style="margin-top: -15px">
              <label class="text-capitalize text-black text-bold q-pl-sm font-12 text-bold">{{$t('description')}}</label>
              <q-input dense class="q-mt-sm" :rules="[val => !!val || 'Ingresa la descripción del pago.']" rounded outlined v-model="payment.description">
              </q-input>
            </div>
            <div v-if="typePayment === 1" class="col-12 col-md-12 q-pa-sm tarjeta" style="margin-top: -10px">
              <label class="text-capitalize q-pl-sm font-12 text-bold">{{$t('cardN')}}</label>
              <q-input dense class="q-mt-sm" :rules="[val => !!val || 'Ingresa tu número de tarjeta']" rounded outlined v-model="payment.cardNumber"  mask="################">
              </q-input>
            </div>
            <div v-if="typePayment === 1" class="col-12 col-md-6 q-pa-sm cvv" style="margin-top: -10px">
              <label class="text-uppercase q-pl-sm font-12 text-bold">mm/yy</label>
              <q-input dense class="q-mt-sm" :rules="[val => !!val || 'Ingresa la fecha de vencimiento de tu tarjeta']" mask="##/##" rounded outlined v-model="payment.cardDate">
              </q-input>
            </div>
            <div v-if="typePayment === 1" class="col-12 col-md-6 q-pa-sm cvv" style="margin-top: -10px">
              <label class="text-capitalize q-pl-sm font-12 text-bold">cvv</label>
              <q-input dense class="q-mt-sm" :rules="[val => !!val || 'Ingresa el ccv de tu tarjeta']" type="number" rounded outlined v-model="payment.cardCvv">
              </q-input>
            </div>
            <div class="col-12 col-md-12 q-pa-sm send q-pb-xl">
              <form id="ePaycoForm" class="hidden"></form>
              <q-btn class="float-right text-capitalize" rounded :loading="loading" :label="$t('pagar')" type="submit" color="secondary" icon-right="img:images/pagoa_Icono-enviar.png" />
            </div>
          </div>
        </q-form>
      </div>
    </div>
  </div>
</template>

<script>
import { getTokenCard, getCustomer, storePayment } from 'src/api/payment'
import { domain } from 'src/api/data'

export default {
  // name: 'ComponentName',
  data () {
    return {
      payment: {},
      paymentDialog: false,
      sendPayment: {},
      loading: false,
      docs: [
        {
          id: 'NIT',
          name: 'NIT'
        },
        {
          id: 'CC',
          name: 'CC'
        },
        {
          id: 'CE',
          name: 'CE'
        },
        {
          id: 'PPN',
          name: 'PPN'
        },
        {
          id: 'DNI',
          name: 'DNI'
        }
      ],
      places: [
        {
          id: 1,
          name: 'Medellín'
        },
        {
          id: 2,
          name: 'Bogotá'
        },
        {
          id: 3,
          name: 'Cali'
        },
        {
          id: 4,
          name: 'Pereira'
        }
      ],
      token: null,
      selected: 0,
      typePayment: 1,
      tab: 'card',
      test: false,
      keysEpayco: {},
      referencePay: null,
      confirmUrl: null
    }
  },
  methods: {
    setAmountPayment (amount) {
      this.payment.amount = amount
      this.selected = amount
      this.paymentDialog = true
    },
    sendPaymentData () {
      this.payment.token = this.token
      this.payment.customer = this.customer
      this.loading = true
      this.$store.dispatch('payment/sendPay', this.payment)
        .then((resp) => {
          this.loading = false
          if (resp.data.success) {
            this.payment = {}
            this.paymentDialog = false
            this.selected = 0
            this.$notify('positive', resp.data.success, 'green-9')
            const ref = resp.data.success.split(': ')
            this.$push('/pagos/confirmado/' + ref[1])
          }
          if (resp.data.error) {
            this.$notify('negative', resp.data.error, 'red-9')
          }
        })
        .catch((err) => {
          this.loading = false
          this.$notify('negative', err.message, 'red-9')
        })
    },
    setPlace (place) {
      const search = this.places.filter(data => {
        return parseInt(data.id) === parseInt(place)
      })
      this.payment.placeName = search[0].name
      this.keysEpayco = {}
      if (this.payment.placeName === 'Medellín' || this.payment.placeName === 'Cali') {
        this.keysEpayco.apiKey = '0d56a6a811396f52e0f467c74845a373'
        this.keysEpayco.privateKey = '96a188e77aaaed53bb21ede9c36fab7d'
        this.confirmUrl = domain + '/confirm?pasarela=1'
      } else {
        this.keysEpayco.apiKey = 'b990a756486231c81913c55f4d964827'
        this.keysEpayco.privateKey = '5fffe38c6c3c29728078317f60c38e34'
        this.confirmUrl = domain + '/confirm?pasarela=2'
      }
    },
    generateToken () {
      if (!this.payment.amount) {
        this.$notify('negative', 'Por favor selecciona el monto ha pagar', 'red-9')
        return false
      }
      const data = {}
      data.cvv = this.payment.cardCvv
      data.number = this.payment.cardNumber
      const splitDate = this.payment.cardDate.split('/')
      data.mm = splitDate[0]
      data.yy = splitDate[1]
      data.sede = this.payment.placeName
      this.loading = true
      return getTokenCard(data, (resp) => {
        if (resp.data.token.success) {
          this.token = resp.data.token.data.id
          this.generateCustomer()
        } else {
          this.loading = false
          this.$notify('negative', 'Ocurrio un error validando tu tarjeta revisa los datos ingresados: ' + resp.data.token.data.errors, 'red-9')
        }
      }, (err) => {
        this.$notify('negative', err.message, 'red-9')
        this.loading = false
      })
    },
    generateCustomer () {
      const data = {}
      data.token = this.token
      data.name = this.payment.name
      data.lastName = this.payment.lastName
      data.email = this.payment.email
      data.sede = this.payment.placeName
      data.address = this.payment.address
      data.phone = this.phone
      return getCustomer(data, (resp) => {
        this.loading = false
        if (resp.data.customer.status) {
          this.customer = resp.data.customer.data.customerId
          this.sendPaymentData()
        } else {
          this.$notify('negative', 'Ocurrio un error validando tu tarjeta revisa los datos ingresados.', 'red-9')
        }
      }, (err) => {
        this.$notify('negative', err.message, 'red-9')
        this.loading = false
      })
    },
    isFilled (mount) {
      if (mount !== this.selected) {
        return 'black'
      } else {
        return 'primary'
      }
    },
    sendPay () {
      if (this.typePayment === 1) {
        this.generateToken()
      } else {
        if (!this.payment.amount) {
          this.$notify('negative', 'Debes seleccionar el monto a pagar.', 'red-9')
          return false
        }
        this.referencePay = this.generateReference(6)
        this.payment.reference = this.referencePay
        this.confirmUrl = this.confirmUrl + '&reference=' + this.payment.reference
        this.loading = true
        return storePayment(this.payment, (resp) => {
          this.$notify('positive', 'Se ha generado tu pago, procede a cancelarlo', 'green-9')
          this.loading = false
          this.setCheckout()
        }, (err) => {
          this.loading = false
          console.log(err)
          this.$notify('negative', err.message, 'red-9')
        })
      }
    },
    setCheckout () {
      this.handler = window.ePayco.checkout.configure({
        key: this.keysEpayco.apiKey,
        test: this.test
      })
      const ePaycoForm = document.getElementById('ePaycoForm')
      const ePaycoScript = document.createElement('script')
      ePaycoScript.setAttribute('src', 'https://checkout.epayco.co/checkout.js')
      ePaycoScript.setAttribute('class', 'epayco-button')
      ePaycoScript.setAttribute('data-epayco-key', this.keysEpayco.apiKey)
      ePaycoScript.setAttribute('data-epayco-amount', this.payment.amount)
      ePaycoScript.setAttribute('data-epayco-name', 'Pago diana pulgarin')
      ePaycoScript.setAttribute('data-epayco-description', this.payment.description)
      ePaycoScript.setAttribute('data-epayco-invoice', this.referencePay)
      ePaycoScript.setAttribute('data-epayco-currency', 'cop')
      ePaycoScript.setAttribute('data-epayco-email-billing', this.payment.email)
      ePaycoScript.setAttribute('data-epayco-name-billing', this.payment.name + ' ' + this.payment.lastName)
      ePaycoScript.setAttribute('data-epayco-address-billing', this.payment.address)
      ePaycoScript.setAttribute('data-epayco-type-doc-billing', this.payment.docType)
      ePaycoScript.setAttribute('data-epayco-mobilephone-billing', this.payment.phone)
      ePaycoScript.setAttribute('data-epayco-number-doc-billing', this.payment.dni)
      ePaycoScript.setAttribute('data-epayco-country', 'co')
      ePaycoScript.setAttribute('data-epayco-test', this.test)
      ePaycoScript.setAttribute('data-epayco-external', false)
      ePaycoScript.setAttribute('data-epayco-response', domain + '/response')
      ePaycoScript.setAttribute('data-epayco-confirmation', this.confirmUrl)
      ePaycoForm.appendChild(ePaycoScript)
      setTimeout(function () {
        const ePaycoBtn = document.querySelector('.epayco-button-render')
        ePaycoBtn.click()
        ePaycoBtn.parentNode.removeChild(ePaycoBtn)
      }, 2000)
    },
    generateReference (keyLength) {
      let key = ''
      const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789'
      const charactersLength = characters.length
      for (let i = 0; i < keyLength; i++) {
        key += characters.substr(Math.floor((Math.random() * charactersLength) + 1), 1)
      }
      return key
    }
  }
}
</script>
