<template>
  <div class="row">
    <div class="col-12">
      <headerVacancies title="Vacantes" :showButton="true" />
    </div>
    <div class="col-12">
      <tableVacancies />
    </div>
  </div>
</template>

<script>
import headerVacancies from 'src/components/admin/caseSuccess/components/header'
import tableVacancies from './components/table'

export default {
  // name: 'ComponentName',
  components: {
    headerVacancies,
    tableVacancies
  },
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>
