<template>
  <section class="contacts-section full-width q-mt-xl">
    <div class="container">
      <div class="row full-width">
        <div class="col-12 col-md-6 col-sm-12">
          <div class="row full-width">
            <div class="col-12">
              <span class="text-h3 text-primary title text-uppercase text-bold">
                {{$t('contactWithUs')}}
              </span>
            </div>
          </div>
          <div class="row full-width d-flex flex-center q-mt-lg">
            <div class="col-12 col-md-5 col-sm-4">
              <center>
                <img class="mockup-contact" src="images/dp_Celular-Mockup.png" />
              </center>
            </div>
            <div class="col-12 col-md-7 col-sm-8 q-pa-lg">
              <p class="description font-14 text-weight-bolder font-weight-bolder q-mt-md text-bold">
                {{$t('contactDescriptionOne')}} <span class="gt-sm">{{$t('contactDescriptionTwo')}}</span>.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 mobile-upp">
          <div class="row full-width full-height d-flex flex-center">
            <formCont />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import formCont from './form.vue'

export default {
  // name: 'ComponentName',
  components: {
    formCont
  },
  computed: {
  },
  data () {
    return {
      message: {}
    }
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
