<template>
  <div class="container-form">
    <div class="row">
      <div class="col-12 col-md-10">
        <div class="col-12 q-mt-lg">
          <q-form @submit="sendContact">
            <div class="row full-width">
              <div class="col-12 col-md-12 q-pa-sm q-mt-md">
                <label class="text-secondary text-black text-bold text-capitalize font-12">{{$t('scheduleAppoEmail')}}</label>
                <q-input :rules="[val => !!val || 'Ingresa el correo electrónico', val => val.includes('@') || 'El correo debe poseer @', val => val.includes('.') || 'El correo ingresado debe terminar en .com, .org, etc']" v-model="contact.email" outlined rounded dense class="q-mt-sm">
                  <template v-slot:prepend>
                    <q-icon name="img:images/email.svg" size="15pt" />
                  </template>
                </q-input>
              </div>
              <div class="col-12 col-md-6 q-pa-sm" style="margin-top: -20px">
                <div class="row full-width">
                  <div class="col-12">
                    <label class="text-secondary text-black text-bold text-capitalize font-12">{{$t('newsLetterName')}} <span class="gt-xs"></span></label>
                    <q-input dense :rules="[val => !!val || 'Ingresa este campo']" outlined rounded v-model="contact.name" class="q-mt-sm">
                      <template v-slot:prepend>
                        <q-icon name="person" color="primary" />
                      </template>
                    </q-input>
                  </div>
                  <div class="col-12" style="margin-top: -5px">
                    <label class="text-secondary text-black text-bold text-capitalize font-12">{{$t('scheduleAppoPhone')}}</label>
                    <q-input dense :rules="[val => !!val || 'Ingresa este campo']" v-model="contact.phone" outlined rounded class="q-mt-sm">
                      <template v-slot:prepend>
                        <q-icon name="img:images/phone.svg" size="15pt" />
                      </template>
                    </q-input>
                  </div>
                  <div class="col-12" style="margin-top: -5px">
                    <label class="text-secondary text-black text-bold text-capitalize font-12">{{$t('asunto')}}</label>
                    <q-input dense :rules="[val => !!val || 'Ingresa este campo']" v-model="contact.subject" outlined rounded class="q-mt-sm">
                      <template v-slot:prepend>
                        <q-icon name="img:images/asunto.svg" size="15pt" />
                      </template>
                    </q-input>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 q-pa-sm" style="margin-top: -20px">
                <div class="row full-width">
                  <div class="col-12 contact-textarea">
                    <label class="text-secondary text-black text-bold text-capitalize font-12">{{$t('scheduleAppoComments')}} <span class="gt-xs"></span></label>
                    <q-input :rules="[val => !!val || 'Ingresa este campo']" class="full-height" type="textarea" style="min-height: 215px;" v-model="contact.message" outlined rounded rows="5" />
                  </div>
                </div>
              </div>
              <div class="col-12 text-right">
                <q-btn class="float-right text-capitalize" rounded :loading="loading" :label="$t('send')" type="submit" color="secondary" icon-right="img:images/pagoa_Icono-enviar.png" />
              </div>
            </div>
          </q-form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { contactEmail } from 'src/api/email.js'

export default {
  // name: 'ComponentName',
  components: {
  },
  computed: {
  },
  data () {
    return {
      contact: {},
      loading: false,
      places: [
        {
          id: 1,
          name: 'Medellín'
        },
        {
          id: 2,
          name: 'Bogotá'
        },
        {
          id: 3,
          name: 'Cali'
        },
        {
          id: 4,
          name: 'Pereira'
        }
      ]
    }
  },
  methods: {
    sendContact () {
      this.contact.place = ''
      this.loading = true
      return contactEmail(this.contact, (response) => {
        this.loading = false
        this.contact = {}
        this.$notify('positive', 'Se ha enviado tu solicitud correctamente.', 'green-9')
      }, (err) => {
        this.$notify('negative', err.message, 'red-9')
        this.loading = false
      })
    }
  },
  beforeMount () {
  }
}
</script>
