<template>
  <div class="row full-width">
    <div class="col-6 col-md-5 col-sm-6 bg-custom-contact q-pa-lg no-pa-mobile">
      <consultorios />
    </div>
    <div class="col-6 col-md-7 col-sm-6">
      <div class="full-width full-height bg-white map-container" v-if="render">
        <iframe :src="url" width="100%" class="full-height" style="border:0; border-radius: 1px" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</template>

<script>
import consultorios from './consultorios.vue'

export default {
  // name: 'ComponentName',
  components: {
    consultorios
  },
  computed: {
  },
  data () {
    return {
      url: 'https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3966.511368292711!2d-75.57417160215174!3d6.196057695444822!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4683f95901d591%3A0x470c03c74ed0e436!2sDra.%20Diana%20Pulgar%C3%ADn!5e0!3m2!1ses!2sve!4v1634817322386!5m2!1ses!2sve',
      render: true
    }
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
