<template>
  <div class="row">
    <div class="col-12 mobile-height">
      <newBanner :title="$t('successStories')" :otherTitle="$t('offertWe')" :description="$t('servicesBannerDescription')" :img="'pagos.png'" :showOtherTitle="false" :descriptionTwo="''" />
    </div>
    <div class="col-12">
      <firstItemsSection :successStories="caseSuccess" />
    </div>
    <div class="col-12 bg-relieve" v-scroll-fire="loadRealChanges">
      <middleSection />
    </div>
    <div class="col-12 mt-second-items q-mb-lg">
      <secondItemsSection :successStories="realCases" />
    </div>
    <!--<div class="col-12">
      <newsLetter />
    </div>-->
  </div>
</template>

<script>
import newBanner from 'src/components/layout/newBanner'
import firstItemsSection from './components/firstItemsSection'
import middleSection from './components/middleSection'
import secondItemsSection from './components/secondItemsSection'
// import newsLetter from 'src/components/layout/newsLetter'

export default {
  // name: 'ComponentName',
  components: {
    newBanner,
    firstItemsSection,
    middleSection,
    secondItemsSection
    // newsLetter
  },
  computed: {
    locale () {
      return this.$store.getters['auth/locale']
    },
    realCases () {
      return this.$store.getters['caseReal/caseReal']
    },
    caseSuccess () {
      return this.$store.getters['caseSuccess/caseSuccess']
    }
  },
  data () {
    return {
      imgBanner: 'banner-2-services.png',
      filter: {},
      showReal: false
    }
  },
  methods: {
    filterService (id) {
      this.filter = this.servicesLists.find(data => {
        return data.id === id
      })
    },
    loadRealChanges () {
      this.showReal = true
      setTimeout(() => this.setHideTime(), 10000)
    },
    setHideTime () {
      const handle = document.getElementsByClassName('handle')
      for (let i = 0; i < handle.length; i++) {
        handle[i].setAttribute('class', 'handle hide-8')
      }
    }
  },
  beforeMount () {
  }
}
</script>
