<template>
  <q-page>
    <appoinmentIndex class="q-pb-md" />
    <footerWeb style="margin-top: -20px; position: relative; z-index: 9999999999999" />
  </q-page>
</template>

<script>
import appoinmentIndex from 'src/components/appoinment/appoinment'
import footerWeb from 'src/components/layout/footer'

export default {
  name: 'PageIndex',
  components: {
    appoinmentIndex,
    footerWeb
  },
  meta: {
    title: 'Agendamiento | Dra Diana Pulgarin, Odontologa Estética.',
    titleTemplate: title => `${title}`,
    meta: {
      description: { name: 'description', content: 'Dianapulgarin es la web de un grupo odontológico liderado por la Odontóloga Estética Diana Pulgarín, quien realizó sus estudios en el Colegio Odontológico de Cali, se especializó en Odontología Estética en NYU, Harvard University y es residente de la especialización de odontología láser de la universidad de AECHEN Alemania.' },
      keywords: { name: 'keywords', content: 'dianapulgarin, diana, pulgarin, odontologia, odontóloga, odontológico' },
      equiv: { 'http-equiv': 'Content-Type', content: 'text/html; charset=UTF-8' },
      ogTitle: {
        name: 'og:title'
      }
    }
  },
  methods: {
    track () {
      this.$ga.page('/appoinment')
    }
  },
  beforeMount () {
    this.track()
    this.$store.dispatch('auth/setGlobal', true)
  }
}
</script>
