<template>
  <q-page>
    <banner style="margin-top: -20px" />
    <realChanges class="desktop-only" />
    <aboutUs class="desktop-only" />
    <aboutUs class="mobile-only q-mb-xl" />
    <realChanges class="mobile-only q-mt-xl" />
    <services />
    <counting />
    <addressess />
    <successChanges />
    <easyPayment />
    <footerWeb />
  </q-page>
</template>

<script>
import banner from 'src/components/index/banner'
import realChanges from 'src/components/index/realChanges'
import aboutUs from 'src/components/index/aboutUs'
import services from 'src/components/index/services'
import easyPayment from 'src/components/index/easyPayment'
import counting from 'src/components/index/counting'
import successChanges from 'src/components/index/successChanges'
import addressess from 'src/components/index/address'
import footerWeb from 'src/components/layout/footer'

export default {
  name: 'PageIndex',
  components: {
    banner,
    realChanges,
    successChanges,
    aboutUs,
    services,
    addressess,
    footerWeb,
    easyPayment,
    counting
  },
  meta: {
    title: 'Inicio | Dra Diana Pulgarin.',
    titleTemplate: title => `${title}`,
    meta: {
      description: { name: 'description', content: 'Dianapulgarin es la web de un grupo odontológico liderado por la Odontóloga Estética Diana Pulgarín, quien realizó sus estudios en el Colegio Odontológico de Cali, se especializó en Odontología Estética en NYU, Harvard University y es residente de la especialización de odontología láser de la universidad de AECHEN Alemania.' },
      keywords: { name: 'keywords', content: 'dianapulgarin, diana, pulgarin, odontologia, odontóloga, odontológico' },
      equiv: { 'http-equiv': 'Content-Type', content: 'text/html; charset=UTF-8' },
      ogTitle: {
        name: 'og:title'
      }
    }
  },
  methods: {
    track () {
      this.$ga.page('/')
    }
  },
  beforeMount () {
    this.track()
  }
}
</script>
