<template>
  <q-page>
    <div class="grids">
      <div class="bg">
      </div>
      <div class="info" style="margin-top">
        <img src="images/Logo.svg" alt="">
        <div class="titulo" style="margin-top: -4rem">
          <p class="text-h1" style="font-size: 30pt">¡Muchas gracias!</p>
          <p style="margin-top: -3rem">Hemos recibido su pago</p>
        </div>
        <div style="text-align: center;">
          <span>Tu código de referencia es:</span>
          <div class="refer">
            <span>{{$route.params.ref}}</span>
          </div>
        </div>
        <div class="redes">
          <a href="https://www.instagram.com/dradianapulgarin/" target="_blank" class="rrss-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.4 35.4"><path d="M404.6,392.1h-8.2a4.2,4.2,0,0,0-4.3,4.2v8.3a4.3,4.3,0,0,0,4.3,4.3h8.2a4.3,4.3,0,0,0,4.3-4.3v-8.3A4.2,4.2,0,0,0,404.6,392.1Zm-4,13.5a5.1,5.1,0,1,1,5.1-5.1A5.1,5.1,0,0,1,400.6,405.6Zm5.4-9.4a1.2,1.2,0,0,1-1.2-1.2,1.2,1.2,0,0,1,2.4,0A1.2,1.2,0,0,1,406,396.2Z" transform="translate(-382.8 -382.8)" style="fill:#fff"/><path d="M400.6,397.2a3.3,3.3,0,0,0-3.3,3.3,3.3,3.3,0,0,0,6.6,0A3.3,3.3,0,0,0,400.6,397.2Z" transform="translate(-382.8 -382.8)" style="fill:#fff"/><path d="M400.5,382.8a17.7,17.7,0,1,0,17.7,17.7A17.7,17.7,0,0,0,400.5,382.8Zm10.4,21.8a6.2,6.2,0,0,1-6.3,6.2h-8.2a6.2,6.2,0,0,1-6.3-6.2v-8.3a6.3,6.3,0,0,1,6.3-6.2h8.2a6.3,6.3,0,0,1,6.3,6.2Z" transform="translate(-382.8 -382.8)" style="fill:#fff"/></svg>
          </a>
          <a href="https://www.facebook.com/DraDianaPulgarin/" target="_blank" class="rrss-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="35.4" height="35.2" viewBox="0 0 35.4 35.2"><path d="M400.5,382.9a17.7,17.7,0,0,0-2.8,35.2V405.7h-4.5v-5.1h4.5v-3.9c0-4.4,2.7-6.9,6.7-6.9a23.4,23.4,0,0,1,4,.4v4.3h-2.3a2.5,2.5,0,0,0-2.8,2.8v3.3h4.9l-.8,5.1h-4.1v12.4a17.7,17.7,0,0,0-2.8-35.2Z" transform="translate(-382.8 -382.9)" style="fill:#fff"/></svg>
          </a>
          <a href="https://www.youtube.com/channel/UCmFFQqYvl8akrOAe9FpYGFA" target="_blank" class="rrss-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.4 35.4"><path d="M403.4,400.4l-4.7-2.6c-.2-.1-.8.1-.8.3V403c0,.3.6.4.8.3l4.9-2.4C403.8,400.8,403.6,400.5,403.4,400.4Z" transform="translate(-382.8 -382.8)" style="fill:#fff"/><path d="M400.5,382.8a17.7,17.7,0,1,0,17.7,17.7A17.7,17.7,0,0,0,400.5,382.8ZM410,403a4.3,4.3,0,0,1-4.3,4.3H394.9a4.3,4.3,0,0,1-4.3-4.3v-5a4.3,4.3,0,0,1,4.3-4.3h10.8A4.3,4.3,0,0,1,410,398Z" transform="translate(-382.8 -382.8)" style="fill:#fff"/></svg>
          </a>
          <a href="https://twitter.com/DraDianaPul" target="_blank" class="rrss-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.38 35.38"><path d="M400.5,382.81a17.69,17.69,0,1,0,17.69,17.69A17.69,17.69,0,0,0,400.5,382.81Zm9.85,11.65a.46.46,0,0,1-.1.3,7.84,7.84,0,0,1-1.54,1.61c-.09.06-.24.13-.24.26a11.9,11.9,0,0,1-3.13,8.67A11.67,11.67,0,0,1,394,408a10.21,10.21,0,0,1-2.2-.88,6.71,6.71,0,0,1-.68-.4c-.06-.05-.1-.09-.05-.12s.09,0,.26,0a7.63,7.63,0,0,0,3.28-.42,5.06,5.06,0,0,0,2.16-1.14s0,0,0,0-.28,0-.43-.06a4.21,4.21,0,0,1-3.16-2.64c0-.11,0-.16.11-.14a4.45,4.45,0,0,0,1.51-.05,2.74,2.74,0,0,1-.51-.15,4.07,4.07,0,0,1-2.51-3.25,1.84,1.84,0,0,1,0-.46c0-.1.05-.14.15-.08a4.07,4.07,0,0,0,1.53.43c-.17-.13-.33-.28-.49-.43a4,4,0,0,1-.68-4.76c.07-.12.12-.12.22,0a12.35,12.35,0,0,0,7.94,4.05c.09,0,.1,0,.08-.1a4.22,4.22,0,0,1,.05-1.66,4.07,4.07,0,0,1,.78-1.57,4.32,4.32,0,0,1,1.32-1.08,4.19,4.19,0,0,1,1.63-.46,4.07,4.07,0,0,1,1.72.28,4.18,4.18,0,0,1,1.12.69c.07.06.13.13.2.2a.15.15,0,0,0,.16.05,10.13,10.13,0,0,0,2.31-.89.11.11,0,0,1,.11,0,.08.08,0,0,1,0,.1,3.59,3.59,0,0,1-.65,1.18c-.18.23-.64.8-1,.85a7.76,7.76,0,0,0,1.95-.55c.08,0,.08-.05.08,0Z" transform="translate(-382.81 -382.81)" style="fill:#fff"/></svg>
          </a>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>

export default {
  name: 'PageIndex',
  components: {
  },
  meta: {
    title: 'Pago completado | Dra Diana Pulgarin, Odontologa Estética.',
    titleTemplate: title => `${title}`,
    meta: {
      description: { name: 'description', content: 'Dianapulgarin es la web de un grupo odontológico liderado por la Odontóloga Estética Diana Pulgarín, quien realizó sus estudios en el Colegio Odontológico de Cali, se especializó en Odontología Estética en NYU, Harvard University y es residente de la especialización de odontología láser de la universidad de AECHEN Alemania. Políticas de cambios.' },
      keywords: { name: 'keywords', content: 'dianapulgarin, diana, pulgarin, odontologia, odontóloga, odontológico, contacto' },
      equiv: { 'http-equiv': 'Content-Type', content: 'text/html; charset=UTF-8' },
      ogTitle: {
        name: 'og:title'
      }
    }
  },
  methods: {
    track () {
      this.$ga.page('/pagos')
    }
  },
  beforeMount () {
    this.track()
    this.$store.dispatch('auth/setGlobal', true)
  }
}
</script>
