<template>
  <q-page>
    <personalData />
    <footerWeb />
  </q-page>
</template>

<script>
import personalData from 'src/components/index/personalData'
import footerWeb from 'src/components/layout/footer'

export default {
  name: 'PageIndex',
  components: {
    personalData,
    footerWeb
  },
  meta: {
    title: 'Tratamiento De protección De Datos | Dra Diana Pulgarin, Odontologa Estética.',
    titleTemplate: title => `${title}`,
    meta: {
      description: { name: 'description', content: 'Dianapulgarin es la web de un grupo odontológico liderado por la Odontóloga Estética Diana Pulgarín, quien realizó sus estudios en el Colegio Odontológico de Cali, se especializó en Odontología Estética en NYU, Harvard University y es residente de la especialización de odontología láser de la universidad de AECHEN Alemania. Políticas de protección de datos.' },
      keywords: { name: 'keywords', content: 'dianapulgarin, diana, pulgarin, odontologia, odontóloga, odontológico, contacto' },
      equiv: { 'http-equiv': 'Content-Type', content: 'text/html; charset=UTF-8' },
      ogTitle: {
        name: 'og:title'
      }
    }
  },
  methods: {
    track () {
      this.$ga.page('/contact')
    }
  },
  beforeMount () {
    this.track()
    this.$store.dispatch('auth/setGlobal', true)
  }
}
</script>
