<template>
  <q-layout view="hHh Lpr fFf">
    <q-header elevated>
      <q-toolbar class="bg-white">
        <q-btn flat dense color="primary" icon="menu" @click="leftDrawer = !leftDrawer" />
        <q-img @click="$push('/')" src="images/logo.png" width="150px" class="q-ml-md cursor-pointer" />
        <q-toolbar-title class="title text-primary">
        </q-toolbar-title>
        <q-btn flat dense color="primary" :label="admin.name" icon="person" class="gt-sm title">
          <q-menu fit class="q-pa-none">
            <q-list style="min-width: 100px" class="q-pa-none">
              <q-item clickable v-close-popup @click="logout">
                <q-item-section class="title text-secondary">SALIR</q-item-section>
                <q-item-section avatar>
                  <q-avatar text-color="primary" icon="logout" />
                </q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
      </q-toolbar>
    </q-header>
    <q-drawer :width="225" v-model="leftDrawer" side="left" content-class="bg-primary">
      <listAdmin class="" />
    </q-drawer>
    <q-page-container>
      <q-ajax-bar position="top" color="primary" size="4px" skip-hijack/>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
import listAdmin from 'components/layout/admin/list.vue'

export default {
  // name: 'LayoutName',
  components: {
    listAdmin
  },
  computed: {
    admin () {
      return this.$store.getters['auth/user']
    },
    token () {
      return this.$store.getters['auth/token']
    }
  },
  data () {
    return {
      leftDrawer: true
    }
  },
  methods: {
    logout () {
      const token = {}
      token.token = this.token
      this.$store.dispatch('auth/logoutUser', token)
        .then((resp) => {
          this.$push('/')
        })
        .catch((err) => {
          this.loading = false
          this.$push('/')
          this.$notify('negative', err.message, 'red-9')
        })
    }
  }
}
</script>
