<template>
  <q-card style="margin-top: -12px" v-if="render">
    <q-card-section>
      <q-form @submit="submit">
        <div class="row">
          <div class="col-12 col-md-6 q-pl-sm q-pr-sm">
            <q-input @input="reRender" :rules="[val => !!val || 'Ingresa el nombre de la vacante..']" filled label="Nombre de la vacante" v-model="vacancie.name">
              <template v-slot:append>
                <q-icon name="edit" color="primary" />
              </template>
            </q-input>
          </div>
          <div class="col-12 col-md-6 q-pl-sm q-pr-sm">
            <q-select filled label="Sede" class="full-width" v-model="vacancie.sede" :options="places" :option-value="opt => Object(opt) === opt && 'id' in opt ? opt.id : null" :option-label="opt => Object(opt) === opt && 'name' in opt ? opt.name : '- Null -'" :option-disable="opt => Object(opt) === opt ? opt.inactive === true : true" emit-value map-options :rules="[val => !!val || 'Selecciona una opción']" />
          </div>
          <div class="col-12 col-md-6 q-pl-sm q-pr-sm q-mt-md">
            <q-checkbox filled label="Activar vacante" v-model="status">
            </q-checkbox>
          </div>
          <div class="col-12 col-md-6 q-pl-sm q-pr-sm q-mt-md">
            <q-btn :loading="loading" type="submit" filled label="Guardar" class="full-width" color="primary">
            </q-btn>
          </div>
        </div>
      </q-form>
    </q-card-section>
  </q-card>
</template>

<script>
import { add, show, updateVacancie } from 'src/api/vacancies'

export default {
  // name: 'ComponentName',
  props: {
  },
  computed: {
  },
  data () {
    return {
      vacancie: {},
      status: false,
      loading: false,
      render: true,
      places: [
        {
          id: 'Medellín',
          name: 'Medellín'
        },
        {
          id: 'Bogotá',
          name: 'Bogotá'
        },
        {
          id: 'Cali',
          name: 'Cali'
        },
        {
          id: 'Guatemale',
          name: 'Guatemale'
        }
      ]
    }
  },
  methods: {
    submit () {
      if (this.status) {
        this.vacancie.status = true
      } else {
        this.vacancie.status = false
      }
      this.loading = true
      if (this.vacancie.id) {
        return updateVacancie(this.vacancie, resp => {
          this.$notify('positive', 'Se ha guardado la vacante correctamente.', 'green-9')
          this.loading = false
          this.$push('/dashboard/vacantes')
        }, err => {
          if (err.error) {
            this.loading = false
            const message = Object.values(err.error).shift()
            const newMessage = message.shift()
            this.$notify('negative', `${newMessage}`, 'red-9')
          } else {
            this.$notify('negative', err.message, 'red-9')
          }
        })
      }
      if (this.vacancie.id) {
        return true
      }
      return add(this.vacancie, resp => {
        this.$notify('positive', 'Se ha guardado la vacante correctamente.', 'green-9')
        this.loading = false
        this.$push('/dashboard/vacantes')
      }, err => {
        if (err.error) {
          this.loading = false
          const message = Object.values(err.error).shift()
          const newMessage = message.shift()
          this.$notify('negative', `${newMessage}`, 'red-9')
        } else {
          this.$notify('negative', err.message, 'red-9')
        }
      })
    },
    reRender () {
      this.render = false
      this.render = true
    }
  },
  created () {
    if (this.$route.params.id) {
      return show(this.$route.params.id, resp => {
        this.vacancie = resp.data
        if (resp.data.status === 0) {
          this.status = false
        } else {
          this.status = true
        }
      }, err => {
        if (err.error) {
          this.loading = false
          const message = Object.values(err.error).shift()
          const newMessage = message.shift()
          this.$notify('negative', `${newMessage}`, 'red-9')
        } else {
          this.$notify('negative', err.message, 'red-9')
        }
      })
    }
  }
}
</script>
