<template>
  <q-table :data="data" :columns="columns" row-key="name">
    <template v-slot:body="props">
      <q-tr :props="props">
        <q-td key="id" :props="props">
          {{props.row.id}}
        </q-td>
        <q-td key="name" :props="props">
          {{props.row.name}}
        </q-td>
        <q-td key="sede" :props="props">
          {{props.row.sede}}
        </q-td>
        <q-td key="status" :props="props">
          <q-chip v-if="props.row.status === 0" square color="red-9" size="10px" class="text-white">
            <span>Inactivo</span>
          </q-chip>
          <q-chip v-else square color="primary" size="10px" class="text-white">
            <span>Activo</span>
          </q-chip>
        </q-td>
        <q-td key="details" :props="props">
          <q-btn-dropdown flat dense color="black" label="">
            <q-btn flat densed :to="'/dashboard/vacantes/add/' + props.row.id" icon="edit" color="primary" class="" >
              <q-tooltip content-class="bg-green-9" :offset="[10, 10]">
                Editar Vacante
              </q-tooltip>
            </q-btn>
            <q-btn :loading="loading" flat densed @click="deleteVacancies(props.row.id)" icon="delete" color="secondary" class="" >
              <q-tooltip content-class="bg-red-9" :offset="[10, 10]">
                Eliminar Vacante
              </q-tooltip>
            </q-btn>
          </q-btn-dropdown>
        </q-td>
      </q-tr>
    </template>
  </q-table>
</template>

<script>
import { list, deleteVacancie } from 'src/api/vacancies'

export default {
  // name: 'ComponentName',
  computed: {
    payments () {
      return this.$store.getters['payment/getPayData']
    }
  },
  data () {
    return {
      columns: [
        { name: 'id', required: true, label: 'Id', align: 'center', field: row => row.ref, sortable: true, classes: 'ellipsis', style: 'width: 100px', headerClasses: 'bg-primary text-white' },
        { name: 'name', align: 'center', label: 'Nombre', field: 'name', sortable: false },
        { name: 'sede', align: 'center', label: 'Sede', field: 'name', sortable: false },
        { name: 'status', align: 'center', label: 'Estado', field: 'status', sortable: false },
        { name: 'details', align: 'center', label: 'Detalles' }
      ],
      data: [],
      loading: false
    }
  },
  methods: {
    getVacancies () {
      return list((response) => {
        this.data = response.data
      }, (err) => {
        this.$notify('negative', err.message, 'red-9')
        console.log(err)
      })
    },
    editVacancies (id) {
    },
    deleteVacancies (id) {
      this.loading = true
      return deleteVacancie(id, resp => {
        this.$notify('negative', resp.data, 'red-9')
        this.getVacancies()
        this.loading = false
      }, err => {
        console.log(err)
        this.loading = false
        if (err.error) {
          this.loading = false
          const message = Object.values(err.error).shift()
          const newMessage = message.shift()
          this.$notify('negative', `${newMessage}`, 'red-9')
        } else {
          this.$notify('negative', err.message, 'red-9')
        }
      })
    }
  },
  beforeMount () {
    this.getVacancies()
  }
}
</script>
