<template>
  <div class="row">
    <bannerContact />
    <div class="col-12 q-mt-md">
      <services />
    </div>
  </div>
</template>

<script>
import bannerContact from './components/banner'
import services from './components/services'

export default {
  // name: 'ComponentName',
  components: {
    bannerContact,
    services
  },
  computed: {
  },
  data () {
    return {
      message: {}
    }
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
