<template>
  <q-page padding>
    <addCountingForm />
  </q-page>
</template>

<script>
import addCountingForm from 'src/components/admin/counting/components/add'

export default {
  name: 'PageIndex',
  components: {
    addCountingForm
  }
}
</script>
