<template>
  <q-page padding>
    <indexCounting />
  </q-page>
</template>

<script>
import indexCounting from 'src/components/admin/counting/index'

export default {
  name: 'PageIndex',
  components: {
    indexCounting
  }
}
</script>
