<template>
  <div class="row full-width items-center">
    <div class="col-xs-6 dflex col-md-6 col-lg-6">
      <div class="blog-banner-wrapper q-pb-md pt-md">
        <div class="row flex-center">
          <div class="col-12 text-left">
            <span class="text-h1 text-primary title">
              BLOG
            </span>
          </div>
          <div class="col-12 left q-pl-sm mt-mobile-20">
            <span class="text-h5 text-primary">
              DRA. DIANA PULGARÍN
            </span>
          </div>
          <div class="col-12 left q-pl-sm">
            <span class="text-secondary font-14 ellipsis-3-lines">
              {{$t('discoverBlog')}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-6 col-lg-6 bg-blogs">
    </div>
  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  components: {
  },
  computed: {
  },
  data () {
    return {
    }
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
