<template>
  <q-scroll-area class="q-pa-sm" style="height: 70px; width: 100%;">
    <div class="row no-wrap flex-center gt-sm">
      <div class="q-mt-sm">
        <q-btn @click="filterPost(0)" rounded size="13pt" :outline="isOutline(0)" color="positive" label="Todos"/>
      </div>
      <div class="q-pl-md q-mt-sm" v-for="(category, idx) in categories" :key="idx">
        <q-btn @click="filterPost(category.id)" rounded size="13pt" :outline="isOutline(category.id)" color="positive" :label="category.name"/>
      </div>
    </div>
    <div class="row no-wrap lt-sm">
      <div class="q-mt-sm">
        <q-btn @click="filterPost(0)" rounded size="10px" :outline="isOutline(0)" color="positive" label="Todos"/>
      </div>
      <div class="q-pl-md q-mt-sm" v-for="(category, idx) in categories" :key="idx">
        <q-btn @click="filterPost(category.id)" rounded size="10px" :outline="isOutline(category.id)" color="positive" :label="category.name"/>
      </div>
    </div>
  </q-scroll-area>
</template>

<script>

export default {
  // name: 'ComponentName',
  components: {
  },
  computed: {
    categories () {
      return this.$store.getters['blogs/categories']
    },
    post () {
      return this.$store.getters['blogs/posts']
    }
  },
  data () {
    return {
      selected: 0
    }
  },
  methods: {
    getCategories () {
      this.$store.dispatch('blogs/listFrontCategories')
        .then((resp) => {
        })
        .catch((err) => {
          console.log(err)
        })
    },
    isOutline (id) {
      if (this.selected !== id) {
        return true
      } else {
        return false
      }
    },
    filterPost (id) {
      this.selected = id
      this.$store.dispatch('blogs/filterPostForCat', id)
    }
  },
  beforeMount () {
    this.getCategories()
  }
}
</script>
