<template>
  <div class="container">
    <div class="row full-width flex flex-center q-mt-lg">
      <div class="col-12 col-md-4 q-pa-md" v-for="(post, idx) in posts" :key="idx">
        <div class="row">
          <div class="col-12">
            <center>
              <q-img class="post-img shadow-5" :src="url + '/images/post/' + post.header_img" />
            </center>
          </div>
          <div style="height:60px" class="col-12 font-13 q-mt-md text-center ellipsis-2-lines text-center">
            <span v-if="locale === 'es'" class="text-h5 text-primary title text-capitalize">
              {{post.title}}
            </span>
            <span v-else class="text-h5 text-primary title text-capitalize">
              {{post.title_en}}
            </span>
          </div>
          <div class="col-12 text-justify" v-line-clamp:3="3">
            <span v-if="locale === 'es'" class="font-12 text-secondary title" v-html="post.description">
            </span>
            <span v-else class="font-12 text-secondary title" v-html="post.description_en">
            </span>
          </div>
          <div class="col-12 q-mt-md text-justify">
            <center>
               <q-btn class="rrss-icon text-capitalize" type="a" :to="'/blog/entrada/' + post.id" rounded size="13px" color="positive" :label="$t('seeAll')"/>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { domain } from 'src/api/data'

export default {
  // name: 'ComponentName',
  components: {
  },
  watch: {
    posts () {
    }
  },
  computed: {
    allPost () {
      return this.$store.getters['blogs/allPost']
    },
    posts () {
      return this.$store.getters['blogs/posts']
    },
    locale () {
      return this.$store.getters['auth/locale']
    }
  },
  data () {
    return {
      url: domain,
      selected: 0
    }
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
