<template>
  <q-page padding>
    <addCasesSuccess />
  </q-page>
</template>

<script>
import addCasesSuccess from 'src/components/admin/caseSuccess/add'

export default {
  name: 'PageIndex',
  components: {
    addCasesSuccess
  }
}
</script>
