<template>
  <q-page padding>
    <indexCaseSuccess />
  </q-page>
</template>

<script>
import indexCaseSuccess from 'src/components/admin/caseSuccess/index'

export default {
  name: 'PageIndex',
  components: {
    indexCaseSuccess
  }
}
</script>
