<template>
  <div class="row q-mt-xl" v-if="filterPost.id">
    <div class="col-12">
      <q-icon name="img:images/dp_Icono-Comentario.png" size="37px" />
      <span class="q-pl-sm text-h4 title text-primary">
        {{$t('commentss')}}
      </span>
    </div>
    <div class="col-12 q-mt-md" v-if="filterPost.id && filterPost.comments.length > 0">
      <q-chat-message v-for="(comment, idx) in filterPost.comments" :key="idx" bg-color="primary" text-color="white" avatar="images/dp_Icono-Usuario.png" :text="[comment.description]" />
    </div>
    <div class="col-12 q-pb-xl q-mt-md" v-if="filterPost.id">
      <div class="row full-width">
        <div class="col-1 q-pt-sm alings-center d-flex" style="width: 50px">
          <q-icon name="img:images/dp_Icono-Usuario.png" size="40px" />
        </div>
        <div class="col-11">
          <q-input label="Escribe un comentario." outlined rounded label-color="primary" color="primary" v-model="comments">
            <template v-slot:append v-if="comments">
              <q-btn icon="send" flat dense rounded color="primary" @click="comment" :loading="loading">
              </q-btn>
            </template>
          </q-input>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  props: {
  },
  computed: {
    filterPost () {
      return this.$store.getters['blogs/filterPost']
    }
  },
  data () {
    return {
      comments: '',
      loading: false
    }
  },
  methods: {
    comment () {
      const data = {}
      data.id = this.filterPost.id
      data.description = this.comments
      this.loading = true
      this.$store.dispatch('blogs/commentBlogPost', data)
        .then((resp) => {
          this.loading = false
          this.$notify('positive', 'Se ha enviado tu comentario correctamente.', 'green-9')
          console.log(resp)
        })
        .catch((err) => {
          this.loading = false
          this.$notify('negative', err.message, 'red-9')
        })
    }
  }
}
</script>
