<template>
  <div class="row q-mt-lg">
    <div class="col-12 text-justify">
      <div class="row full-width">
        <div v-if="locale === 'es'" class="col-12 font-12" v-html="description">
        </div>
        <div v-else class="col-12 font-12" v-html="descriptionEn">
        </div>
        <div class="col-12 dflex q-mt-xl">
          <q-btn-group size="10px" densed color="primary" class="q-pl-md q-pr-md" outline rounded>
            <q-btn outline color="primary">
              <ShareNetwork network="facebook" :url="urlFormat + '/#/blog/entrada/' + $route.params.id" :title="title" :description="description" :hashtags="category">
                <img src="images/dp_Icono-Facebook.png" width="20px">
              </ShareNetwork>
            </q-btn>
            <q-btn outline color="primary">
              <ShareNetwork network="twitter" :url="urlFormat + '/#/blog/entrada/' + $route.params.id" :title="title">
                <img src="images/dp_Icono-Twitter.png" width="20px">
              </ShareNetwork>
            </q-btn>
            <q-btn outline color="primary">
              <ShareNetwork network="LinkedIn" :title="title" :url="urlFormat + '/#/blog/entrada/' + $route.params.id">
                <img src="images/dp_Icono-Enlace.png" width="20px">
              </ShareNetwork>
            </q-btn>
          </q-btn-group>
        </div>
        <div class="col-12 q-mt-lg">
          <div class="row full-width dflex">
            <div class="">
              <q-btn size="10px" icon="img:images/dp_Icono-Vistos.png" flat :label="filterPost.views" />
            </div>
            <div class="">
              <q-btn size="10px" icon="img:images/dp_Icono-Comentario.png" flat :label="filterPost.comments.length" />
            </div>
            <div class="">
              <q-btn @click="$parent.likePost" size="10px" icon="img:images/dp_Icono-Corazon.png" flat :label="filterPost.likes" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  props: {
    description: {
      type: String
    },
    descriptionEn: {
      type: String
    },
    category: {
      type: String
    },
    url: {
      type: String
    },
    title: {
      type: String
    }
  },
  computed: {
    urlFormat () {
      const split = this.url.split('/api')
      return split[0]
    },
    filterPost () {
      return this.$store.getters['blogs/filterPost']
    },
    locale () {
      return this.$store.getters['auth/locale']
    }
  },
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>
