<template>
  <div class="row q-mt-md">
    <div class="col-12">
      <img class="blog-post-img" :src="url + '/images/post/' + img" />
    </div>
  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  props: {
    img: {
      type: String
    },
    url: {
      type: String
    }
  },
  computed: {
  },
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>
