<template>
  <div class="row q-mt-lg">
    <div class="col-12">
      <span class="text-h4 title text-primary">
        Blog dra. diana pulgarín
      </span>
    </div>
     <div class="col-12 q-mt-md">
      <span class="text-h4 title text-primary">
        <q-avatar>
          <img src="images/dp_Icono-Usuario-Diana.png">
        </q-avatar>
      </span>
      <span class="text-h4 text-capitalize text-secondary">
        Diana pulgarín
      </span>
      <span>
        <img src="images/dp_Icono-Corona.png" width="40px">
      </span>
      <span class="text-secondary">º</span>
      <span class="text-secondary text-14">
        {{formatDate}}
      </span>
      <span class="text-secondary text-14">
        º 1 min de lectura
      </span>
    </div>
    <div class="col-12 q-mt-md">
      <span v-if="locale === 'es'" class="text-h4 title text-primary">
        {{title}}
      </span>
      <span v-else class="text-h4 title text-primary">
        {{titleEn}}
      </span>
    </div>
  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  props: {
    title: {
      type: String
    },
    titleEn: {
      type: String
    },
    created: {
      type: String
    }
  },
  computed: {
    formatDate () {
      const year = this.created.substr(0, 4)
      const day = this.created.substr(8, 2)
      const month = this.created.substr(5, 2)
      return day + ' de ' + this.months[(parseInt(month) - 1)] + ' ' + year
    },
    locale () {
      return this.$store.getters['auth/locale']
    }
  },
  data () {
    return {
      months: [
        'enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'
      ]
    }
  },
  methods: {
  }
}
</script>
