<template>
  <div class="row q-mt-md">
    <div class="col-12">
      <span class="text-h4 title text-primary">
        {{$t('recentEntries')}}
      </span>
    </div>
    <div class="col-12 q-mt-sm">
      <div class="row full-width dflex">
        <div class="col-md-4 col-12 q-pa-sm cursor-pointer" v-for="(blog, idx) in distintPost" :key="idx" @click="filterPost(blog)">
          <q-card class="post-card">
            <q-card-section>
              <q-img class="post-img" :src="url + '/images/post/' + blog.header_img" />
            </q-card-section>
            <q-card-section>
              <div class="row">
                <div class="col-12">
                  <p style="height: 70px" v-if="locale === 'es'" class="font-14 ellipsis-2-lines title text-primary text-center">
                    {{blog.title}}
                  </p>
                  <p style="height: 70px" v-else class="font-14 ellipsis-2-lines title text-primary text-center">
                    {{blog.title_en}}
                  </p>
                </div>
                <div class="col-12">
                  <div class="row full-width dflex">
                    <div class="">
                      <q-btn size="10px" icon="img:images/dp_Icono-Vistos.png" flat :label="blog.views" />
                    </div>
                    <div class="">
                      <q-btn size="10px" icon="img:images/dp_Icono-Comentario.png" flat :label="blog.comments.length" />
                    </div>
                    <div class="">
                      <q-btn size="10px" icon="img:images/dp_Icono-Corazon.png" flat :label="blog.likes" />
                    </div>
                  </div>
                </div>
              </div>
            </q-card-section>
          </q-card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { domain } from 'src/api/data'

export default {
  // name: 'ComponentName',
  props: {
  },
  computed: {
    post () {
      return this.$store.getters['blogs/posts']
    },
    distintPost () {
      return this.post.filter(data => {
        return data.id !== parseInt(this.$route.params.id)
      })
    },
    locale () {
      return this.$store.getters['auth/locale']
    }
  },
  data () {
    return {
      url: domain
    }
  },
  methods: {
    getPost () {
      this.$store.dispatch('blogs/getFrontPost')
        .then((resp) => {
        })
        .catch((err) => {
          console.log(err)
        })
    },
    filterPost (item) {
      this.$parent.postFilter = {}
      this.$router.push('/blog/entrada/' + item.id)
      this.$parent.filterPost()
      this.getPost()
    }
  },
  beforeMount () {
    this.getPost()
  }
}
</script>
