<template>
  <q-card style="margin-top: 0px" v-if="render">
    <q-card-section class="q-pa-none">
      <headercounting v-if="!filter.id" :title="'Agregar contador'" />
      <headercounting v-if="filter.id" :title="'Modificar contador'" />
    </q-card-section>
    <q-card-section>
      <q-form @submit="submit">
        <div class="row">
          <div class="col-12 col-md-12 q-pl-sm q-pr-sm">
            <q-input @input="reRender" :rules="[val => !!val || 'Ingresa este campo.']" filled label="Descripción" v-model="counting.title">
              <template v-slot:append>
                <q-icon name="edit" color="primary" />
              </template>
            </q-input>
          </div>
          <div class="col-12 col-md-6 q-pl-sm q-pr-sm">
            <q-select :rules="[val => !!val || 'Seleccona una opción.']" label="Servicio" filled v-model="counting.service" :options="services" :option-value="opt => Object(opt) === opt && 'id' in opt ? opt.id : null" :option-label="opt => Object(opt) === opt && 'name' in opt ? opt.name : '- Null -'" :option-disable="opt => Object(opt) === opt ? opt.inactive === true : true" emit-value map-options />
          </div>
          <div class="col-12 col-md-6 q-pl-sm q-pr-sm">
            <q-input type="number" @input="reRender" :rules="[val => !!val || 'Ingresa este campo.']" filled label="Cantidad" v-model="counting.total">
              <template v-slot:append>
                <q-icon name="dialpad" color="primary" />
              </template>
            </q-input>
          </div>
          <div class="col-12 col-md-6 q-pl-sm q-pr-sm q-mt-md">
            <q-btn :loading="loading" type="submit" filled label="Guardar" class="full-width" color="primary">
            </q-btn>
          </div>
        </div>
      </q-form>
    </q-card-section>
  </q-card>
</template>

<script>
import headercounting from 'src/components/admin/counting/components/header'
import { add, updateCounting } from 'src/api/counting'

export default {
  // name: 'ComponentName',
  components: {
    headercounting
  },
  props: {
  },
  computed: {
    filter () {
      return this.$store.getters['payment/getFilterCounting']
    }
  },
  data () {
    return {
      counting: {},
      loading: false,
      render: true,
      services: [
        {
          id: 1,
          name: 'Total servicios'
        },
        {
          id: 2,
          name: 'Total clientes'
        }
      ]
    }
  },
  methods: {
    submit () {
      this.loading = true
      if (!this.filter.id) {
        return add(this.counting, (resp) => {
          this.$notify('positive', 'Se ha guardado el contador correctamente.', 'green-9')
          this.loading = false
          this.$push('/dashboard/contador')
        }, (err) => {
          this.loading = false
          this.$notify('negative', err.message, 'red-9')
        })
      } else {
        console.clear()
        return updateCounting(this.counting, (resp) => {
          this.$notify('positive', 'Se ha modificado el contador correctamente.', 'green-9')
          this.loading = false
          this.$store.dispatch('payment/setFilter', {})
          this.$push('/dashboard/contador')
        }, (err) => {
          this.loading = false
          this.$notify('negative', err.message, 'red-9')
        })
      }
    },
    reRender () {
      this.render = false
      this.render = true
    }
  },
  beforeMount () {
    if (this.filter.id) {
      this.counting = this.filter
    }
  },
  beforeDestroy () {
    this.$store.dispatch('payment/setFilter', {})
  }
}
</script>
