<template>
  <q-toolbar class="bg-primary q-mb-md borders-rounded">
    <q-toolbar-title class="title text-white">
      {{title}}
    </q-toolbar-title>
    <q-btn v-if="$route.path !== '/dashboard/contador/add'" flat dense @click="$push('/dashboard/contador/add')" icon="add" color="white" />
  </q-toolbar>
</template>

<script>
export default {
  // name: 'ComponentName',
  props: {
    title: String
  },
  data () {
    return {
    }
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
