<template>
  <q-table :data="data" :columns="columns" row-key="name">
    <template v-slot:body="props">
      <q-tr :props="props">
        <q-td key="id" :props="props">
          {{props.row.id}}
        </q-td>
        <q-td key="description" :props="props">
          {{props.row.title}}
        </q-td>
        <q-td key="number" :props="props">
          {{props.row.total}}
        </q-td>
        <q-td key="option" :props="props">
          <q-btn-dropdown flat dense color="black" label="">
            <q-btn flat densed @click="editCaseReal(props.row)" icon="edit" color="primary" class="" >
              <q-tooltip content-class="bg-green-9" :offset="[10, 10]">
                Editar contador
              </q-tooltip>
            </q-btn>
            <q-btn :loading="loading" flat densed @click="deleteCaseReal(props.row.id)" icon="delete" color="secondary" class="" >
              <q-tooltip content-class="bg-red-9" :offset="[10, 10]">
                Eliminar caso de exito
              </q-tooltip>
            </q-btn>
          </q-btn-dropdown>
        </q-td>
      </q-tr>
    </template>
  </q-table>
</template>

<script>
import { domain } from 'src/api/data'

import { delCounting } from 'src/api/counting'

export default {
  // name: 'ComponentName',
  props: {
    data: Array
  },
  components: {
  },
  data () {
    return {
      url: domain,
      loading: false,
      columns: [
        { name: 'id', required: true, label: 'ID', align: 'center', field: row => row.id, sortable: true, classes: 'ellipsis', style: 'width: 100px', headerClasses: 'bg-primary text-white' },
        { name: 'description', align: 'center', label: 'DESCRIPCIÓN', field: 'description', sortable: false },
        { name: 'number', label: 'TOTAL', field: 'image', sortable: false },
        { name: 'option', label: 'VER', sortable: false }
      ]
    }
  },
  methods: {
    editCaseReal (item) {
      this.$store.dispatch('payment/setFilter', item)
        .then((resp) => {
          this.$push('/dashboard/contador/add')
        })
        .catch((err) => {
          this.loading = false
          this.$notify('negative', err.message, 'red-9')
        })
    },
    deleteCaseReal (id) {
      this.loading = true
      return delCounting(id, (resp) => {
        this.$parent.getCounting()
        this.$notify('positive', 'Se ha eliminado el item correctamente.', 'red-9')
        this.loading = false
      }, (err) => {
        this.loading = false
        this.$notify('negative', err.message, 'red-9')
      })
    }
  },
  beforeMount () {
  }
}
</script>
