// app global css in SCSS form
@font-face
  font-family: 'CAVIARDREAMS-BOLD'
  src: url('/font/CAVIARDREAMS/CAVIARDREAMS_BOLD.TTF')

@font-face
  font-family: 'CAVIARDREAMS_BOLD'
  src: url('/font/CAVIARDREAMS/CAVIARDREAMS_BOLD.TTF')

@font-face
  font-family: 'CAVIARDREAMS'
  src: url('/font/CAVIARDREAMS/CAVIARDREAMS.TTF')

@font-face
  font-family: 'CAVIARDREAMS-BOLD'
  src: url('/font/CAVIARDREAMS/CAVIARDREAMS_BOLD.TTF')

@font-face
  font-family: 'CAVIARDREAMS'
  src: url('/font/CAVIARDREAMS/CAVIARDREAMS.TTF')

body
  font-family: CAVIARDREAMS

.title
  font-family: CAVIARDREAMS-BOLD

.post-height
  height: 90px !important
  @media (min-width: 1460px)
    height: 100px !important

.sr-heaight-index
  height: 135px !important
  @media (min-width: 1560px)
    height: 150px !important

.text-brand
  font-size: 10px
  position: absolute
  bottom: -20px
  left: 102px
  letter-spacing: 4px
  @media (max-width: 760px)
    bottom: -0px
    left: 72px
    font-size: 8px

.brand
  width: 230px !important
  @media (min-width: 1460px)
    width: 300px !important
  .brand-img
    margin-left: 20px
    margin-right: 10px
    width: 90%
    height: 73px
    @media (max-width: 760px)
      margin-left: 0px
      width: 100%
    @media (min-width: 1460px)
      width: 100%
      height: 100px
  .brand-title
    font-size: 14pt
    line-height: 1em
    font-family: CAVIARDREAMS-BOLD
    @media (max-width: 760px)
      font-size: 12pt
    @media (min-width: 1460px)
      padding-left: 1em
      font-size: 19pt
    .brand-title-caption
      font-size: 9.5pt
      font-family: CAVIARDREAMS
      @media (max-width: 1400px)
        font-size: 9.2pt
      @media (max-width: 1300px)
        font-size: 8.8pt
      @media (max-width: 760px)
        font-size: 8pt

.toolbar-title
  margin-top: -10px

.youtube
  width: 24px !important
  height: 20px !important
  @media (min-width: 1580px)
    width: 33px !important
    height: 33px !important
  @media (min-width: 1680px)
    width: 30px !important
    height: 32px !important

.twitter
  width: 24px !important
  padding-left: 4px
  height: 20px !important
  @media (min-width: 1580px)
    width: 32px !important
    height: 28px !important
  @media (min-width: 1680px)
    width: 40px !important
    height: 31px !important

.facebook
  width: 16px !important
  height: 22px !important
  @media (min-width: 1580px)
    width: 22px !important
    height: 28px !important
  @media (min-width: 1680px)
    width: 28px !important
    height: 34px !important

.insta
  width: 22px !important
  height: 22px !important
  @media (min-width: 1580px)
    width: 28px !important
    height: 28px !important
  @media (min-width: 1680px)
    width: 35px !important
    height: 35px !important

.header-rrss
  max-width: 200px
  @media (min-width: 1580px)
    max-width: 300px
  .q-btn__wrapper
    padding: 0em !important

.text-justifi-mobile
  @media (max-width: 760px)
    text-align: justify

.font-10
  font-size: 10px
  @media (max-width: 760px)
    font-size: 12px
  @media (min-width: 1620px)
    font-size: 30px

.font-100
  font-size: 12pt
  @media (min-width: 1520px)
    font-size: 13pt

.font-copi
  font-size: 1vw
  @media (max-width: 760px)
    font-size: 3vw
  @media (min-width: 1620px)
    font-size: 1vw

.diana-banner
  height: 100vh
  width: 100%
  background-image: url('/images/banner-new.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: 50%
  @media (max-width: 960px)
    background-image: url('/images/banne-mobile.jpeg')
    padding-left: 0px

.text-h2
  font-size: 3rem
  @media (max-width: 1360px)
    font-size: 2.5rem
  @media (max-width: 1160px)
    font-size: 2.2rem
  @media (max-width: 960px)
    font-size: 2.5rem

.text-h1
  @media (min-width: 1560px)
    font-size: 5.5rem
  @media (min-width: 1602px)
    font-size: 6.5rem
  @media (min-width: 1700px)
    font-size: 6.9rem
  @media (min-width: 1800px)
    font-size: 6.3rem

.banner-parrafo
  margin-top: -10px
  @media (min-width: 1560px)
    margin-top: -10px

.banner-create
  margin-top: -110px
  @media (min-width: 1560px)
    margin-top: -100px
  @media (max-width: 960px)
    margin-top: -70px

.title-banner
  font-size: 6rem
  @media (max-width: 960px)
    font-size: 4rem

.banner-unique
  margin-top: -60px
  @media (max-width: 960px)
    margin-top: -30px

.btn-banner
  border-radius: 11px
  color: black !important
  font-weight: 600
  font-size: 12px
  @media (max-width: 960px)
    margin: 0px auto !important

.n-m-pl
  @media (max-width: 760px)
    margin-left: 0px !important

.n-m-pr
  @media (max-width: 760px)
    padding-right: 0px !important

.slider-real-changes
  margin-top: -40px !important
  @media (max-width: 760px)
    margin-top: -50px !important

.container
  width: 90%
  margin: 0px auto
  @media (max-width: 760px)
    margin: 0px auto
    width: 95%

.container-footer
  width: 90%
  margin: 0px auto
  @media (max-width: 760px)
    margin: 0px auto
    width: 95%

.hooper-slide
  height: 170px !important
  width: 170px !important
  margin-right: 10px !important

.is-active
  background-color: $primary !important
  height: 10px !important
  width: 10px !important

.hooper-indicator
  height: 10px !important
  width: 10px !important
  border: 1px solid $secondary !important
  &:hover
    background-color: $primary !important

.container-main
  width: 80%
  margin: 150px auto 100px auto
  @media (max-width: 760px)
    margin: 200px auto 80px auto

.margin-custom
  margin: 80px auto 80px auto
  @media (max-width: 760px)
    margin: 50px auto 50px auto ! important

.rounded-borders
  border-radius: 15px

.pa-m-n
  @media (max-width: 760px)
    padding: 10px !important
    text-align: center

.margin-about-section
  .font-12
    @media (min-width: 1500px)
      font-size: 1.3vw !important

.font-12
  font-size: 11pt !important
  @media (min-width: 1400px)
    font-size: 11pt

.font-13
  font-size: 13pt !important
  @media (min-width: 1400px)
    font-size: 16pt

.font-9
  font-size: 9pt !important

.font-122222
  font-size: 1.3vw !important
  @media (min-width: 1400px)
    font-size: 1.2vw !important
  @media (max-width: 1000px)
    font-size: 2.7vw !important
  @media (max-width: 500px)
    font-size: 4vw !important

.margin-cap-fo
  margin-top: -7px !important

.font-111
  font-size: .95vw !important
  @media (min-width: 1400px)
    font-size: 1.1vw !important
  @media (max-width: 1000px)
    font-size: 3.2vw !important
  @media (max-width: 500px)
    font-size: 3.5vw !important

.font-112
  font-size: 1.3vw !important
  @media (min-width: 1400px)
    font-size: 1.30vw !important
  @media (max-width: 1000px)
    font-size: 4.4vw !important
  @media (max-width: 500px)
    font-size: 5vw !important

.font-13
  font-size: 13pt !important
  margin-top: 10px
  @media (max-width: 1000px)
    font-size: 13pt !important
  @media (max-width: 500px)
    font-size: 13pt !important

.font-14
  font-size: 14pt !important
  .block
    font-size: .9vw !important
    @media (max-width: 760px)
      font-size: 15px
      font-weight: 800
    @media (min-width: 1160px)
      font-size: 1.1vw !important
    @media (min-width: 1460px)
      font-size: 1.3vw !important
  @media (max-width: 760px)
    font-size: 14pt !important
  @media (min-width: 760px)
    font-size: 20pt !important

.service-height
  height: 110px
  @media (max-width: 760px)
    height: auto

.service-grid
  height: auto !important
  position: relative
  width: 100%
  @media (min-width: 1760px)
    height: auto !important

.mt-1-rem
  margin-top: -2rem
  @media (min-width: 1500px)
    margin-top: -1rem


.diana-footer
  a
    text-decoration: none !important
    color: $primary

.text-h4
  font-size: 1.8rem


.diana-address
  height: auto !important
  padding-top: 3rem
  padding-bottom: 2rem
  @media (min-width: 1760px)
    height: auto !important
  @media (max-width: 560px)
    height: auto !important
  .text-h5
    @media (max-width: 760px)
      font-size: 18px !important
    @media (min-width: 1500px)
      font-size: 2.5rem !important
  .font-12
    @media (max-width: 760px)
      font-size: 12pt !important
  .mt-mobile-2rem
    @media (max-width: 760px)
      margin-top: 20px !important

.real-cases
  height: 90vh !important
  @media (min-width: 1760px)
    height: 62vh !important
  @media (max-width: 760px)
    height: 55vh !important

.absolute-service
  bottom: 30px
  position: absolute
  width: 100%
  @media (min-width: 1760px)
    bottom: 50px

.service-grid-icon
  width: 100%

.selected-service
  background: $primary !important
  .title
    color: white !important

.easy-payment
  @media (max-width: 960px)
    text-align: center !important
  @media (min-width: 1560px)

.banner-2
  height: 100vh !important
  object-fit: cover
  @media (max-width: 760px)
    height: 35vh !important

.text-h3
  font-size: 2.2rem
  @media (min-width: 1460px)
    font-size: 2.3rem
  @media (min-width: 1560px)
    font-size: 2.7rem
  @media (min-width: 1760px)
    font-size: 3.3rem
  @media (max-width: 760px)
    font-size: 1.9rem !important
    font-weight: 400

.header-btn
  .block
    border-bottom: 1px solid $primary

.banner-services
  height: 500px

.mt-top-services
  margin-top: 33%

.text-center-mobile
  @media (max-width: 990px)
    text-align: center !important

.bg-mobile-service
  @media (max-width: 760px)
    background-image: url('/images/dentist-examining-female-patient-with-tools.png')
    background-repeat: no-repeat
    background-size: cover

.vueperslide
  border-radius: 15px !important

.rounded-borders-2
  border-radius: 5px

.overflow-banner
  width: 100%
  height: 90vh
  z-index: 0
  @media (max-width: 760px)

.conten-banner
  width: 100%
  height: 90vh
  z-index: 1
  position: absolute
  top: 0px
  @media (min-width: 980px)
    top: 40px
  @media (max-width: 960px)
    height: 85vh

.shadow2
  @media (max-width: 760px)
    color: black !important

.no-ml
  @media (max-width: 960px)
    margin-left: 0px !important

.bg-grey
  background: #70707030 !important

.margin-about-section
  @media (max-width: 760px)
    margin-top: 0px !important
    background: $primary
    position: relative
  @media (min-height: 800px)
    position: relative
    margin-top: -50px
    position: relative

.about-wrapper
  width: 80%
  margin: 0rem auto
  @media (max-width: 760px)
    width: 90%
    margin: 0px auto
    padding-top: 1rem
    padding: 1rem

.mt-mobile-about
  @media (max-width: 760px)
    margin-top: -10px !important

.banner-subtitle
  @media (max-width: 760px)
    margin-top: -20px !important

.banner-btn
  @media (max-width: 760px)
    margin-top: 10px !important
    font-size: 12px

.banner-m-mobile-custom-banner
  margin-top: -100px !important
  @media (max-width: 760px)
    margin-top: px !important
    text-aling: left !important

.banner-m-mobile-custom
  margin-top: -35px !important
  @media (max-width: 760px)
    margin-top: px !important
    text-aling: left !important

.mt-mobile-2rem
  margin-top: 1rem !important
  @media (max-width: 600px)
    margin-top: 3rem !important


// stiles main
.text-center-mobile
  @media (max-width: 600px)
    text-align: center

.mt-mobile-lg
  @media (max-width: 600px)
    margin-top: 20px

.no-pl-mobile
  @media (max-width: 990px)
    padding-left: 0px

.center-on-mobile
  float: none !important
  @media (max-width: 990px)
    margin: 0px auto !important

.no-padding-mobile
  @media (max-width: 990px)
    padding-left: 0px !important
    padding-right: 0px !important
    padding-top: 0px !important
    padding-bottom: 0px !important

h1
  line-height: auto !important
  @media (max-width: 600px)
    line-height: 30px !important

// header banner class
.header-banner
  height: 20vh
  background: $warning
  background-image: url('/images/banner-services.png')
  background-repeat: no-repeat
  background-position: left center
  background-size: contain
  @media (max-width: 600px)
    background-position: top center
    background-size: cover

.breadCrumb-section
  height: 20vh

// main banner class
.mainBanner
  height: 70vh
  width: 100%
  background-size: 0px
  position: relative
  .banner-description
    margin-top: -30px
    @media (max-width: 600px)
      margin-top: -20px
  .full-height
    height: 70vh !important
  .imgBanner
    width: 100%
    height: 100%
    position: relative
    background-repeat: no-repeat
    background-position: right center
    background-size: contain
  .overflow-banner
    height: 70vh
    width: 100%
    position: absolute
    background: #0000001f
    top: 0px
    display: none
    @media (max-width: 600px)
      display: inline

  @media (max-width: 600px)
    background-repeat: no-repeat
    background-position: right center
    background-size: contain

// newsletter class
.subtitle-newsletter
  margin-top: -20px
  @media (max-width: 600px)
    margin-top: -10px

.bg-newsletter
  width: 100%
  background-image: url('/images/newsletterimg.png')
  background-repeat: no-repeat
  background-position: top center
  background-size: cover
  @media (max-width: 760px)
    background-image: url('/images/newsletterimg.png')
    text-align: center !important
    background-position: top center
    background-size: cover

.appoiment-form

.text-mobile-white
  @media (max-width: 760px)
    color: white !important
    text-align: center

.about-fondo
  @media (max-width: 960px)
    height: 250px
    width: 100%
  @media (max-width: 500px)
    height: 180px
    width: 100%

.about-top
  @media (max-width: 960px)
    height: 250px
    width: 50%
    float: right
    margin-top: -254px
    position: relative
    z-index: 999
  @media (max-width: 500px)
    height: 180px
    width: 50%
    float: right
    margin-top: -185px
    position: relative
    z-index: 999

.about-top-2
  @media (max-width: 960px)
    height: 120px
    width: 120px
    right: 0px
    margin-top: -130px
    margin-right: 14px
    position: relative
    z-index: 999
  @media (max-width: 500px)
    height: 90px
    width: 90px
    float: right
    margin-top: -130px
    margin-right: 14px
    position: relative
    z-index: 999

.q-drawer__backdrop
  background: none !important

aside
  background-image: url('/images/dp_Triangulos-Dorado.png') !important
  text-align: center !important
  background-position: top center !important
  background-size: cover !important
  border-radius: 50px 0px 0px 50px
  -webkit-box-shadow: -13px -1px 27px 3px rgba(0, 0, 0, 0.30)
  box-shadow: -13px -1px 27px 3px rgba(0,0,0,0.58)
  .aside-text
    color: $primary
  .active
    background: $primary
    color: white !important

.bg-ws
  background: #1ebea5

.bg-ws-2
  background: #01e675

.slider-show-all
  @media (max-width: 760px)
    float: right
    margin-top: -40px
    margin-right: 10px

.q-fab
  .absolute-full
    height: 45px
    width: 45px
    left: -10px
    top: -5px

.border-top-grey
  border-top: 0.1px solid white

.service-grid-icon
  .q-icon
    @media (max-width: 760px)
      font-size: 70px !important

.margin-mobile-new
  @media (max-width: 760px)
    margin-top: 20px !important
    padding-top: 0px !important
  .text-h5
    font-size: 1.0rem
    @media (min-width: 1620px)
      font-size: 2.0rem

.relative
  position: relative

.mockup-consultorios
  max-width: 700px
  width: 300px
  bottom: -93px
  margin: 0px auto !important
  @media (min-width: 1400px)
    width: 300px
  @media (min-width: 1500px)
    width: 340px
  @media (min-width: 1700px)
    width: 450px
  @media (max-width: 760px)
    bottom: -70px
    width: 100%
    height: 530px
  @media (max-width: 560px)
    bottom: -90px
    width: 100%
    height: 370px

.clickable
  cursor: pointer

.footer-dian
  background-image: url('/images/Bg-Footer-02.jpg')
  background-position: top center
  background-size: cover
  background-repeat: no-repeat
  .footer-img
    width: 100%
    @media (max-width: 760px)
      width: 90%
  .q-field__messages
    margin-top: -5px !important
    font-size: 10px
  .q-field
    &--dense
      .q-field__control, .q-field__marginal
        height: 30px !important

.service-detail-section
  height: auto

.service-grid-item
  cursor: pointer

iframe
  width: 100% !important
  height: 420px

.service-detail
  width: 70%
  margin: 0px auto
  @media (max-width: 760px)
    width: 95%

.q-field__messages
  color: red
  font-weight: 800

.dflex
  display: -webkit-flexbox
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  -webkit-flex-align: center
  -ms-flex-align: center
  -webkit-align-items: center
  align-items: center
  justify-content: center

.bg-blogs
  background-image: url('/images/Banner-dp.jpg') !important
  text-align: center !important
  background-size: cover !important
  background-repeat: no-repeat
  height: 100vh !important
  @media (max-width: 760px)
    height: 30vh !important

.blog-banner-wrapper
  width: 55%
  @media (max-width: 760px)
    width: 95% !important
    .text-h1
      font-size: 50px
    .text-h5
      font-size: 15px
    .mt-mobile-20
      margin-top: -20px

.container-post
  width: 70%
  margin: 20px auto
  @media (max-width: 760px)
    width: 95% !important

.post-img
  width: 100%
  height: 300px
  border-radius: 20px
  @media (max-width: 760px)
    width: 95% !important

.blog-post-img
  width: 100%
  border-radius: 10px
  @media (max-width: 760px)
    width: 100%

.q-btn-group
  height: 30px

.post-card
  border-radius: 30px
  .post-img
    width: 100%
    height: 150px !important

.blogs
  @media (max-width: 760px)
    .q-btn
      width: 170px
    .row
      .flex-center
        justify-content: end

.contacts-section
  .title
    font-size: 3rem !important
    @media (max-width: 760px)
      font-size: 2.4rem !important
  .substitle
    font-size: 2rem
    margin-top: -0px
    @media (max-width: 760px)
      margin-top: -10px
      font-size: 1.6rem
  .description
    font-size: 1.6rem
    @media (max-width: 760px)
      font-size: .8rem

.bg-custom-contact
  background-image: url('/images/contact-bg.png')
  background-position: center
  background-repeat: no-repeat
  background-size: cover

.bg-custom-contact-2
  background-image: url('/images/right-bg.png')
  background-position: center
  background-repeat: no-repeat
  background-size: cover

.mockup-contact
  width: 200px
  height: 400px
  margin: 0px auto !important
  @media (max-width: 1030px)
    width: 300px
    height: 500px
    margin: 0px auto !important
  @media (max-width: 900px)
    width: 200px
    height: 400px
    margin: 0px auto !important
  @media (max-width: 650px)
    width: 250px
    height: 450px
    margin: 0px auto !important

.container-consultorios
  width: 75%
  margin: 0px auto
  @media (max-width: 760px)
    width: 100%

.border-radius-white
  width: 80px
  padding: 4px
  border: 2px solid white
  border-radius: 50px
  @media (max-width: 900px)
    margin: 0px auto

.container-form
  width: 95%
  margin: 0px auto
  @media (max-width: 760px)
    width: 95%

.container-payment
  width: 70%
  margin: 0px auto
  @media (max-width: 760px)
    width: 85%

.round-form
  border-radius: 50px
  padding-top: 2px
  font-size: 30px
  @media (max-width: 970px)
  font-size: 25px
  @media (max-width: 770px)
    font-size: 17px
    margin-bottom: 1rem
  @media (max-width: 550px)
    font-size: 11px
  @media (max-width: 400px)
    font-size: 10px

.font-17
  font-size: 17px

.title-contact-consultorio
  @media (max-width: 770px)
    font-size: 25px
  @media (max-width: 541px)
    font-size: 20px

.no-pa-mobile
  @media (max-width: 770px)
    padding: 0px !important

.q-pa-mobile-set
  @media (max-width: 770px)
    padding: 16px 16px !important

.title-consult-contact
  @media (max-width: 770px)
    font-size: 22px
  @media (max-width: 470px)
    font-size: 18px

.payment-Banner
  height: 55vh
  @media (max-width: 770px)
    height: 45vh
  @media (max-width: 470px)
    height: 45vh
    background-position: 50%

.banner-payments
  height: 45vh
  background-position: left
  background-repeat: no-repeat
  background-size: cover
  @media (max-width: 1300px)
  height: 40vh
  @media (max-width: 900px)
    display: none
  @media (max-width: 770px)
    height: 40vh
  @media (max-width: 470px)
    height: 40vh

.mobile-height-2
  @media (max-width: 970px)
    height: 55vh!important
  @media (max-width: 470px)
    height: 55vh!important

.font-11
  font-size: 20px
  @media (max-width: 760px)
    font-size: 14px !important
  @media (max-width: 530px)
    font-size: 9px !important
  @media (min-width: 1600px)
    font-size: 1.7rem !important

.font-11111
  font-size: 8pt

.container-list-payment
  width: 85%
  margin: 0px auto
  @media (max-width: 760px)
    width: 95%
    margin: 50px auto

.w-auto
  width: 150px !important

.bg-textura-right
  background-image: url('/images/dp_Textura pagos derecho.png')
  background-position: bottom left
  background-repeat: no-repeat
  background-size: 30% 80%
  @media (max-width: 760px)
    background-size: 50% 50%

.righ-bg-payment
  background-image: url('/images/dp_Textura pagos izq.png')
  background-position: top right
  background-repeat: no-repeat
  background-size: 40% 80%

.q-field--outlined
  .q-field__control:before
    border: 1px solid #A28541

.form-p
  .q-field__append
    img
      width: 20px
      height: 22px

.email
  .q-field__append
    img
      width: 18px !important
      height: 15px !important

.phone
  .q-field__append
    img
      width: 20px !important
      height: 18px !important

.address
  .q-field__append
    img
      width: 14px !important
      height: 17px !important

.doc
  .q-field__append
    img
      width: 17px !important
      height: 19px !important

.name
  .q-field__append
    img
      width: 20px !important
      height: 15px !important

.cvv
  .q-field__append
    img
      width: 17px !important
      height: 14px !important

.tarjeta
  .q-field__append
    img
      width: 20px !important
      height: 15px !important

.namet
  .q-field__append
    img
      width: 18px !important
      height: 18px !important

.send
  .q-btn__content
    img
      width: 32px !important

.border-primary
  border-right: 2px solid $primary
  @media (max-width: 970px)
    border-right: none

.border-mobile-1
  border-bottom: 3px solid $primary
  width: 250px
  height: 3px
  border-radius: 10px
  margin-bottom: 1rem

.border-mobile-2
  border-bottom: 3px solid $primary
  width: 180px
  height: 5px
  border-radius: 10px
  margin-bottom: 1rem

.banner-img-1-pa
  width: 300px
  @media (max-width: 1200px)
    width: 250px
  @media (min-width: 1460px)
    width: 350px
  @media (max-width: 980px)
    width: 320px

.banner-img-2-pa
  width: 250px
  @media (max-width: 1200px)
    width: 190px
  @media (min-width: 1460px)
    width: 300px

.footer-mt-mobile
  @media (max-width: 960px)
    margin-top: 1rem

.service-card
  border-radius: 10px
  border: 1px solid $grisC
  padding: 1em
  margin-top: 2em
  tansition: 1s all
  .svg-list
    svg
      height: 50pt
      width: 55pt
  &:hover
    border: 1px solid $primary
    p
      color: $primary
    .svg-list
      svg
        height: 50pt
        fill: $primary !important

.container-success
  max-width: 85%
  margin: 0px auto

.succes-stories
  width: 100%
  height: auto

.successStoriesImg
  width: 20vw
  border-radius: 15px
  margin: 0px auto
  @media (max-width: 1024px)
    width: 100%
  @media (max-width: 600px)
    width: 100%

.bg-relieve
  background-image: url('/images/Bg-Footer-02.jpg')
  background-repeat: no-repeat
  background-position: center
  background-size: 100%
  height: 60vh !important
  margin-top: -15vh
  position: relative
  z-index: -1
  @media (max-width: 1250px)
    height: 40vh !important
  @media (max-width: 1024px)
    height: 30vh !important
    margin-top: -9vh
  @media (max-width: 764px)
    height: 21vh !important
    margin-top: -6vh
  @media (max-width: 600px)
    height: 18vh !important
    margin-top: -4vh
  @media (min-width: 1400px)
    height: 40vh !important
    margin-top: -10vh

.mt-second-items
  margin-top: -13vh
  @media (max-width: 1250px)
    margin-top: -11vh
  @media (max-width: 1024px)
    margin-top: -9vh
  @media (max-width: 764px)
    margin-top: -6vh
  @media (max-width: 600px)
    margin-top: -4vh
  @media (min-width: 1400px)
    margin-top: -10vh

.bg-right-appoiment
  background-image: url('/images/2.png')
  background-repeat: no-repeat
  background-position: right bottom
  background-size: contain
  @media (max-width: 1100px)
    background-size: contain
  @media (max-width: 1050px)
    background-size: 0%

.mobile-row
  @media (max-width: 780px)
    width: 70%
    margin: 0px auto

.hydrated
    border-radius: 15px

.slick-dots:not(#_)
  button:before
    border: 1px solid white
    background: white
    border-radius: 50px
    color: transparent
    padding: -10 auto
    opacity: 1
    height: 15px !important
    width: 15px !important
  .slick-active button:before
    -webkit-transition: all .5s
    -moz-transition: all .5s
    -o-transition: all .5s
    transition: all .5s
    color: transparent
    border: 1px solid $primary !important
    background: $primary !important
    border-radius: 50px
  display: flex
  left: 50%
  transform: translateX(-50%)
  border-radius: 1rem
  margin: 0 auto
  padding: .25rem

html
  body
    max-width: 100% !important
    overflow-x: hidden !important

.rrss-icon
  -webkit-transition: all .5s
  -moz-transition: all .5s
  -o-transition: all .5s
  transition: all .5s

.rrss-icon:hover
  transform: translateY(-5px)

.rrss
  -webkit-transition: all .5s
  -moz-transition: all .5s
  -o-transition: all .5s
  transition: all .5s

.rrss:hover
  transform: translateY(-5px)

.font-1333
  font-size: 2.5vw !important
  @media (max-width: 778px)
    font-size: 4.5vw !important
  @media (max-width: 500px)
    font-size: 10vw !important

.font-1111
  font-size: 1.1vw !important
  @media (max-width: 778px)
    font-size: 3.5vw !important
  @media (max-width: 500px)
    font-size: 4vw !important

.mokup-desktop-img
  height: 75vh
  width: 30vw
  margin: 0px auto
  object-fit: cover
  @media (max-width: 1150px)
    width: 40vw
    height: 50vh
    object-fit: cover
  @media (min-width: 1400px)
    width: 35vw
    height: 60vh
    object-fit: cover

.slick-dots
  display: block
  z-index: 99
  position: relative

.over-slider
  background: rgb(162 133 65 / 41%)
  width: 100%
  height: 10px
  height: 100%
  position: absolute
  top: 0px

.lef
  position: absolute !important
  left: 20px !important
  bottom: 20px
  background: $primary
  width: 70px
  text-align: center
  color: white
  border-radius: 5px

.rig
  position: absolute !important
  right: 20px !important
  bottom: 20px
  background: $primary
  width: 70px
  text-align: center
  color: white
  border-radius: 5px

.relative
  position: relative

.bg-diana-pament
  background-image: url('/images/1.png')
  background-repeat: no-repeat
  background-position: right bottom
  background-size: contain
  @media (max-width: 1200px)
    background-size: 50%
    background-position: right bottom
  @media (max-width: 1100px)
    background-size: 50%
  @media (max-width: 1050px)
    background-size: 0%

.video-img
  width: 100%
  height: 40vh

.padding-about
  padding: 48px 48px
  @media (max-width: 1050px)
    padding: 18px 18px

.map-container
  border-radius: 10px
  height: 500px

.custom-handle
  height: 9vh !important
  margin-top: 30px

.video-wrapper
  position: relative
  width: 100%
  height: auto
  .play-button
    width: 80px
    height: 80px
    border-radius: 50%
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    margin-top: auto
    margin-bottom: auto
    margin-left: auto
    margin-right: auto
    display: none
    -webkit-transition: all 2s
    -moz-transition: all 2s
    -o-transition: all 2s
    transition: all 2s
  .play-button2
    width: 80px
    height: 80px
    border-radius: 50%
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    margin-top: auto
    margin-bottom: auto
    margin-left: auto
    margin-right: auto
    -webkit-transition: all 2s
    -moz-transition: all 2s
    -o-transition: all 2s
    transition: all 2s


.video-wrapper:hover
  .play-button
    display: initial


.video-1
  position: absolute
  height: auto
  width: 100%

.wecreate-text
  font-size: 18pt
  @media (min-width: 1550px)
    font-size: 18pt

.create-banner
  font-size: 42pt

.text-h1
  @media (max-width: 950px)
    font-size: 3rem

.upp-unique
  @media (max-width: 950px)
    margin-top: -30px !important

.pading-left
  @media (max-width: 950px)
    padding-right: 10px

.bg-blck
  @media (max-width: 950px)
    background: #00000075

.font-2222
  @media (min-width: 1450px)
    font-size: 1.4vw !important
  @media (min-width: 1800px)
    font-size: 1vw !important

.map-icon
  position: absolute
  right: 0px
  top: 0px

.text-cente
  text-align: center
  @media (max-width: 900px)

.rr-ss-icon
  max-width: 30px
  @media (min-width: 1500px)
    max-width: 38px

.mobile-up
  transform: translateY(100px)
  @media (max-width: 900px)
    transform: translateY(-20px)

.mobile-upp
  @media (max-width: 900px)
    transform: translateY(-40px)

.team-we-text
  @media (max-width: 800px)
    font-size: 18pt
    text-align: center !important
  @media (max-width: 700px)
    font-size: 12pt
    text-align: center !important
  @media (min-width: 1000px)
    font-size: 15pt
  @media (min-width: 1450px)
    font-size: 18pt
  @media (min-width: 1800px)
    font-size: 20pt

.we-create-text
  @media (max-width: 900px)
    margin-top: -20px
    text-align: center !important
  @media (min-width: 1000px)
    margin-top: -20px

.unique-smyle-text
  @media (max-width: 900px)
    margin-top: -20px
    text-align: center !important
  @media (min-width: 1000px)
    margin-top: -23px

.description-text
  @media (max-width: 900px)
    margin-top: -10px
    font-size: 10pt
    text-align: center !important
  @media (min-width: 1000px)
    font-size: 12pt
    margin-top: -20px
  @media (min-width: 1400px)
    font-size: 13pt
  @media (min-width: 1850px)
    font-size: 15pt

.no-decoration
  text-decoration: none !important
  color: $primary !important

.font-1000
  font-size: 12pt
  @media (min-width: 1500px)
    font-size: 16pt
  @media (min-width: 1700px)
    font-size: 17pt

.btn-service
  padding: 4px 8px

.q-transition
  transition-duration: 2.3s

.handle
  background-image: url('/images/desliza.gif')
  background-size: cover
  background-repeat: no-repeat
  background-color: white
  .left-arrow
    display: none
  .right-arrow
    display: none

.hide-8
  background-image: none !important
  background-color: transparent !important
  .left-arrow
    display: initial
  .right-arrow
    display: initial

.vci-container:hover
  .handle
    background-image: none !important
    background-color: transparent !important
  .left-arrow
    display: initial
  .right-arrow
    display: initial

.video
  video
    width: 100vw
    min-height: 90vh
    object-fit: cover
    display: flex
    align-items: left
  @media (max-width: 990px)
    min-height: 100vh
    object-fit: cover
    background-size: cover
    background-repeat: no-repeat

.over-banner
  height: 90vh
  @media (max-width: 990px)
    height: 100vh

.slickReal
  margin: 0px auto
  @media (max-width: 900px)
    width: 700px !important
  @media (max-width: 700px)
    width: 500px !important
  @media (max-width: 500px)
    width: 340px !important

.items-sm-end
  @media (max-width: 900px)
    align-items: end !important

.wrapper1
  position: relative
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  svg
    width: 50px
    height: auto
    margin: 0 0rem
    cursor: pointer
    overflow: visible
    fill: $grisC !important
    polygon
      transition: all 0.5s $ease
    path
      transition: all 0.5s $ease
    &:hover polygon
      transition: all 1s $ease
      fill: $primary
    &:hover path
      transition: all 1s $ease
      fill: $primary
    &:hover .arrow
      animation: arrow-anim 2.5s $ease infinite
    &:hover .arrow-fixed
      animation: arrow-fixed-anim 2.5s $ease infinite

.movile-play-button
  position: absolute
  top: 50%
  right: -2%
  z-index: 1000
  transform: translate(-50%, -50%)
  -webkit-transform: translate('-10%, -10%')

.play-button
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  -webkit-transform: translate('-50%', '-50%')

.bg-carousel
  position: relative
  height: 100vh
  z-index: -1

.contact-textarea
  textarea
    min-height: 215px !important

.rounded-borders-22
  border-radius: 50px

.pt-mobile-pay
  @media (max-width: 900px)
    padding-top: 2rem !important

.mobile-down
  @media (max-width: 900px)
    margin-top: 1rem !important

.iframe-map
  @media (max-width: 900px)
    margin-top: 1.5rem !important

.grisNew
  background: $grisNew

.img-diana-black
  height: 500px
  width: 400px
  left: 35%
  bottom: 24px
  @media (max-width: 1200px)
    left: 25%
  @media (max-width: 1100px)
    left: 15%
  @media (min-width: 1500px)
    left: 50%
  @media (min-width: 1600px)
    height: 635px
    width: 516px
    left: 25%
  @media (min-width: 1900px)
    height: 741px
    width: 598px
    left: 25%
  @media (max-width: 1050px)
    height: 350px
    width: 300px
    left: 0
    right: 0
    margin-left: auto
    margin-right: auto

.vacancy-height
  height: 105vh
  @media (max-width: 1050px)
    height: auto !important

.vacancy-top
  margin-top: -4em
  @media (max-width: 1050px)
    margin-top: 0em

.padding-mobile-vacancy
  padding: 12px
  @media (min-width: 1200px)
    margin-top: 1em
  @media (min-width: 1600px)
    margin-top: -8em
  @media (min-width: 1900px)
    margin-top: -20em
