.vueperslides__bullet .default {
  background-color: #817d7d3b;
  border: 0px solid black;
  box-shadow: none;
  transition: 0.3s;
  width: 12px;
  height: 12px;
}

.brand-img .q-btn__content img {
  top: 14px;
  left: 8px;
  width: 211px;
  height: 64px;
}


.vueperslides__bullet--active .default {background-color: #a18541;}

.vueperslides__bullet span {
  display: block;
  color: #fff;
  border: 0px solid black;
  font-size: 10px;
  opacity: 0.8;
}

.active {
  background: blue
}

.slider-example-split-line {
  --divider-width: 2px;
  --divider-color: #A28541;
  --handle-opacity: 0;
}

.slider-example-focus {
  transition: box-shadow 200ms ease-in-out;
  --handle-size: 100px;
  --handle-opacity: 0.5;
  --handle-opacity-active: 0.5;
  width: 100%;
  border-radius: 20px;
}

.slider-example-focus img{
  width: 100%;
}

.custom-handle {
  width: var(--handle-size);
  height: var(--handle-size);
}

.blob.ws {
  box-shadow: 0 0 0 0 rgba(51, 217, 178, 1);
  animation: ws 2s infinite;
}

@keyframes ws {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}

.pulse.wss {
  animation: wss 2s infinite;
}

@keyframes wss {
  0% {
    transform: translateX(0px);
  }
  
  70% {
    transform: translateX(-3px);
  }
  
  100% {
    transform: translateX(3px);
  }
}

.flash {
  -webkit-animation: flashing 4s infinite;
  animation: flashing 2s infinite;
}

@-webkit-keyframes flashing {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(3px);
  }
}

@keyframes flashing {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(3px);
  }
}

table.cheatsheet.referencia tr th {
  background-color: #CC3366;
  color: #fff;
}

.conten-banner {
  transition: all .5s;
}

.conten-banner:hover .child,
.conten-banner:focus .child {
  transform: scale(1.2);
}

.diana-banner {
  -webkit-animation-name: do-scale;
  animation-name: do-scale;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes do-scale {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes do-scale {
  0% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.grids {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
  width: 100vw;
}

.bg {
  background-image: url('/images/dia.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.titulo {
  text-align: center;
}

.titulo h1 {
  font-size: 40pt;
}

.titulo p {
  font-size: 16pt;
}

.info {
  background-color: #A28541;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.info img {
  width: 150px;
}

.refer {
  width: auto;
  height: 40px;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  color: #A28541;
  font-weight: bold;
  font-size: 16pt;
}

.redes {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.redes a {
  text-decoration: none;
}

.redes svg {
  width: 30px;
}

@media only screen and (max-width: 900px) {
  main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    min-height: 100vh;
  }

  .bg {
    display: none;
  }

  .info {
    width: 100vw;
  }

  .titulo h1 {
    font-size: 31pt;
  }

  h1 {
    line-height: -1px !important;
  }
}

@keyframes arrow-anim {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  5% {
    transform: translateX(-0.1rem);
  }
  100% {
    transform: translateX(1rem);
    opacity: 0;
  }
}

@keyframes arrow-fixed-anim {
  5% {
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
