<template>
  <q-toolbar class="bg-primary q-mb-md borders-rounded">
    <q-toolbar-title class="title text-white">
      {{title}}
    </q-toolbar-title>
    <q-btn v-if="showButton && $route.path == '/dashboard/case-success'" flat dense @click="$push('/dashboard/case-success/add')" icon="add" color="white" />
    <q-btn v-if="showButton && $route.path == '/dashboard/blogs'" flat dense @click="$push('/dashboard/blogs/add')" icon="add" color="white" />
    <q-btn v-if="showButton && $route.path == '/dashboard/vacantes'" flat dense @click="$push('/dashboard/vacantes/add')" icon="add" color="white" />
  </q-toolbar>
</template>

<script>
export default {
  // name: 'ComponentName',
  props: {
    title: String,
    showButton: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
    }
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
