<template>
  <div class="row">
    <div class="col-12">
      <newBanner :title="$t('payment')" :otherTitle="$t('offertWe')" :description="$t('paymentDescription1')" :descriptionTwo="$t('paymentDescription2')" :img="'pagos.png'" :showOtherTitle="false" :showOtherDescription="true" />
    </div>
    <div class="col-12 q-mt-lg bg-textura-right">
      <paymentList />
    </div>
  </div>
</template>

<script>
import newBanner from 'src/components/layout/newBanner'
import paymentList from './components/paymentList'
// import newsLetter from 'src/components/layout/newsLetter'

import { services } from 'src/utils/services.json'

export default {
  // name: 'ComponentName',
  components: {
    newBanner,
    paymentList
    // newsLetter
  },
  computed: {
    mtXl () {
      return this.$q.screen.gt.sm
        ? 'q-mt-xl'
        : 'q-mt-none'
    }
  },
  data () {
    return {
      imgBanner: 'banner-2-services.png',
      servicesLists: services,
      gtMd: true
    }
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
