<template>
  <div class="row">
    <div class="col-12">
      <headerNewsletter title="Newsletter" :showButton="false" />
    </div>
    <div class="col-12">
      <tableNewsletter />
    </div>
  </div>
</template>

<script>
import headerNewsletter from 'src/components/admin/caseSuccess/components/header'
import tableNewsletter from './components/table'

export default {
  // name: 'ComponentName',
  components: {
    headerNewsletter,
    tableNewsletter
  },
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>
