<template>
  <div class="row righ-bg-payment">
    <div class="col-12 mobile-height">
      <newBanner :title="$t('reserveU')" :otherTitle="$t('reserveU2')" :description="descriptionBannerSet" :img="'pagos.png'" :showOtherTitle="true" :descriptionTwo="''" />
    </div>
    <div class="col-12 bg-right-appoiment">
      <appoimentForm />
    </div>
    <!--<div class="col-12" :class="mtXl">
      <newsLetter />
    </div>-->
  </div>
</template>

<script>
// import newsLetter from 'src/components/layout/newsLetter'
import appoimentForm from './form'
import newBanner from 'src/components/layout/newBanner'

import { services } from 'src/utils/services.json'

export default {
  // name: 'ComponentName',
  components: {
    // newsLetter,
    appoimentForm,
    newBanner
  },
  computed: {
    mtXl () {
      return this.$q.screen.gt.sm
        ? 'q-mt-xl'
        : 'q-mt-none'
    },
    locale () {
      return this.$store.getters['auth/locale']
    },
    descriptionBannerSet () {
      if (this.locale === 'es') {
        return '<span style="color: black; font-wight: 800!important" class="title"><strong>¡Estás a punto de cambiar tu sonrisa!</strong></span><br>Selecciona una de las sedes para acceder a la disponibilidad de nuestros profesionales en tiempo real.'
      } else {
        return '<span style="color: black; font-wight: 800!important" class="title"><strong>' + this.$t('reserveUStrongTitle1') + '</strong></span><br>' + this.$t('reserveUStrongTitle2')
      }
    }
  },
  data () {
    return {
      imgBanner: 'banner-2-services.png',
      servicesLists: services,
      gtMd: true
    }
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
