<template>
  <div class="container">
    <div class="appoiment-form q-mb-xl">
      <div class="row">
        <div class="col-12">
          <span class="text-h4 title text-primary">
            {{$t('scheduleAppo')}}
          </span>
        </div>
        <div class="col-12 col-md-7 col-lg-6 q-mt-md">
          <q-form @submit="submitForm" class="row">
            <div class="col-12 col-md-6 q-pa-sm">
              <label class="text-secondary text-uppercase">{{$t('scheduleAppoName')}}</label>
              <q-input dense outlined rounded :rules="[val => !!val || 'Este campo es requerido']" v-model="appoiment.name" class=" col-12">
                <template v-slot:append>
                  <q-icon name="person" color="secondary" />
                </template>
              </q-input>
            </div>
            <div class="col-12 col-md-6 q-pa-sm">
              <label class="text-secondary text-uppercase">{{$t('scheduleAppoPhone')}}</label>
              <q-input dense :rules="[val => !!val || 'Este campo es requerido']" v-model="appoiment.phone" rounded outlined class=" col-12">
                <template v-slot:append>
                  <q-icon name="phone" color="secondary" />
                </template>
              </q-input>
            </div>
            <div class="col-12 col-md-12 q-pa-sm">
              <label class="text-secondary text-uppercase">{{$t('scheduleAppoEmail')}}</label>
              <q-input dense :rules="[val => !!val || 'Este campo es requerido', val => val.includes('@') || 'El correo debe contener @', val => val.includes('.') || 'El correo debe terminar en .com, .org, etc']" v-model="appoiment.email" rounded outlined class=" col-12">
                <template v-slot:append>
                  <q-icon name="email" color="secondary" />
                </template>
              </q-input>
            </div>
            <div class="col-12 col-md-6 q-pa-sm">
              <label class="text-secondary text-uppercase">{{$t('scheduleAppoDate')}}</label>
              <q-input dense :rules="[val => !!val || 'Este campo es requerido']" rounded outlined v-model="appoiment.date">
                <template v-slot:append>
                  <q-icon name="event" class="cursor-pointer">
                    <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                      <q-date v-model="appoiment.date">
                        <div class="row items-center justify-end">
                          <q-btn v-close-popup label="Close" color="secondary" flat />
                        </div>
                      </q-date>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
            </div>
            <div class="col-12 col-md-6 q-pa-sm">
              <label class="text-secondary text-uppercase">{{$t('scheduleAppoService')}}</label>
              <q-select dense :rules="[val => !!val || 'Este campo es requerido']" color="primary" rounded outlined v-model="appoiment.serviceS" :options="options" label-color="primary" class="">
              </q-select>
            </div>
            <div class="col-12">
              <label class="text-secondary text-uppercase">{{$t('scheduleAppoComments')}}</label>
              <q-input dense v-model="appoiment.description" :rules="[val => !!val || 'Este campo es requerido']" rounded outlined type="textarea" />
              </div>
              <div class="col-12">
                <q-btn :loading="loading" size="15px" class="float-right" rounded :label="$t('scheduleAppoReserve')" color="secondary" type="submit" icon-right="send" />
              </div>
            </q-form>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import { serviceEmail } from 'src/api/email.js'

export default {
  // name: 'ComponentName',
  components: {
  },
  computed: {
  },
  data () {
    return {
      appoiment: {},
      options: [
        {
          id: 1,
          label: 'Diseño de sonria'
        },
        {
          id: 2,
          label: 'Mini diseño'
        },
        {
          id: 3,
          label: 'Fase higiénica'
        },
        {
          id: 4,
          label: 'Cirugías'
        },
        {
          id: 5,
          label: 'Ortodoncia'
        },
        {
          id: 6,
          label: 'Lentes cerámicos'
        },
        {
          id: 7,
          label: 'Aclaramiento'
        },
        {
          id: 8,
          label: 'Limpieza'
        }
      ],
      loading: false
    }
  },
  methods: {
    submitForm () {
      const search = this.options.filter(data => {
        return data.id === this.appoiment.serviceS.id
      })
      this.appoiment.service = search[0].label
      this.loading = true
      return serviceEmail(this.appoiment, (response) => {
        this.loading = false
        this.appoiment = {}
        this.$notify('positive', 'Se ha enviado tu solicitud correctamente.', 'green-9')
      }, (err) => {
        this.$notify('negative', err.message, 'red-9')
        this.loading = false
      })
    }
  },
  beforeMount () {
  }
}
</script>
