<template>
  <section class="margin-about-section">
    <div class="container full-width">
      <div class="row">
        <div class="col-md-5 col-12 desktop-only q-pa-xl q-mt-xl">
          <div class="relative">
            <center>
              <img class="dflex rounded-borders desktop-only mokup-desktop-img" src="images/_DSC6058.jpg" />
            </center>
            <div class="desktop-only play-button">
              <q-btn round color="primary" icon="play_arrow" @click="videoModal = !videoModal" size="xl" />
            </div>
          </div>
        </div>
        <div class="col-md-5 col-12 mobile-only">
          <div class="relative">
            <center>
              <img class="mobile-only about-fondo" src="images/dp_Foto-Odontologia.png" />
              <img class="mobile-only about-top" src="images/dp_Secuencia-Dorado1-.png" />
            </center>
            <div class="movile-only movile-play-button">
              <q-btn round color="primary" icon="play_arrow" @click="videoModal = !videoModal" size="xl" />
            </div>
          </div>
        </div>
        <div class="col-md-7 col-12 flex flex-center padding-about">
          <div class="about-wrapper">
            <div class="row full-width">
              <div class="col-12 text-center-mobile">
                <p :class="textH" class="q-ml-xl no-ml text-primary text-mobile-white text-center-mobile">{{$t('about')}}</p>
              </div>
              <div class="col-12 text-center-mobile q-ml-xl no-ml shadow.2 text-secondary text-center-mobile text-justify text-mobile-white mt-mobile-about" :class="fontH" style="margin-top: -10px">
                {{$t('aboutDescription')}}
              </div>
              <div class="col-12 desktop-only text-center-mobile shadow.2 text-secondary font-14" style="margin-top: 20px">
                <q-btn type="a" to="contacto" rounded outline :label="$t('contactUs')" color="primary" class="q-pl-md q-ml-xl q-pr-md title text-capitalize no-ml" />
              </div>
              <div class="col-12 mobile-only shadow.2 text-secondary q-pb-lg text-center-mobile" style="margin-top: 20px">
                <q-btn type="a" to="contacto" rounded outline :label="$t('contactUs')" color="white" class="q-pl-md q-ml-xl q-pr-md title text-capitalize no-ml" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <q-dialog v-model="videoModal">
      <q-card class="q-pa-none shadow-0 bg-transparent" style="width: 320px">
        <video :src="'videos/Video-publicidad.mp4'" id="video-1" width="100%" autoplay="true" playsinline webkit-playsinline controls>
        </video>
        <q-btn v-close-popup icon="close" flat dense color="red" class="absolute-top-right" />
      </q-card>
    </q-dialog>
  </section>
</template>

<script>
import { contactEmail } from 'src/api/email.js'

export default {
  // name: 'ComponentName',
  components: {
  },
  computed: {
    textH () {
      return this.$q.screen.gt.lg
        ? 'text-h4'
        : 'text-h4'
    },
    fontH () {
      return this.$q.screen.gt.lg
        ? 'font-12'
        : 'font-12'
    }
  },
  data () {
    return {
      contactDialog: false,
      email: {},
      loading: false,
      videoModal: false
    }
  },
  methods: {
    sendEmail () {
      this.loading = true
      return contactEmail(this.email, (response) => {
        this.contactDialog = false
        this.loading = false
        this.$notify('positive', 'Se ha enviado tu mensaje correctamente.', 'green-9')
      }, (err) => {
        this.$notify('negative', err.message, 'red-9')
        this.loading = false
      })
    }
  }
}
</script>
