<template>
  <div class="row bg-secondary diana-address">
    <div class="col-12 flex flex-center">
      <div class="container text-center text-primary">
        <span style="font-weight: 800" class=" text-primary text-capitalize text-h4 text-bold title q-pl-md">
          {{$t('consult')}}
        </span>
      </div>
    </div>
    <div class="col-12 q-mt-md flex flex-center q-mt-xl q-pt-xl">
      <div class="container">
        <div class="row full-width">
          <div class="col-12 col-md-4 col-lg-4 q-pr-lg q-pl-sm flex flex-center" style="margin-top: -50px">
            <div class="row full-width">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="row full-width">
                  <div class="col-12 text-center-mobile">
                    <span class="text-primary title title-consult-contact" :class="textH">
                      MEDELLÍN
                    </span>
                  </div>
                  <div class="col-12 font-12 text-center-mobile">
                    <span class="text-white font-12 consultorio-contact-description" @click="leaveEllipsis" :class="ellipsisMobile">
                      Cra 42 # 5 Sur - 145, edificio Ofi7 La Francia, Oficina 806. (al frente del CC Santa Fé).<br>
                      Celular: (301)2719450
                    </span>
                  </div>
                  <div class="col-12 q-mt-sm ">
                    <div class="border-radius-white">
                      <center>
                        <q-icon @click="openUrl('https://api.whatsapp.com/send/?phone=573012719450&text&app_absent=0')" name="img:images/Icono-Whatsapp-Blanco-90x.png" size="20px" class="clickable" />
                        <q-icon @click="url = 'https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3966.511368292711!2d-75.57417160215174!3d6.196057695444822!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4683f95901d591%3A0x470c03c74ed0e436!2sDra.%20Diana%20Pulgar%C3%ADn!5e0!3m2!1ses!2sve!4v1634817322386!5m2!1ses!2sve'" class="q-pl-sm clickable" name="img:images/mapita.svg" size="20px" />
                      </center>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 mt-mobile-2rem">
                <div class="row full-width">
                  <div class="col-12 text-center-mobile">
                    <span class="text-primary title title-consult-contact" :class="textH">
                      BOGOTÁ
                    </span>
                  </div>
                  <div class="col-12 font-12 text-center-mobile">
                    <span class="text-white font-12 consultorio-contact-description" @click="leaveEllipsis" :class="ellipsisMobile">
                      Cra 12 · 98 -64, Edificio Althea Chicó Norte, Consultorio 411. <br> Celular: (322)2251706
                    </span>
                  </div>
                  <div class="col-12 q-mt-sm">
                    <div class="border-radius-white">
                      <center>
                        <q-icon @click="openUrl('https://api.whatsapp.com/send/?phone=573222251706&text&app_absent=0')" name="img:images/Icono-Whatsapp-Blanco-90x.png" size="20px" class="clickable" />
                        <q-icon @click="url = 'https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3976.502270251645!2d-74.0479484!3d4.6824122!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a96ea7300b1%3A0x31a2069a29f5a553!2sEdificio%20Althea!5e0!3m2!1ses!2sve!4v1634817614696!5m2!1ses!2sve'" class="q-pl-sm clickable" name="img:images/mapita.svg" size="20px" />
                      </center>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 mt-mobile-2rem">
                <div class="row full-width">
                  <div class="col-12 text-center-mobile">
                    <span class="text-primary title title-consult-contact" :class="textH">
                      CALI
                    </span>
                  </div>
                  <div class="col-12 font-12 text-center-mobile">
                    <span class="text-white font-12 consultorio-contact-description" @click="leaveEllipsis" :class="ellipsisMobile">
                      Edificio Vida, torre 1, consultorio 1017<br> Celular: (301)2719450
                    </span>
                  </div>
                  <div class="col-12 q-mt-sm">
                    <div class="border-radius-white">
                      <center>
                        <q-icon @click="openUrl('https://api.whatsapp.com/send/?phone=573012719450&text&app_absent=0')" name="img:images/Icono-Whatsapp-Blanco-90x.png" size="20px" class="clickable" />
                        <q-icon @click="url = 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3982.7008278787916!2d-76.54448888524192!3d3.422860197508591!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30a6a221a8fd83%3A0x2b35d315aacddab!2sVida%20Centro%20Profesional%20PH%20-%20%22Edificio%20de%20Colores%22%20%2F%20Health%20%26%20Aesthetics%20Center%20%2F%20Specialized%20Medicine%2C%20Plastic%20Surgery%2C%20Zigomatic%20%26%20Dental%20Implant%20Clinic%20and%20Smile%20Design%20%2F%20Medical%20Tourism%20Colombia%20(Cali)!5e0!3m2!1ses!2sve!4v1634817767946!5m2!1ses!2sve'" class="q-pl-sm clickable" name="img:images/mapita.svg" size="20px" />
                      </center>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 mt-mobile-2rem">
                <div class="row full-width">
                  <div class="col-12 text-center-mobile">
                    <span class="text-primary title title-consult-contact" :class="textH">
                      PEREIRA
                    </span>
                  </div>
                  <div class="col-12 font-12 text-center-mobile">
                    <span class="text-white font-12 consultorio-contact-description" @click="leaveEllipsis" :class="ellipsisMobile">
                      Edificio Invico, 2do. piso.<br> Celular: (322)2251706
                    </span>
                  </div>
                  <div class="col-12 q-mt-sm">
                    <div class="border-radius-white">
                      <center>
                        <q-icon @click="openUrl('https://api.whatsapp.com/send/?phone=573222251706&text&app_absent=0')" name="img:images/Icono-Whatsapp-Blanco-90x.png" size="20px" class="clickable" />
                        <q-icon @click="url = 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3975.7722259631614!2d-75.69310818523726!3d4.809128196507645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3887475ea51059%3A0xa4f5a1faae699fab!2sInvico%20Centro%20Comercial!5e0!3m2!1ses!2sve!4v1639498970001!5m2!1ses!2sve'" class="q-pl-sm clickable" name="img:images/mapita.svg" size="20px" />
                      </center>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 mt-mobile-2rem">
                <div class="row full-width">
                  <div class="col-12 text-center-mobile">
                    <span class="text-primary title title-consult-contact" :class="textH">
                      Cdad. De Guatemala
                    </span>
                  </div>
                  <div class="col-12 font-12 text-center-mobile">
                    <span class="text-white font-12 consultorio-contact-description" @click="leaveEllipsis" :class="ellipsisMobile">
                      Ciudad de Guatemala Zona 10; 12 Calle 1-25 Geminis 10  Torre Sur, Oficina 602.<br> Celular: (502)50251425
                    </span>
                  </div>
                  <div class="col-12 q-mt-sm">
                    <div class="border-radius-white">
                      <center>
                        <q-icon @click="openUrl('https://api.whatsapp.com/send/?phone=573222251706&text&app_absent=0')" name="img:images/Icono-Whatsapp-Blanco-90x.png" size="20px" class="clickable" />
                        <q-icon @click="url = 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3860.95974358454!2d-90.51603653515973!3d14.60136913980197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8589a3cfbdfbee1f%3A0xfa360603f7c67d32!2sCentro%20Empresarial%20G%C3%A9minis%2010!5e0!3m2!1ses!2sve!4v1634818456577!5m2!1ses!2sve'" class="q-pl-sm clickable" name="img:images/mapita.svg" size="20px" />
                      </center>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-8 col-lg-8 iframe-map" style="margin-top: -50px">
            <div class="full-width full-height bg-white map-container q-pa-md" v-if="render">
              <iframe :src="url" width="100%" class="full-height desktop-only" style="border:0; border-radius: 1px" allowfullscreen="" loading="lazy"></iframe>
              <iframe :src="url" height="200px" width="100%" class="mobile-only" style="border:0; border-radius: 1px" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  components: {
  },
  computed: {
    textH () {
      return this.$q.screen.gt.sm
        ? 'text-h4'
        : 'font-13'
    },
    fontH () {
      return this.$q.screen.gt.sm
        ? 'text-h4'
        : 'text-h4'
    },
    fontCelu () {
      return this.$q.screen.gt.sm
        ? 'font-13'
        : 'font-12'
    },
    ellipsisMobile () {
      return this.$q.screen.lt.md
        ? 'ell-lines'
        : ''
    }
  },
  data () {
    return {
      url: 'https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3966.511368292711!2d-75.57417160215174!3d6.196057695444822!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4683f95901d591%3A0x470c03c74ed0e436!2sDra.%20Diana%20Pulgar%C3%ADn!5e0!3m2!1ses!2sve!4v1634817322386!5m2!1ses!2sve',
      render: true
    }
  },
  methods: {
    openUrl (url) {
      window.open(url, '_blank')
    },
    setCoord (lat, lng) {
      this.render = false
      this.markerLatLng = []
      this.markerLatLng = [lat, lng]
      this.render = true
    },
    leaveEllipsis (e) {
      e.target.classList.remove('ellipsis-2-lines')
    }
  }
}
</script>
