<template>
  <div class="relative video">
    <video class="desktop-only" onloadeddata="this.muted=true" autoplay loop muted>
      <source src="videos/corregido-main.mp4" type="video/mp4">
    </video>
    <q-carousel swipeable animated :autoplay="5000" :transition-next="selectedAnimation" @before-transition="changeKeys"  v-model="slide" :fullscreen="fullscreen" infinite class="mobile-only bg-carousel">
      <q-carousel-slide :name="1" img-src="/images/Diana01.jpg" />
      <q-carousel-slide :name="2" img-src="/images/Diana02.jpg" />
      <q-carousel-slide :name="3" img-src="/images/Diana03.jpg" />
    </q-carousel>
    <div class="conten-banner">
      <informationBanner class="flex flex-left q-pl-lg" />
    </div>
  </div>
</template>

<script>
import informationBanner from './banner/information'

export default {
  // name: 'ComponentName',
  components: {
    informationBanner
  },
  data () {
    return {
      slide: 1,
      fullscreen: false,
      keys: 0,
      animations: [
        'slide-left',
        'slide-down',
        'slide-up'
      ],
      selectedAnimation: 'slide-left'
    }
  },
  methods: {
    changeKeys () {
      if (this.keys === 3) {
        this.keys = 0
      }
      this.selectedAnimation = this.animations[this.keys]
      this.keys++
    }
  }
}
</script>
