<template>
  <div class="row">
    <div class="col-12">
      <newBanner :title="$t('changesAndDevolutions')" :otherTitle="''" :description="$t('')" :img="'Pagos-dp_Imagen-Odontologia.png'" :showOtherTitle="false" :descriptionTwo="''" />
    </div>
    <div class="col-12 q-mt-lg q-mb-lg">
      <div class="container-success">
        <div class="row flex flex-center q-pa-md">
          <div class="col-12 col-md-7 text-center font-12">
            Para Diana Pulgarín Dental Group es importante que nuestros clientes, proveedores y en general todos nuestros usuarios conozcan plenamente sus derechos. Por consiguiente se permite presentarles nuestra Política de Cambios y Devoluciones.
          </div>
          <div class="col-12 q-mt-lg">
            <center>
              <q-btn color="primary" target="_blank" flat type="a" href="pdf/cambiosydevoluciones.pdf">
                <q-icon size="70px" name="img:images/pdf.png" />
              </q-btn>
            </center>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="col-12">
      <newsLetter />
    </div>-->
  </div>
</template>

<script>
import newBanner from 'src/components/layout/newBanner'

export default {
  // name: 'ComponentName',
  components: {
    newBanner
  },
  computed: {
    locale () {
      return this.$store.getters['auth/locale']
    },
    realCases () {
      return this.$store.getters['caseReal/caseReal']
    },
    caseSuccess () {
      return this.$store.getters['caseSuccess/caseSuccess']
    }
  },
  data () {
    return {
      imgBanner: 'banner-2-services.png',
      filter: {}
    }
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
