<template>
  <div class="container q-pt-lg q-pb-xl counting-section">
    <div class="row q-mt-xl q-mb-xl easy-payment" style="height: auto !important" v-scroll-fire="loadSection">
      <div class="row full-width">
        <div class="col-12 col-md-12 text-center">
          <div class="row full-width">
            <div class="col-12 col-md-12">
              <span class="text-primary title" :class="textH">
                {{$t('realizados')}}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div v-if="show" class="col-12 col-md-4 q-mt-xl q-pt-lg justify-center items-center content-center row" style="height: 150px">
        <div class="col-8">
          <div class="row q-pt-lg  justify-center items-center content-center full-width">
            <div class="col-xs-8 col-sm-6 col-md-6">
              <p class="text-center text-h2 text-bold title">
                +<number ref="number1" :from="1" :to="experience.total" :duration="3" :delay="0" easing="Power1.easeOut" />
              </p>
            </div>
            <div class="col-4 col-sm-3 col-md-4" style="margin-top: -20px">
              <img width="90%" src="images/anos-experencia.svg" />
            </div>
          </div>
        </div>
        <div class="col-12 q-mt-sm">
          <p class="ellipsis-2-lines text-center font-13 text-bold" style="margin-top: -10px">
            {{$t('yearsExperience')}}
          </p>
        </div>
      </div>
      <div v-if="show" class="col-12 col-md-4 q-mt-xl q-pt-lg row justify-center items-center content-center" style="height: 150px">
        <div class="col-8">
          <div class="row q-pt-lg full-width">
            <div class="col-xs-8 col-sm-6 col-md-6">
              <p class="text-center text-h2 text-bold title">
                +<number ref="number2" :from="1" :to="2" :duration="1" :delay="0" easing="Power1.easeOut"/>m
              </p>
            </div>
            <div class="col-4 col-sm-3 col-md-4">
              <img width="100%" src="images/seguidores.svg" style="margin-top: -20px" />
            </div>
          </div>
        </div>
        <div class="col-12">
          <p class="ellipsis-2-lines text-center font-13 text-bold" style="margin-top: -10px">
            {{$t('socualMedia')}}
          </p>
        </div>
      </div>
      <div v-if="show" class="col-12 col-md-4 q-mt-xl q-pt-lg row justify-center items-center content-center" style="height: 150px">
        <div class="col-8">
          <div class="row d-flex flex-center q-pt-lg full-width">
            <div class="col-xs-8 col-sm-6 col-md-8">
              <p class="text-center text-h2 text-bold title">
                +<number ref="number1" :from="1" :to="service.total" :duration="7" :delay="0" easing="Power1.easeOut" :format="theFormat"/>
              </p>
            </div>
            <div class="col-4 col-sm-3 col-md-4">
              <q-img width="90%" src="images/servicios-realizados.svg" style="margin-top: -30px" />
            </div>
          </div>
        </div>
        <div class="col-12">
          <p class="ellipsis-2-lines text-center font-13 text-bold" style="margin-top: -10px">
            {{$t('servicesPerforman')}}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getCountingAll } from 'src/api/counting'

export default {
  // name: 'ComponentName',
  components: {
  },
  computed: {
    textH () {
      return this.$q.screen.gt.lg
        ? 'text-h3'
        : 'text-h4'
    }
  },
  data () {
    return {
      countings: [],
      completed: 0,
      show: false,
      experience: {},
      service: {},
      completeService: 0,
      follower: 0,
      did: 250
    }
  },
  methods: {
    theFormat (number) {
      return this.$price(number)
    },
    getCountingServices () {
      return getCountingAll((resp) => {
        this.countings = resp.data.success
        this.filterCounting()
      }, (err) => {
        console.log(err)
      })
    },
    filterCounting () {
      const search = this.countings.filter(data => {
        return data.service === 1
      })
      if (search.length > 0) {
        this.service = search[0]
      }

      const search2 = this.countings.filter(data => {
        return data.service === 2
      })
      if (search2.length > 0) {
        this.experience = search2[0]
      }
    },
    calculateServices () {
      const number = this.service.total / 5
      if (this.completeService < this.service.total) {
        this.completeService += number
        setTimeout(() => { this.calculateServices() }, 1000)
      } else {
        return true
      }
    },
    calculateExperience () {
      const number = this.experience.total / 5
      if (this.completed < this.experience.total) {
        this.completed += number
        setTimeout(() => { this.calculateExperience() }, 1000)
      } else {
        return true
      }
    },
    calculateFollower () {
      if (this.follower < 2) {
        this.follower += 1
        setTimeout(() => { this.calculateFollower() }, 1000)
      } else {
        return true
      }
    },
    loadSection () {
      this.show = true
      console.log(132)
    }
  },
  beforeMount () {
    this.getCountingServices()
    if (this.$q.screen.width > 1423) {
      this.did = 320
    }
  }
}
</script>
