<template>
  <div class="bg-primary easy-payment" style="margin-top: -50px">
    <div class="container">
      <div class="row flex flex-center">
        <div class="row full-width q-pt-lg q-pb-lg full-height">
          <div class="col-12 col-md-4  q-pt-md">
            <div class="row full-width">
              <div class="col-12 col-md-12">
                <span class="text-white title" :class="textH">
                  {{$t('easyPayment')}}
                </span>
                <p class="text-white font-1111">
                  {{$t('sedePayment')}}
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-5 q-pt-md">
            <q-img src="images/pagos.jpeg" width="100%" class="rounded-borders-22" />
          </div>
          <div class="col-12 col-md-3 items-center dflex pt-mobile-pay q-pt-sm">
            <q-btn class="font-12 q-pl-sm q-pr-sm text-capitalize" size="sm" type="a" to="/pagos" :label="$t('payNow')" rounded color="info" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  components: {
  },
  computed: {
    textH () {
      return this.$q.screen.gt.lg
        ? 'font-14'
        : 'font-14'
    }
  },
  data () {
    return {}
  }
}
</script>
