<template>
  <div class="row">
    <div class="col-12">
      <newBanner :title="$t('tratamientoDatos')" :otherTitle="''" :description="$t('')" :img="'Pagos-dp_Imagen-Odontologia.png'" :showOtherTitle="false" :descriptionTwo="''" />
    </div>
    <div class="col-12 q-mt-lg q-mb-lg">
      <div class="container-success">
        <div class="row flex flex-center q-pa-md">
          <div class="col-12 col-md-12 text-left font-12 text-bold text-primary">
            Diana Pulgarín Odontología Estética S.A.S.<br>POLÍTICA DE TRATAMIENTO DE PROTECCIÓN DE DATOS PERSONALES <br>Diana Pulgarín Odontología Estética S.A.S.
          </div>
          <div class="col-12 col-md-12 text-justify font-12 q-mt-lg">
            Dando cumplimiento a lo dispuesto en la Ley estatutaria 1581 de 2012 y a su Decreto Reglamentario 1377 de 2013 (hoy Capítulo 25 del decreto 1074 del 26 de mayo de 2015), la compañía Diana Pulgarín Odontología Estética S.A.S, adopta la presente política para el tratamiento de datos personales, la cual será informada a todos los titulares de los datos recolectados o que en el futuro se obtengan en el ejercicio de las actividades profesionales, comerciales y laborales, garantizando así, Diana Pulgarín Odontología Estética S.A.S. los derechos de la privacidad, la intimidad, el buen nombre, habeas data.
          </div>
          <div class="col-12 col-md-12 text-justify font-12 q-mt-lg">
            En el tratamiento de los datos personales, y en consecuencia todas sus actuaciones se regirán por los principios de legalidad, finalidad, libertad, veracidad o calidad, transparencia, acceso y circulación restringida, seguridad y confidencialidad.<br><br>
            Todas las personas que en desarrollo de diferentes actividades, en el ejercicio de las actividades profesionales, comerciales, laborales y entre otras, sean permanentes u ocasionales, llegaran a suministrar a la compañía Diana Pulgarín Odontología Estética S.A.S. cualquier tipo de información o dato personal, podrá conocerlo, actualizarlo y rectificarlo.<br><br>
            <span class="text-primary text-bold">
              RESPONSABLE DEL TRATAMIENTO DE DATOS<br>
              NOMBRE: Diana Pulgarín Odontología Estética S.A.S.<br>
              NIT: 900.921.231-1.<br>
              DIRECCIÓN: Carrera 42 #5 Sur - 145 Oficina 806 Edificio Ofi7 – Medellín Antioquia.<br>
              CORREO: tratamientodedatos@dianapulgarin.com<br>
              TELEFONO: (+57) 300 5703 039.
            </span>
          </div>
          <div class="col-12 text-justify q-mt-lg font-12">
            ÁMBITO DE APLICACIÓN.<br><br>
            La presente política será aplicable a los datos personales registrados en cualquier base de datos de Diana Pulgarín Odontología Estética S.A.S, cuyo titular sean pacientes, clientes, empleados, embajadores, proveedores, aliados comerciales y en general a toda persona natural o jurídica que tenga relación con nuestra compañía<br><br>
            DEFINICIONES.
            Para los efectos de la presente política y en concordancia con la normatividad vigente en materia de protección de datos personales, se tendrán en cuenta las siguientes definiciones<br><br>
            AUTORIZACIÓN: Consentimiento previo, expreso e informado del Titular para llevar a cabo el Tratamiento de datos personales.<br><br>
            AVISO DE PRIVACIDAD: Comunicación verbal o escrita generada por el Responsable, dirigida al Titular para el tratamiento de sus datos personales, mediante la cual se le informa acerca de la existencia de las políticas de tratamiento de información que le serán aplicables, la forma de acceder a las mismas y las finalidades del tratamiento que se pretende dar a los datos personales.<br><br>
            BASE DE DATOS: Conjunto organizado de datos personales que sea objeto de tratamiento.<br><br>
            CAUSAHABIENTE: persona que ha sucedido a otra por causa del fallecimiento de ésta (heredero).<br><br>
            DATO PERSONAL: Cualquier información vinculada o que pueda asociarse a una o varias personas naturales determinadas o determinables.<br><br>
            DATO PÚBLICO: Es el dato que no sea semiprivado, privado o sensible. Son considerados datos públicos, entre otros, los datos relativos al estado civil de las personas, a su profesión u oficio ya su calidad de comerciante o de servidor público. Por su naturaleza, los datos públicos pueden estar contenidos, entre otros, en registros públicos, documentos públicos, gacetas y boletines oficiales y sentencias judiciales debidamente ejecutoriadas que no estén sometidas a reserva.<br><br>
            DATOS SENSIBLES: Se entiende por datos sensibles aquellos que afectan la intimidad del Titular o cuyo uso indebido puede generar su discriminación, tales como que revelen el origen racial o étnico, la orientación política, las convicciones religiosas o filosóficas, la pertenencia a sindicatos, organizaciones sociales, de derechos humanos o que promueva intereses de cualquier partido político o que garanticen los derechos y garantías de partidos políticos de oposición, así como los datos relativos a la salud, a la vida sexual, y los datos biométricos.<br><br>
            ENCARGADO DEL TRATAMIENTO: Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, realice el Tratamiento de datos personales por cuenta del Responsable del Tratamiento.<br><br>
            RESPONSABLE DEL TRATAMIENTO: Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, decida sobre la base de datos y/o el Tratamiento de los datos.<br><br>
            TITULAR: Persona natural cuyos datos personales sean objeto de Tratamiento.
            TRATAMIENTO: Cualquier operación o conjunto de operaciones sobre datos personales, tales como la recolección, almacenamiento, uso, circulación o supresión.<br><br>
            TRANSFERENCIA: la transferencia de datos tiene lugar cuando el responsable y/o encargado del tratamiento de datos personales, ubicado en Colombia, envía la información o los datos personales a un receptor, que a su vez es responsable del tratamiento y se encuentra dentro o fuera del país.<br><br>
            TRANSMISIÓN: tratamiento de datos personales que implica la comunicación de los mismos dentro o fuera del territorio de la República de Colombia cuando tenga por objeto la realización de un tratamiento por el encargado por cuenta del responsable.<br><br>
            PRINICIPIOS.<br>
Para efectos de garantizar la protección de datos personales, nuestra compañía, aplicará los principios previstos en la ley estatutaria 1581 de 2012 en su articulo 4, el Decreto 1377 de 2013, artículo 15 de la Constitución Política, Capítulo 25 del decreto 1074 del 26 de mayo de 2015, Decreto Reglamentario 886 de 2014, Decreto 090 del 18 de enero de 2018 y con base a esto, se deberá realizar el tratamiento, transferencia y transmisión de datos personales:<br><br>
PRINCIPIO DE LEGALIDAD EN MATERIA DE TRATAMIENTO DE DATOS:<br> El tratamiento de datos es una actividad reglada, la cual deberá estar sujeta a las disposiciones legales vigentes y aplicables rigen el tema.<br><br>
PRINCIPIO DE FINALIDAD:<br> la actividad del tratamiento de datos personales que realice LA COMPAÑIA o a la cual tuviere acceso, obedecerán a una finalidad legítima en consonancia con la Constitución Política de Colombia, la cual deberá ser informada al respectivo titular de los datos personales.<br><br>
PRINCIPIO DE LIBERTAD:<br> el tratamiento de los datos personales sólo puede realizarse con el consentimiento, previo, expreso e informado del Titular. Los datos personales no podrán ser obtenidos o divulgados sin previa autorización, o en ausencia de mandato legal, estatutario, o judicial que releve el consentimiento.<br><br>
PRINCIPIO DE VERACIDAD O CALIDAD:<br> la información sujeta a Tratamiento de datos personales debe ser veraz, completa, exacta, actualizada, comprobable y comprensible. Se prohíbe el Tratamiento de datos parciales, incompletos, fraccionados o que induzcan a error.<br><br>
PRINCIPIO DE TRANSPARENCIA:<br> En el tratamiento de datos personales, LA COMPAÑIA garantizará al Titular su derecho de obtener en cualquier momento y sin restricciones, información acerca de la existencia de cualquier tipo de información o dato personal que sea de su interés o titularidad.<br><br>
PRINCIPIO DE ACCESO Y CIRCULACIÓN RESTRINGIDA:<br> El tratamiento de datos personales se sujeta a los límites que se derivan de la naturaleza de éstos, de las disposiciones de la ley y la Constitución. En consecuencia, el tratamiento sólo podrá hacerse por personas autorizadas por el titular y/o por las personas previstas en la ley. Los datos personales, salvo la información pública, no podrán estar disponibles en internet u otros medios de divulgación o comunicación masiva, salvo que el acceso sea técnicamente controlable para brindar un conocimiento restringido sólo a los titulares o terceros autorizados conforme a la ley. Para estos propósitos la obligación de LA COMPAÑIA, será de medio.<br><br>
PRINCIPIO DE SEGURIDAD:<br> la información sujeta a tratamiento por LA COMPAÑIA, se deberá manejar con las medidas técnicas, humanas y administrativas que sean necesarias para otorgar seguridad a los registros evitando su adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento.<br><br>
PRINCIPIO DE CONFIDENCIALIDAD:<br> Todas las personas que en LA COMPAÑIA, administren, manejen, actualicen o tengan acceso a informaciones de cualquier tipo que se encuentre en bases de datos, están obligadas a garantizar la reserva de la información, por lo que se comprometen a conservar y mantener de manera estrictamente confidencial y no revelar a terceros, toda la información que llegaren a conocer en la ejecución y ejercicio de sus funciones; salvo cuando se trate de actividades autorizadas expresamente por la ley de protección de datos. Esta obligación persiste y se mantendrá inclusive después de finalizada su relación con alguna de las labores que comprende el Tratamiento.<br><br>
DERECHOS DEL TITULAR DE LA INFORMACIÓN.<br><br>
De acuerdo con lo contemplado por la normatividad vigente aplicable en materia de protección de datos, los siguientes son los derechos de los titulares de los datos personales:<br><br>
1.  Acceder, conocer, actualizar y rectificar sus datos personales frente a la empresa Diana Pulgarín Odontología Estética S.A.S.  en su condición de responsable del tratamiento. Este derecho se podrá ejercer, entre otros, frente a datos parciales, inexactos, incompletos, fraccionados, que induzcan a error, o aquellos cuyo tratamiento esté expresamente prohibido o no haya sido autorizado.<br>
2.  Ser informado por Diana Pulgarín Odontología Estética S.A.S, previa solicitud, respecto del uso que le ha dado a sus datos personales.<br>
3.  Presentar queja ante la Superintendencia de Industria y Comercio por infracciones a lo dispuesto en la Ley 1581 de 2012 y las demás normas que la modifiquen, adicionen o complementen, una vez haya agotado el trámite de reclamo ante el responsable o encargado del tratamiento de datos personales.<br>
4.  Revocar la autorización y/o solicitar la supresión del dato cuando en el Tratamiento no se respeten los principios, derechos y garantías constitucionales y legales.
5.  Acceder en forma gratuita a sus datos personales que hayan sido objeto de tratamiento, al menos una vez cada mes calendario, y cada vez que existan modificaciones sustanciales de la presente política que motiven nuevas consultas.<br>
6.  Conocer la política de tratamiento de datos de la entidad y a través de ella, el uso o finalidad que se le dará a sus datos personales.<br>
7.  Los demás señalados por el artículo 8 de la Ley 1581 de 2012.<br><br>
DERECHOS DE LOS NIÑOS Y ADOLESCENTES.<br>
En el tratamiento de datos personales se asegurará el respeto a los derechos prevalentes de los menores.
Queda proscrito el tratamiento de datos personales de menores, salvo aquellos datos que sean de naturaleza pública, y en este caso el tratamiento deberá cumplir con los siguientes parámetros:
a. Responder y respetar el interés superior de los menores.
b. Asegurar el respeto de los derechos fundamentales de los menores.<br><br>
DEBERES DE DIANA PULGARÍN ODONTOLOGÍA ESTÉTICA S.A.S.<br>
Como responsable y encargada del tratamiento de datos, la compañía se compromete a cumplir los siguientes deberes, sin perjuicio de las demás disposiciones previstas en la ley, en las disposiciones que se refieran al tratamiento de datos personales:<br>
1.  Garantizar al Titular, en todo tiempo, el pleno y efectivo ejercicio del derecho de hábeas data;<br>
2.  Solicitar y conservar, en las condiciones previstas en la presente ley, copia de la respectiva autorización otorgada por el Titular;<br>
3.  Informar debidamente al titular sobre la finalidad de la recolección y los derechos que le asisten por virtud de la autorización otorgada;<br>
4.  Conservar la información bajo las condiciones de seguridad necesarias para impedir su adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento;<br>
5.  Garantizar que la información que se suministre al encargado del tratamiento sea veraz, completa, exacta, actualizada, comprobable y comprensible;<br>
6.  Actualizar la información, comunicando de forma oportuna al Encargado del Tratamiento, todas las novedades respecto de los datos que previamente le haya suministrado y adoptar las demás medidas necesarias para que la información suministrada a este se mantenga actualizada;<br>
7.  Rectificar la información cuando sea incorrecta y comunicar lo pertinente al Encargado del Tratamiento;<br>
8.  Suministrar al encargado del tratamiento, según el caso, únicamente datos cuyo Tratamiento esté previamente autorizado de conformidad con lo previsto en la presente ley;
9.  Exigir al encargado del tratamiento en todo momento, el respeto a las condiciones de seguridad y privacidad de la información del titular;<br>
10. Tramitar las consultas y reclamos formulados en los términos señalados en la presente ley;<br>
11. Adoptar un manual interno de políticas y procedimientos para garantizar el adecuado cumplimiento de la ley y en especial, para la atención de consultas y reclamos;<br>
12. Informar al encargado del tratamiento cuando determinada información se encuentra en discusión por parte del titular, una vez se haya presentado la reclamación y no haya finalizado el trámite respectivo;<br>
13. Informar a solicitud del Titular sobre el uso dado a sus datos;<br>
14. Informar a la autoridad de protección de datos cuando se presenten violaciones a los códigos de seguridad y existan riesgos en la administración de la información de los Titulares.<br>
15. Cumplir las instrucciones y requerimientos que imparta la Superintendencia de Industria y Comercio.<br>
16. Usar únicamente datos cuyo tratamiento esté previamente autorizado de conformidad con lo previsto en la ley 1581 de 2012.<br>
17. Permitir el acceso a la información únicamente a las personas que pueden tener acceso a ella.<br>
18. Usar los datos personales del titular sólo para aquellas finalidades para las que se encuentre facultada debidamente y respetando en todo caso la normatividad vigente sobre protección de datos personales.<br><br>
AUTORIZACIÓN Y CONSENTIMIENTO DEL TITULAR.<br>
En el Tratamiento de datos, se requiere la autorización previa e informada del titular, tal como lo consagra el articulo 9 de la ley 1581 de 2012, por ello, la compañía requerirá del consentimiento  libre, previo, expreso e informado del titular de los datos personales para el tratamiento de los mismos.<br><br>
Manifestación de la autorización para el uso de los datos por parte de los particulares a la compañía:<br>
1.  El titular, quien deberá acreditar su identidad en forma suficiente por los distintos medios que le ponga a disposición.<br>
2.  Los causahabientes del titular, quienes deberán acreditar tal calidad.<br>
3.  El representante y/o apoderado del titular, previa acreditación de la representación o apoderamiento.<br><br>
No se requerirá autorización por parte de los titulares de los datos, en los siguientes casos, los cuales se encuentran exceptos y autorizados en la ley:<br>
1.  Información requerida por una entidad pública o administrativa en ejercicio de sus funciones legales o por orden judicial.<br>
2.  Datos de naturaleza pública.<br>
3.  Casos de urgencia médica o sanitaria.<br>
4.  Tratamiento de información autorizado por la ley para fines históricos, estadísticos o científicos.<br>
5.  Datos relacionados con el Registro Civil de las Personas.<br><br>
MEDIOS PARA OTORGAR LA AUTORIZACIÓN.<br>
Diana Pulgarín Odontología Estética S.A.S, obtendrá la autorización mediante diferentes medios, entre ellos el documento físico, electrónico, mensaje de datos, Internet, Sitios Web, o en cualquier otro formato que en todo caso permita la obtención del consentimiento mediante conductas inequívocas a través de las cuales se concluya que de no haberse surtido la misma por parte del titular o la persona legitimada para ello, los datos no se hubieran almacenado o capturado en la base de datos.<br><br>
La autorización será solicitada por nuestra compañía de manera previa al tratamiento de los datos personales.<br><br>
PRUEBA DE LA AUTORIZACIÓN.
la compañía  conservará la prueba de la autorización otorgada por los titulares de los datos personales para su tratamiento, para lo cual utilizará los mecanismos disponibles a su alcance en la actualidad al igual que adoptará las acciones necesarias para mantener el registro de la forma y fecha y en la que obtuvo ésta. En consecuencia la compañía podrá establecer archivos físicos o repositorios electrónicos realizados de manera directa o a través de terceros contratados para tal fin.<br><br>
REVOCATORIA DE LA AUTORIZACIÓN.
Los titulares de los datos personales pueden en cualquier momento revocar la autorización otorgada a la compañía para el tratamiento de sus datos personales o solicitar la supresión de los mismos, siempre y cuando no lo impida una disposición legal o contractual.<br><br>
Diana Pulgarín Odontología Estética S.A.S. establecerá mecanismos sencillos y gratuitos que permitan al titular revocar su autorización o solicitar la supresión sus datos personales, al menos por el mismo medio por el que lo otorgó. Para lo anterior, deberá tenerse en cuenta que la revocatoria del consentimiento puede expresarse, por una parte, de manera total en relación con las finalidades autorizadas, y por lo tanto la compañía deberá cesar cualquier actividad de tratamiento de los datos; y por la otra de manera parcial en relación con ciertos tipos de tratamiento, en cuyo caso serán estos sobre los que cesarán las actividades de tratamiento, como para fines publicitarios, entre otros.<br><br>
En este último caso, la compañía podrá continuar tratando los datos personales para aquellos fines en relación con los cuales el titular no hubiera revocado su consentimiento.<br><br>
Es necesario recordar que la información consignada en las historias clínicas, a la que alude la Resolución No. 1995 de 1999 del Ministerio de Salud, no podrá eliminarse, ni aún a petición de su titular por disposición de ley. Tampoco los datos que conforman los registros y/o datos del Registro Individual de Prestación de Servicios de Salud (RIPS), reglamentados por la Resolución 3374 de 2000 del Min Salud.
TRATAMIENTO AL CUAL SERÁN SOMETIDOS LOS DATOS Y FINALIDAD DEL MISMO.<br>
1.  Tratamiento de datos y finalidades de los mismos.<br>
1.  Realizar videos de seguridad; teniendo en cuenta que es por el bienestar de los pacientes, trabajadores, prestadores de servicios y demás personas que ingresan a las instalaciones, entendiendo siempre que mis datos e imágenes serán tratados de manera privada y respetuosa de acuerdo a lo establecido en el presente documento. Con respecto de las imágenes recolectadas por las cámaras de seguridad, estás serán utilizadas únicamente con fines de seguridad, y fines internos de la compañía como reducir incidentes de inseguridad, mejoramiento de la efectividad en los trabajadores de la empresa y el aumento del beneficio para la empresa. En casos eventuales los videos de seguridad podrán ser utilizados para ser aportados a procesos judiciales.<br>
2.  cumplimiento de los compromisos contractuales que se suscriban entre la Diana Pulgarín Odontología Estética S.A.S  y los titulares de los datos.<br>
3.  Procesos de actualización, programación y confirmación de agendas y atención de citas.<br>
4.  Envío de información acerca de nuestras promociones en tratamientos y productos.<br>
5.  ofrecerles nuevos servicios y productos relacionados con nuestra actividad en el campo odontológico.<br>
6.  envío de información de eventos y campañas en salud oral, promociones y ofertas.<br><br>
7.  informar sobre cambios de nuestros productos y/o servicios, con la finalidad de que los titulares de la información estén actualizados de nuestra oferta de servicios.<br><br>
8.  Realizar encuestas relacionadas con los servicios o bienes de la compañía Diana Pulgarín Odontología Estética S.A.S. con el fin de mejorar la atención y calidad en los servicios que presta la compañía.<br><br>
9.  captación  de la  imagen de los usuarios,  para efectos de distribución, reproducción y comunicación  pública  a  través de las fotos  y videos  realizados  por  el  equipo  de fotografía  y  video  de  la  compañía Diana  Pulgarín  Odontología Estética S.A.S, imagen que será captada durante la realización de los procedimientos odontológicos que sean practicados o después de ello, previa autorización de los usuarios o titulares de los datos, dejando completamente claro a los titulares de los datos que por tratarse de datos sensibles pueden abstenerse de emitir dicha autorización, toda vez que no está obligado a otorgarla, esto,  para que la compañía pueda usar la imagen para publicitar sus servicios o productos en sus redes sociales, página web o dependencias de la compañía. siempre y cuando el paciente autorice previamente, el uso de sus datos de imagen para tal fin.<br><br>
10. En cuanto a los datos de contratistas y proveedores se tratarán sus datos con la finalidad de atender las obligaciones que emanen de los contratos correspondientes, los mismos serán tratados para efecto de verificar referencias, evaluar su desempeño así como efectuar análisis estadísticos.<br><br>
11. Frente a los contratos de los colaboradores o trabajadores de la compañía, se considera que dentro de las actividades necesarias para el cumplimiento de su objeto se incluyen el tratamiento de datos financieros para efectos del pago y las obligaciones de seguridad social, así como inclusión en el programa de beneficios de la compañía, las evaluaciones de desempeño y programas de capacitación.<br><br>
12. Información con relación a datos de salud del paciente estrictamente relacionados con su salud bucal, con la finalidad de llevar control de los procedimientos odontológicos contratados por los usuarios. Datos que serán consignados en las historias clínicas.
1.  Información biométrica (audio, video y/o fotografía).<br><br>
La información que sea recolectada por la compañía con relación a video, audio, y/o fotografía será tratada para los siguientes fines.<br><br>
1.  Contar con un esquema de seguridad que permita facilitar el acceso de los usuarios, identificar plenamente a través de video vigilancia, la seguridad de los bienes de Diana Pulgarín Odontología Estética, sus clientes proveedores y visitantes. La recolección y tratamiento será opcional y requiere autorización por escrito del titular, con excepción de la información que se obtiene por el esquema de video vigilancia, para el cual bastará un aviso de privacidad ubicado en las instalaciones de las sedes de la compañía, el cual deberá informar a los asistentes la presencia y finalidad de las cámaras.<br><br>
2.  Con relación a los usuarios que previamente informados y luego de que emitan su autorización, se procederá a la captación  de su  imagen,  para efectos de distribución, reproducción y comunicación pública  a  través de las fotos  y videos  realizados  por  el  equipo  de fotografía  y  video  de  la  compañía Diana  Pulgarín  Odontología Estética S.A.S, imagen que será captada durante la realización de los procedimientos odontológicos que sean practicados o después de ello, previa autorización de los usuarios o titulares de los datos, dejando completamente claro a los titulares de los datos que por tratarse de datos sensibles pueden abstenerse de emitir dicha autorización, toda vez que no está obligado a otorgarla. La recolección de estos datos será usada por la compañía con la finalidad de mostrar al público en general testimonios y resultados obtenidos por los usuarios luego de la prestación del servicio odontológico, basados en testimonios reales e imagen, así mismo tendrá como finalidad publicitar los servicios o productos de la compañía en  redes sociales, página web o dependencias de la compañía.
AVISO DE PRIVACIDAD.<br><br>
El Aviso de Privacidad es el documento físico, electrónico o en cualquier otro formato, puesto a disposición del titular para informarle acerca del tratamiento de sus datos personales. A través de este documento se comunica al titular la información relacionada con la existencia de las políticas de tratamiento de información de la compañía y que le serán aplicables, la forma de acceder a las mismas y las características del tratamiento que se pretende dar a los datos personales recolectados.  El aviso de privacidad deberá contener, como mínimo, la siguiente información:<br>
1.  La identidad, domicilio y datos de contacto del responsable del tratamiento.<br>
2.  El tipo de tratamiento al cual serán sometidos los datos y la finalidad del mismo.<br>
3.  Los derechos del titular.<br>
4.  Los mecanismos generales dispuestos por el responsable para que el titular conozca la política de tratamiento de la información y los cambios sustanciales que se produzcan en ella. En todos los casos, debe informar al titular cómo acceder o consultar la política de tratamiento de información.<br>
5.  El carácter facultativo de la respuesta relativa a preguntas sobre datos sensibles.
GARANTÍAS DEL DERECHO DE ACCESO A LOS DATOS.<br>
Para garantizar el derecho de acceso del titular de los datos, Diana Pulgarín Odontología Estética S.A.S. pondrá a disposición de éste, previa acreditación de su identidad, legitimidad, o personalidad de su representante, sin costo o erogación alguna, de manera pormenorizada y detallada, los respectivos datos personales a través de todo tipo de medio, incluyendo los medios electrónicos que permitan el acceso directo del titular a ellos. Dicho acceso deberá ofrecerse sin límite alguno y le deben permitir al titular la posibilidad de conocerlos y actualizarlos en línea.<br><br>
PROCEDIMIENTO PARA CONSULTA SOBRE EL TRATAMIENTO DE DATOS POR SUS TITULARES.<br>
Diana Pulgarín Odontología Estética S.A.S proporciona los medios idóneos para la consulta, por parte de los titulares de los datos personales, sobre el tratamiento de sus datos, los cuales serán informados dentro de los formularios de recolección de datos personales.<br><br>
PROCEDIMIENTO PARA CORREGIR, ACTUALIZAR, RECTIFICAR O SUPRIMIR LOS DATOS.<br>
Diana Pulgarín Odontología Estética S.A.S. en cumplimiento de Régimen General de Protección de Datos Personales, procederá a corregir, actualizar, rectificar o suprimir los datos personales a solicitud del titular o su representante, en los términos señalados en la ley.<br><br>
PROCEDIMIENTO PARA SUPRESIÓN DE DATOS.<br>
El titular de los datos personales tiene el derecho de solicitar  a la compañía su supresión en cualquiera de los siguientes eventos:<br>
1. Considere que los mismos no están siendo tratados conforme a los principios, deberes y obligaciones previstas en la normatividad vigente.<br>
2. Hayan dejado de ser necesarios o pertinentes para la finalidad para la cual fueron recabados.<br>
3. Se haya superado el periodo necesario para el cumplimiento de los fines para los que fueron recabados.<br>
Esta supresión implica la eliminación total o parcial de la información personal de acuerdo con lo solicitado por el titular en los registros, archivos, bases de datos o tratamientos realizados por Diana Pulgarín Odontología Estética S.A.S. Sin embargo este derecho del titular no es absoluto y en consecuencia Diana Pulgarín Odontología Estética S.A.S. podrá negar el ejercicio del mismo cuando:<br>
a) El titular tenga un deber legal o contractual de permanecer en la base de datos.<br>
b) La eliminación de datos obstaculice actuaciones judiciales o administrativas vinculadas a obligaciones fiscales, la investigación y persecución de delitos o la actualización de sanciones administrativas.<br>
c) Los datos sean necesarios para proteger los intereses jurídicamente tutelados del titular; para realizar una acción en función del interés público, o para cumplir con una obligación legalmente adquirida por el titular.<br><br>
RESPONSABLE Y ENCARGADO DEL TRATAMIENTO DE DATOS PERSONALES.
Diana Pulgarín Odontología Estética S.A.S. actúa como RESPONSABLE del tratamiento de datos personales en virtud de la recolección que realice directamente de los datos de sus pacientes, clientes, empleados, embajadores, proveedores, aliados comerciales y en general a toda persona natural o jurídica que tenga relación con nuestra compañía, además actúa como ENCARGADO del tratamiento de datos personales en virtud de los acuerdos y convenios para compartir datos personales que suscriba con terceros con la finalidad de hacer ofertas de servicios de carácter comercial, así como para desarrollar la labor encomendada.<br><br>
Diana Pulgarín Odontología Estética S.A.S como responsable o encargado del tratamiento de datos personales, podrá suscribir alianzas o convenios para la oferta de servicios comerciales, para lo cual ha obtenido el consentimiento previo, informado y expreso de los titulares de los datos y de los responsables del tratamiento de datos personales, garantizando de esta manera los derechos a la protección de los datos.<br><br>
TRANSFERENCIAS DE DATOS PARA TRATAMIENTO POR TERCEROS NACIONALES E INTERNACIONALES.<br>
Diana Pulgarín Odontología Estética S.A.S puede transmitir o transferir de manera parcial o total los datos personales a terceros en el país o en el exterior, en desarrollo de su objeto social, para lo cual solicito previamente autorización de su titular e implementar las acciones necesarias para el cumplimiento de los preceptos legales de Colombia, mediante la suscripción de acuerdos y convenios para compartir datos personales para la oferta de servicios de carácter comercial.<br><br>
VIGENCIA DE LA POLÍTICA.<br><br>
La presente política rige a partir de la fecha de su publicación y deja sin efectos las demás disposiciones institucionales que le sean contrarias. Lo no previsto en el presente manual se reglamentará de acuerdo al Régimen General de Protección de Datos Personales vigente en Colombia.
          </div>
        </div>
      </div>
    </div>
    <!--<div class="col-12">
      <newsLetter />
    </div>-->
  </div>
</template>

<script>
import newBanner from 'src/components/layout/newBanner'

export default {
  // name: 'ComponentName',
  components: {
    newBanner
  },
  computed: {
    locale () {
      return this.$store.getters['auth/locale']
    },
    realCases () {
      return this.$store.getters['caseReal/caseReal']
    },
    caseSuccess () {
      return this.$store.getters['caseSuccess/caseSuccess']
    }
  },
  data () {
    return {
      imgBanner: 'banner-2-services.png',
      filter: {}
    }
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
