<template>
  <div class="slider-real-changes bg-black q-pt-lg q-pb-xl" v-scroll-fire="loadRealChanges">
    <div class="container">
      <div class="row q-mt-lg q-pt-lg">
        <div class="col-10 lt-md q-pl-md">
          <span class="text-uppercase text-h4 text-primary title">
            {{$t('realChanges')}}
          </span>
        </div>
        <sliderReal v-if="showReal" />
      </div>
      <div class="row full-width q-mt-xl q-pt-lg" v-if="showReal">
        <div class="col-12 col-md-6 q-pa-sm">
          <div class="video-wrapper">
            <video src="/videos/spot1.mp4" id="video-1" width="100%" height="auto" playsinline webkit-playsinline controls>
            </video>
          </div>
        </div>
        <div class="col-12 col-md-6 q-pa-sm">
          <div class="video-wrapper">
            <video src="/videos/spot3.mp4" id="video-2" width="100%" height="auto" playsinline webkit-playsinline controls>
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import sliderReal from './realChanges/slider'

export default {
  // name: 'ComponentName',
  components: {
    sliderReal
  },
  data () {
    return {
      isPlay: false,
      isPlay2: false,
      showReal: false
    }
  },
  methods: {
    playVideo1 () {
      const video = document.getElementById('video-1')
      if (this.isPlay === false) {
        video.play()
        this.isPlay = true
      } else {
        video.pause()
        this.isPlay = false
      }
    },
    playVideo2 () {
      const video = document.getElementById('video-2')
      if (this.isPlay2 === false) {
        video.play()
        this.isPlay2 = true
      } else {
        video.pause()
        this.isPlay2 = false
      }
    },
    loadRealChanges () {
      this.showReal = true
    }
  }
}
</script>
