<template>
  <section>
    <div class="container" v-if="render">
      <div class="row">
        <div class="col-12" ref="service-detail-section" v-if="filter.id">
          <div class="row full-width">
            <div class="col-12 col-md-6">
              <div class="service-video">
                <vimeo-player ref="player" :video-id="'' + filter.video">
                </vimeo-player>
              </div>
            </div>
            <div class="col-12 col-md-6 flex flex-center q-pa-md">
              <div class="service-detail">
                <div class="row full-width">
                  <div class="col-12 text-left">
                    <span v-if="locale === 'es'" class="text-h4 text-uppercase text-primary title font-13">
                      {{filter.title}}
                    </span>
                    <span v-if="locale === 'en'" class="text-h4 text-uppercase text-primary title font-13">
                      {{filter.title_en}}
                    </span>
                  </div>
                  <div class="col-12 text-left shadow.2 text-secondary text-justify font-12">
                    <span v-if="locale === 'es'">{{filter.description}}</span>
                    <span v-if="locale === 'en'">{{filter.description_en}}</span>
                  </div>
                  <div class="col-12 q-mt-md">
                    <q-btn to="/agendamiento" rounded :label="$t('requestAppoiement')" color="primary" size="12px" class="title text-left text-capitalize" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container q-mb-xl q-pb-xl">
      <servicesList @loadData="loadData" />
    </div>
  </section>
</template>

<script>
import { services } from 'src/utils/services.json'
import servicesList from 'src/components/index/services/services'

export default {
  // name: 'ComponentName',
  components: {
    servicesList
  },
  computed: {
    locale () {
      return this.$store.getters['auth/locale']
    }
  },
  data () {
    return {
      services: services,
      filter: {},
      render: true
    }
  },
  methods: {
    filterService (id) {
      const search = this.services.find(data => {
        return data.id === id
      })
      this.filter = search
      this.$router.push(search.path)
      this.render = false
      this.$nextTick(() => {
        this.render = true
      })
    },
    loadData (id) {
      this.filterService(id)
    }
  },
  beforeMount () {
    this.filter = this.services.find(data => {
      return data.path === this.$route.path
    })
  }
}
</script>
