<template>
  <div class="container">
    <servicesList />
  </div>
</template>

<script>
import servicesList from './services/services'

export default {
  // name: 'ComponentName',
  components: {
    servicesList
  },
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>
