<template>
  <section class="bg-secondary q-mb-sm q-pb-xl" v-scroll-fire="loadRealChanges" style="margin-top: -30px">
    <div class="container">
      <div class="row full-width bg-info">
        <div class="col-12 q-mt-xl q-mb-xl q-pt-xl q-pb-xl text-center">
          <span :class="textH" class="text-primary title">{{$t('successStories')}}</span><br>
          <p :class="fontH" class="text-white q-mt-md">
            {{$t('trusUs')}}
          </p>
        </div>
      </div>
      <div class="row q-mb-xl q-pb-sm" style="margin-top: -108px" v-if="showReal">
        <successSlider />
      </div>
    </div>
  </section>
</template>

<script>
import successSlider from './successChange/slider'

export default {
  // name: 'ComponentName',
  components: {
    successSlider
  },
  computed: {
    textH () {
      return this.$q.screen.gt.lg
        ? 'text-h4'
        : 'text-h4'
    },
    fontH () {
      return this.$q.screen.gt.lg
        ? 'font-14'
        : 'font-14'
    }
  },
  data () {
    return {
      showReal: false
    }
  },
  methods: {
    loadRealChanges () {
      this.showReal = true
    }
  }
}
</script>
