<template>
  <q-layout view="lHh Lpr lFf">
    <q-header>
      <q-toolbar class="bg-black cursor-pointer clickable">
        <div class="brand" @click="$push('/')">
          <div class="row">
            <div class="col-md-6 col-6 q-pl-sm">
              <q-img class="brand-img self-stretch no-border-radius" flat  color="purple" src="images/logoalone.png">
              </q-img>
            </div>
            <div class="col-md-6 col-6 brand-title text-uppercase">
              <div class="row full-height flex flex-center justify-center">
                <div class="col-12 q-pt-md text-white">
                  <p>
                    Diana <br>pulgarin
                    <span class="brand-title-caption">dental group</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <q-toolbar-title class="q-pt-sm text-center gt-sm font-11 toolbar-title">
          <span v-for="(page, idx) in pages" :key="idx">
            <q-btn v-if="page.label !== 'fundation'" :to="page.path" :class="{ 'header-btn': $route.path === page.path }" class="title q-mr-sm rrss-icon font-12 text-capitalize" @click="setSelectedSection(page.id)" :label="$t(page.label)" flat dense  />
            <q-btn v-else type="a" :href="page.path" target="_blank" :class="{ 'header-btn': $route.path === page.path }" class="title q-mr-sm rrss-icon font-12 text-capitalize" :label="$t(page.label)" flat dense  />
          </span>
        </q-toolbar-title>

        <div class="row full-height flex-center justify-center q-pr-xl header-rrss n-m-pr text-right gt-sm q-mt-sm">
          <a v-for="(rrSs, idx) in rrSs" :key="idx" type="a" :href="rrSs.href" class="title rrss-icon col q-pa-sm" @click="setSelectedSection(5)" flat dense target="_blank">
            <center>
              <img :src="rrSs.icon" class="rr-ss-icon">
            </center>
          </a>
        </div>

        <q-space class="lt-md" />
        <q-btn flat round dense color="primary" class="lt-md" @click="leftDrawer = !leftDrawer">
          <q-icon style="height:16px; width: 24px;" name="menu" color="white" />
        </q-btn>
      </q-toolbar>
    </q-header>

    <q-drawer :width="250" v-model="leftDrawer" side="right" content-class="bg-gray">
      <div class="row q-pl-lg q-pt-md">
        <q-btn flat round dense color="primary" class="lt-md" @click="leftDrawer = !leftDrawer">
          <q-icon style="height:13px; width: 19px;" name="menu" color="primary" />
        </q-btn>
      </div>
      <q-list class="q-mt-lg">
        <q-item v-for="(page, idx) in pages" :key="idx" clickable v-ripple :to="page.path" class="q-pa-none">
          <q-item-section class="full-width title text-primary text-uppercase" :class="setActiveClass(page.path)">
            <q-item-label class="full-width title text-uppercase">
              {{$t(page.label)}}
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
      <div class="row justify-center absolute absolute-bottom q-mt-md q-mb-sm">
        <div class="col-12">
          <q-img src="images/dp_Logotipo-Dorado.png" width=" 100px" />
        </div>
        <div class="col-12 q-mt-md text-primary">
          info@dianapulgarin.com
        </div>
        <div class="col-12 q-mt-sm text-primary">
          (+57) 3012719450
        </div>
        <div class="col-12 q-mt-md">
          <rrssIcons />
        </div>
      </div>
    </q-drawer>

    <q-page-container>
      <q-ajax-bar ref="bar" position="top" color="primary" size="4px" skip-hijack/>
      <router-view />
      <floatButton />
    </q-page-container>
  </q-layout>
</template>

<script>
import rrssIcons from 'src/components/layout/rrssIcons'
import floatButton from 'src/components/index/floatWsButton'

export default {
  name: 'MainLayout',
  components: {
    rrssIcons,
    floatButton
  },
  computed: {
    locale () {
      return this.$store.getters['auth/locale']
    }
  },
  data () {
    return {
      leftDrawer: false,
      selectedSection: 1,
      rrSs: [
        { icon: 'images/youtube.png', href: 'https://www.youtube.com/channel/UCmFFQqYvl8akrOAe9FpYGFA', width: '28px', height: '23px', class: 'youtube' },
        { icon: 'images/social.png', href: 'https://twitter.com/DraDianaPul', width: '28px', height: '23px', class: 'twitter' },
        { icon: 'images/facebook.png', href: 'https://es-la.facebook.com/pg/DraDianaPulgarin', width: '23px', height: '25px', class: 'facebook' },
        { icon: 'images/insta.png', href: 'https://www.instagram.com/dradianapulgarin', width: '25px', height: '25px', class: 'insta' }
      ],
      pages: [
        { id: 1, path: '/', label: 'home' },
        { id: 2, path: '/servicios', label: 'services' },
        { id: 7, path: '/casos-exito', label: 'successStories' },
        { id: 3, path: '/pagos', label: 'payment' },
        { id: 4, path: '/agendamiento', label: 'date' },
        { id: 5, path: '/blog', label: 'blog' },
        { id: 5, path: 'https://www.fundacion.dianapulgarin.com/', label: 'fundation' },
        { id: 6, path: '/vacantes', label: 'vacantes' },
        { id: 6, path: '/contacto', label: 'contact' }
      ]
    }
  },
  methods: {
    setSelectedSection (i) {
      this.selectedSection = i
    },
    openUrl (key) {
      window.open(key, '_blank')
    },
    getClientData () {
      this.$store.dispatch('auth/setLocale')
        .then((resp) => {
          this.$i18n.locale = this.locale
        })
        .catch((err) => {
          console.log(err)
        })
    },
    setActiveClass (path) {
      if (path === this.$route.path) {
        return 'active'
      } else {
        return 'no-active'
      }
    }
  },
  beforeMount () {
    console.log(this.$route.path)
    this.getClientData()
  }
}
</script>
