<template>
  <div class="col-12 q-mt-md" v-if="caseSuccess.length > 0">
    <VueSlickCarousel v-bind="options" class="slickReal">
      <div class="q-pa-sm relative" v-for="(item, index) in caseSuccess" :key="index">
        <VueCompareImage class="slider-example-focus" :rightImage="url + '/images/caseReal/' + item.comparative_path" :leftImage="url + '/images/caseReal/' + item.path" />
        <div class="lef text-bold">
          {{$t('after')}}
        </div>
        <div class="rig text-bold">
          {{$t('befor')}}
        </div>
      </div>
    </VueSlickCarousel>
  </div>
</template>

<script>
import { domain } from 'src/api/data'

import VueSlickCarousel from 'vue-slick-carousel'
// optional style for arrows & dots
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

import VueCompareImage from 'vue-compare-image'

export default {
  // name: 'ComponentName',
  components: {
    VueSlickCarousel,
    VueCompareImage
  },
  computed: {
    caseSuccess () {
      return this.$store.getters['caseReal/caseReal']
    }
  },
  data () {
    return {
      url: domain,
      render: false,
      beforeImage: null,
      afterImage: null,
      beforeAfter: false,
      options: {
        dots: true,
        arrows: false,
        infinite: false,
        speed: 500,
        slidesToShow: 4,
        slidesToScroll: 4,
        draggable: false,
        touchMove: false,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 3,
              infinite: true,
              dots: true
            }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2,
              initialSlide: 2
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2
            }
          }
        ]
      },
      setHide: false
    }
  },
  methods: {
    getActives () {
      this.$store.dispatch('caseReal/getCasesActives')
        .then((resp) => {
          setTimeout(() => this.setHideTime(), 8000)
        })
        .catch((err) => {
          console.log(err)
        })
    },
    setBeforeAfterImage (path, path2) {
      this.render = false
      this.beforeImage = path
      this.afterImage = path2
      this.beforeAfter = true
      this.render = true
    },
    onTap (e) {
      e.preventDefault()
    },
    setHideTime () {
      const handle = document.getElementsByClassName('handle')
      for (let i = 0; i < handle.length; i++) {
        handle[i].setAttribute('class', 'handle hide-8')
      }
    }
  },
  created () {
    this.getActives()
  }
}
</script>
