<template>
  <div class="row">
    <div class="col-12 q-pa-md">
      <loginForm />
    </div>
  </div>
</template>

<script>
import loginForm from 'src/components/auth/components/form'

export default {
  // name: 'ComponentName',
  components: {
    loginForm
  },
  data () {
    return {}
  }
}
</script>
