<template>
  <q-page padding>
    <indexCaseReal />
  </q-page>
</template>

<script>
import indexCaseReal from 'src/components/admin/caseReal/index'

export default {
  name: 'PageIndex',
  components: {
    indexCaseReal
  }
}
</script>
